[2017-12-08 02:42] chhsiao90 commented on #285
I will take a look why this commit disappeared.

[2017-12-08 12:49] mdzhigarov commented on #20
Could you please review this question on StackOverflow:
https://stackoverflow.com/questions/47714144/modelmapper-how-to-handle-null-values-for-enums

Seems to be pretty close to what this issue was about.
I still fail to grasp how to implement String to Enum conversion though.
How are we supposed to handle null in configure?

[2017-12-08 12:49] mdzhigarov commented on #284
Sure, I will see what I can do in the next days

[2017-12-08 13:24] mdzhigarov commented on #20
Seems that I found a solution:

[code]

This works fine but it basically uses my own Converter<String, MaskType> implementation.
I see that there is a class called EnumConverter that does exactly what I am trying to achieve here.

Is there I was I can reuse this class instead of defining my own converter?

[2017-12-09 17:42] vittoriocb commented on #87
+1 Waiting for this. Any updates?

[2017-12-12 02:27] chhsiao90 commented on #285
It looks like #79 removes the commit by #46. But I think #79 won't break anything. Is there any problem you had met? Can you post your reproducible code and exception stacktrace? Thanks

[2017-12-12 02:38] chhsiao90 commented on #274
Another ref: https://groups.google.com/forum/#!topic/modelmapper/m949j-tUpVw

[2017-12-12 05:43] chhsiao90 opened #287 "NullPointerException when mapping final class by using java 8 property mapping feature"
https://groups.google.com/forum/#!topic/modelmapper/m949j-tUpVw

[2017-12-12 05:47] chhsiao90 opened #288 "Supports LocalDateTime and LocalDate"
Related to #275

I think we can create a module for java 8 stuff just like [jackson-modules-java8](https://github.com/FasterXML/jackson-modules-java8) and will load into modelmapper automatically if present in the classpath.

[2017-12-12 07:23] chhsiao90 commented on #281
### First Question

Yes.

I agreed with the fail fast principle, but it's really hard to know it's wrong or not.

### Second Question

This is just how ModelMapper implicit mapping works.
We had some different behavior between explicit mapping (using ```addMappings``` to define customize mapping) and implicit mapping (automatically mapping).
Explicit mapping is you can do whatever you want to do,

[2017-12-12 07:24] #287 closed

[2017-12-12 08:58] chhsiao90 commented on #283
Thanks for this report, your case is a bit complicated, I will take a look, thanks.

[2017-12-12 09:44] chhsiao90 commented on #283
Hi @bstrandjev - I had a PR that fixed this problem.

My idea is, we should not traversal the destination properties if there is already a TypeMap defined in our TypeMapStore.
But with this PR, you should change the ordering of adding the mappings to the ModelMapper as below.

[code]

Is this PR can fix your problem? Thanks!

[2017-12-13 07:26] chhsiao90 opened #291 "Support primitive type converter"
https://groups.google.com/forum/#!topic/modelmapper/YJ017EENDS4

[2017-12-13 08:06] #291 closed

[2017-12-13 08:12] bstrandjev commented on #283
I confirm the test that I wrote passes with your PR. However:

1. I want to spend some more time to understand the nature of your change
1. I do not like the fact that the order of adding the mappings actually matter. The defect I created was a result of a bug that took me DAYS to localize. I definitely doubt that anyone stumbling upon the same problem will know from the very beginning that there

[2017-12-13 08:43] chhsiao90 commented on #283
Yeah, agreed with you. The ordering about TypeMap to be added into the modelmapper is also been discussed at #283.

I know it's not very straightforward, but it's just how ModelMapper works.
If TypeMap A depends on TypeMap B, then you should add TypeMap B before TypeMap A.

For your case, maybe you can try disabled the [setImplicitMappingEnabled](http://modelmapper.org/javadoc/org/modelmapper/conf

[2017-12-15 08:11] bstrandjev commented on #283
Maybe you cited the wrong issue in

Can you please check?

The suggestion

Is not good either, I think, because it is yet another solution that you will identify only if you know what the issue is and how to fix it (which will most certainly not be the case for any person that hits the same problem as me).

I truly believe that the direction this should be solved with is to completely disallow imp

[2017-12-15 14:35] mdzhigarov opened #293 "NPE when creating proxy for a class type that cannot be loaded"
I am getting the following NPE:

[code]

Using the debugger I identified that ProxyFactory#proxyClassFor() line 68 throws NoClassDefFoundError,
because cglib cannot load the type - javax.xml.datatype.XMLGregorianCalendar in this case.
This is OK, since I run in an OSGi container and the class is indeed not loadable by the current bundle classloader.

However, I have defined an explicit mapping, i.

[2017-12-15 15:41] mdzhigarov commented on #293
Closing this issue. Seems that ModelMapper is correctly setting the classloader in cglib's Enchancer but since the classloader is not able to load the type, proxying simply fails.
Unfortunately, there is nothing that ModelMapper can do in this case since the failure happens in cglib.

The client code must make sure that if it runs withing an OSGi container, the classloader of the weaved class must

[2017-12-16 12:32] mdzhigarov commented on #293
Reopening the issue because of the NPE.

Instead of NPE the user should be able to see the original error that cglib threw - the NoClassDefFoundError in that case.

I noticed that the code:
[code]
simply swallows the ErrorsException that the proxy factory throw and returns null.
Seems this was changed recently.
Any idea why? I think we should throw the exception so that the user can see what actua

[2017-12-18 15:54] mdzhigarov commented on #293
Related to https://github.com/modelmapper/modelmapper/issues/287

The NPE still occurs, just at another location

[2017-12-19 20:48] computerlyrik commented on #254
Similar issue here

[2017-12-20 12:12] christoph-lucas commented on #281
@chhsiao90 : Thank you very much for your elaborate reply. I really appreciate your taking the time to explain that issue. Concerning your replies:

In which sense is it hard to know if it's wrong or not? I can think of two interpretations:
* Do you mean that having an `addMapping` call that has no effect could also be correct? I cannot think of a situation where a programmer explicitly adds a lin

[2017-12-21 12:29] mdzhigarov opened #295 "Obtaining field & method annotations of the source types is not possible from the MappingContext"
It would be nice if we could obtain the annotations of a mapped field or its setter/getter from the MappingContext.
Today this is possible for destination properties, i.e:
context.getMapping().getLastDestinationProperty().getMember()

For the source, we have nothing

[2017-12-21 13:52] mdzhigarov commented on #295
Closing the issue. Seems we already do have the option to obtain the source field from the context. We just need to cast the Mapping to PropertyMapping

[2017-12-21 13:52] #295 closed

[2017-12-25 06:34] chhsiao90 commented on #293
Okay, I will take a look for this issue.

[2017-12-25 06:37] chhsiao90 commented on #254
This issue is a little complicated and still don't have time to take a look for this. It will be great if anyone can help for this!

[2017-12-27 09:17] kschulst commented on #108
+1 for this feature. Would certainly simplify mapping code.

[2018-01-02 14:16] SomeDude1234 commented on #291
Hi,

When will this be available (so when will 1.1.2 will be released?)

[2018-01-02 16:10] akabynga opened #296 "ModelMapper and Java 9"
It seems that ModelMapper does not work with Java 9. (The same code working with Java 8)

Exception in thread "main" org.modelmapper.ConfigurationException: ModelMapper configuration errors:

1) Failed to configure mappings

1 error
	at org.modelmapper.internal.Errors.throwConfigurationExceptionIfErrorsExist(Errors.java:241)
	at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMapping

[2018-01-02 17:51] jhalterman commented on #296
Might need to upgrade ASM...

[2018-01-03 12:10] almoghzn opened #297 "Detection of "circular dependencies" causes to return empty/null objects"
I have the following data structure which I want to map (in parenthesis is the instance id):

Show (11)
   Screen (21)
      Source (31)
         name:String = "a" (311)
      Source (32)
         name:String = "b" (312)
Show (12)
   Screen (21)
      Source (31)
         name:String = "a" (311)
      Source (32)
         name:String = "b" (312)

Explanation:
I want to map:
List of Show
Which each

[2018-01-03 12:11] JuricaJaman commented on #64
i am not sure anymore to use modelmapper at all in 2018 still this problem exists

[2018-01-05 08:12] mdzhigarov opened #298 "Inheritance mapping for unknown child types during runtime"
I have some complex hierarchy of source class types, which have a common parent class. Same for destination types - many child types which have a common parent.

I do not know every source/destination child class type. New child types may come and go during runtime.

I am trying to map a source type do destination type.
I have defined an explicit mapping for the parent types.

When I call map(srcP

[2018-01-05 10:00] chhsiao90 commented on #298
Please try http://modelmapper.org/user-manual/type-map-inheritance/

[code]

[2018-01-05 10:08] mdzhigarov commented on #298
This works fine but one has to know the Src type in advance in order to register a new type map. I do not know all child types in advance so this won't work for me.

I considered using a conditional converter with partial match. This looks promising.

[2018-01-06 08:11] mdzhigarov commented on #270
Hi,

I have a similar problem with jaxb generated classes, with explicit mapping.

When the xsd contains multioccurrence element, JAXB2 creates a class that has a list with only a getter method. (See the class below, protected List<KeyValueType> parameters;)
This becomes a problem when you want to have such collections mapped as destinations.

How does one define a mapping for property which does

[2018-01-06 09:50] mdzhigarov commented on #270
As a temporary workaround one could use:
https://stackoverflow.com/questions/13335116/when-generating-java-sources-with-maven-jaxb2-plugin-how-to-enable-setters-for

It explains how to configure xjc in order to generate a setter method for your collection type

[2018-01-09 12:04] AlexTrotsenko commented on #213
@chhsiao90 it's good to hear, that this nice project has maintainer and your plan looks great.
 I only want to add, that besides  _dead_ [android-transformer](https://github.com/txusballesteros/android-transformer) lib, I was not able to find anything, which works on Android. So, your plan to support Android eventually looks definitely great!
Do you already have something in mind? E.g. using ByteB

[2018-01-12 18:11] mkadan opened #301 "Takes N*N stack frames to convert a collection with cycle"
After some investigation I found out that it takes N*N stack frames to do that, which is definitely not an optimal implementation.

Consider the following code:

[code]

I got StackOverflowError there. When I put a breakpoint in IterableConverter.java:49, I can see the following picture regarding "index" local variable:

[code]

It stops when it reaches the last element of the collection, which is

[2018-01-17 09:20] ivanarkhipov commented on #243
Any update on this issue?

[2018-01-18 18:36] risbarov opened #302 "Mapping one subclass with base class to two linked objects"
Hello dear support team!

I use following class structure:

[code]

Now I would like to map object of class Bsrc to Bdst and Adst:

[code]

But destination.getD() is null. What's wrong?

[2018-01-18 19:49] psamwel commented on #99
Only way I could get around it in my scenario was to create a Converter<EnumSourceType, EnumDestType> like:

`    public static Converter<EnumSourceType, EnumDestType> enumConverter = new Converter<EnumSourceType, EnumDestType>()
    {
        @Override
        public EnumDestType convert(MappingContext<EnumSourceType, EnumDestType> mappingContext) {
            if(mappingContext.getSource() != nu

[2018-01-22 09:57] HerrDerb opened #303 "Forward source objects which are null"
Currently, when passing a  `null` value as source object, a `IllegalArgumentException` is thrown, as an assertion is made `Assert.notNull(source, "source");`

In my opinion, this should not be any concern of the `ModelMapper`. If a `null` value is passed, the `ModelMapper` should simply return a `null` value.

**Example usage:**
_Currently:_
The `ModelMapper` has impact on my code.
[code]

_Expect

[2018-01-26 07:32] chhsiao90 commented on #303
I don't suggest to support handling null source in ModelMapper.
Because ModelMapper can't figure out the source type if source is null, and that would make some problem and confused.

For example
[code]

So I suggest check null before map.

[2018-01-26 08:20] chhsiao90 commented on #302
hi @risbarov,
Can you provide full source code?
There are some problems in your code that I cannot figure out your case.

- How you construct your Bsrc
- It looks like you had getter/setters in your destination class, is that right?
- How about your src class?

Thanks.

[2018-01-29 02:15] chhsiao90 commented on #301
It looks like that ModelMapper is not doing well for automatically mapping for this self-reference recursive case.

It's hard to explain, the problem is that ModelMapper will create `a`s for each b, and it will also create `bs` for each `b.a`. So it turns out a very deeply stack.
You can add below code to prevent from this problem. ModelMapper is smart, but not smart enough. Sometimes you still ne

[2018-01-30 11:31] russellhoff opened #304 "Implicit conversion to GeoJSON"
Is it possible to make ModelMapper convert JTS Geometries as GeoJSON objects implicitly? You may use [Jackson Datatype JTS](https://github.com/bedatadriven/jackson-datatype-jts) library.

Keep up the good work!

[2018-01-31 07:53] mudassir047 commented on #64
mapper.getConfiguration().setMatchingStrategy(MatchingStrategies.STRICT);

[2018-02-01 10:17] mbm56767 commented on #198
you can simply put the conversion logic outside of property map and simply use the computed value inside mappings.  This way things will be easy to maintain.

[2018-02-03 09:45] Shinryuken commented on #270
thanks, i will try that plugin

[2018-02-03 14:21] jcamiloradamesa opened #305 "Converter use default mapping"
Hello Guys

I have lets said class `EntityA` and `EntityADto` and I need custom mapping (with some complex calculation) to one of  properties. The problem is that this property mapping required another property of source object so I can not use a `Converter` for it or a `PropertyMapper` as they can not access parent property required for calculation.  Right now I solve the problem with custom conv

[2018-02-07 13:07] mrshawn191 opened #306 "Deep mapping to a constants?"
Hi how do you do a simple constant mapping

mapper.map(x -> "TEST", Customer::setName)

seems to return illegal source getter

[2018-02-07 17:37] prinal10 opened #307 "Add deep cloning feature"
It will be nice to add a deep cloning of the same object. Something like this:

User user1 = modelMapper.map(user, User.class);

[2018-02-14 10:27] ChrisJam opened #308 "Mapping of variables ending with number not working correctly"
This error occurs only if your given variable name ends in a number.
In this case modelmapper will not detect the variable.

Test Case:
[code]

Result:
org.junit.ComparisonFailure:
Expected :1
Actual   :0

[2018-02-16 12:14] yolave opened #309 "Reverse mapping having a previous defined map?"
I've been using ModelMapper in my project and this works like a charm. However, meanwhile i was finishing to map all my entities to DTO, i was thinking if it's possible to make the inverse process when you have a TypeMap already defined.

Assuming the relationship "source field to destiny field" defined by a property map, might this be used to fill a bean in a reverse way (DTO to Entity)?

Thank y

[2018-02-23 06:11] phazebroek opened #310 "Nullpointer exception on Websphere stack"
With version 1.1.2 I get a NullPointerException on the following code:

`.addMappings(mapping -> mapping.skip(Foo::setSomeProperty))`

The field I want it to skip is a primitive boolean annotated with @Transient.

The error I get is:
[code]

Where ModelMapperConfiguration.java:119 refers to the line I mentioned above.
Commenting out that line resolves the issue and allows me to boot my app again.

[2018-02-23 17:15] vlad2 commented on #254
Same issue here.

[2018-02-26 11:58] phazebroek commented on #310
Issue can be closed again.
Apparently there was a change on our websphere environment (infra team changed the vendor of the JVM to IBM and there was a bug in it... after upgrading to latest the issue magically disappeared)

[2018-02-26 12:00] #310 closed

[2018-02-26 23:02] shollander opened #311 "Custom converter not called on generic collection"
I need to use a custom converter to provide some conversion logic. The custom converter gets called and works great when the target is a simple property. When the target is a List the custom converter never gets called.

Example:

[code]

Conversion code:

[code]

The custom converter is call for `favoriteHobby`, but not for any of the objects in `otherHobbies`.

[2018-02-28 00:40] piotr0000 commented on #296
Hello. I can't reproduce your problem. I use above source code compiled on Java 8 and run on Java 9 and it works correctly. Last line from main shows "string: TEST" without any exceptions.
1. Which version of modelmapper do you use ?
2. Do you use other libraries in project ? Maybe some dependencies conflict causes problem in your project.
3. Which version of Java do you use to compile your projec

[2018-03-02 18:22] bplies-IAS commented on #162
Experienced this problem with 0.7.5 exactly as reported.  Using javac -parameters and a class that implements `Comparable`.  Just updated to 1.1.2 and it works fine now.  May be able to mark this ticket as resolved.

[2018-03-03 11:05] glains commented on #296
I can also confirm this error using Java version 9.0.4 and
[code]

I used nearly the same test classes as described above:
[code]

[code]

[2018-03-03 12:27] piotr0000 commented on #296
@glains, I checked that your code also doesn't work on Java 8 or later. It throws similar exception like yours. The reason is that you're using static classes. When you use non static classes (typical objects in fact), it works correctly on Java 8 & Java 9. By the way, last merged commit: "Updates asm, cglib and objenesis to their latest versions" https://github.com/modelmapper/modelmapper/commit/

[2018-03-03 13:16] glains commented on #296
Great stuff, i will check that in a moment and reply here. However, i originally found this issue since my project has the same problem, but i am using pojos there, not static classes.

[2018-03-03 13:57] piotr0000 commented on #296
Please check all your issues using modelmapper from branch: master (not 1.1.2 version)

[2018-03-07 14:07] leonroy opened #312 "ModelMapper trying to map MyEntity.id > MyDto.callerId"
ModelMapper seems to be trying to map the property of my Dto `String callerId` onto a property of my Entity `Long id`.

DTO:

[code]

Entity:

[code]

if I try to `map(dto, Endpoint.class`) I get the following error:

[code]

[2018-03-09 10:51] robbiepl opened #313 "no mapping fields java.util.Optional<any Collections>"
source object:
[code]
destination object:
[code]

mapping to cc -> null;

[2018-03-10 19:43] HigorSenna commented on #239
Thank's for help @jdhenckel, i love you xD.
I used modelMapper.getConfiguration().setAmbiguityIgnored(true), and problem solved.

[2018-03-16 07:17] chhsiao90 commented on #296
I will check if #300 fix some java 9 problem, and will cut a release this weekend.

[2018-03-19 00:22] piotr0000 commented on #296
Great. Please close this post (#296).

[2018-03-21 05:27] chhsiao90 commented on #296
I had a release v1.1.3 with the dependency update, please take a look if this fix the issue, thanks.

[2018-03-21 14:48] quangthe commented on #285
I have the problem with BigDecimal as well. Source object has to fields cr = 12.45 and dr = 0 then after converting source object to dto, the dto has cr = 1 and dr = 0.

[2018-03-21 23:25] piotr0000 commented on #296
Thanks. I confirm. Please close this post (#296).

[2018-03-22 04:02] #296 closed

[2018-03-22 21:50] zoepeterson opened #314 "Inconsistent mapping"
Hello,

I am trying to map an object with a complicated hierarchy of subobjects. I also have logic in the setters to capture if a field is present or not, so I care about calling the setters even for null values.

For one of the subobjects, I'll call it classA, I am explicitly mapping from the source to the destination. For a field that stores an array in classA, when the source value for that fie

[2018-03-26 06:14] chhsiao90 commented on #314
Hi @zoepeterson - Can you provide reproducible code so that I can figure out where's the problem, thanks.

[2018-03-26 06:20] chhsiao90 commented on #285
The unit test https://github.com/modelmapper/modelmapper/blob/master/core/src/test/java/org/modelmapper/bugs/GH46.java with our latest version, can you provide reproducible code? Thanks.

[2018-03-27 08:52] julianps opened #315 "vavr.io collection mapping"
modelmapper.version: 1.1.2
vavr.version: 0.9.0

Hi all,

we're using [vavr collections](http://www.vavr.io/vavr-docs/#_list) in our product. The following example does not map correctly:

[code]

When mapping an instance of CompanyCars (cars list has one item) to an instance of PrivateCars, the resulting privateCars object has an instance of type BlueCar in the cars list.

[2018-03-27 08:54] julianps commented on #315
i would like to create a pr for this if it turns out to be an actual issue.

[2018-03-28 09:44] chhsiao90 commented on #315
Can you try following code?

[code]

[2018-03-28 10:01] chhsiao90 opened #316 "ModelMapper with modules"
There are many 3rd party libary or some jdk8 classes that are wildly used but modelmapper can't really support it.

I think we can provide a way with module system like how [Jackson](https://github.com/FasterXML/jackson-databind) and [Jackson Modules](https://github.com/FasterXML?utf8=%E2%9C%93&q=jackson-module&type=&language=) do so that we won't break our modelmapper core but provide more featur

[2018-03-29 02:00] zyong2004 commented on #236
hi,  its happen again.....      stacktrace---》
org.modelmapper.MappingException: ModelMapper mapping errors:

1) Error mapping com.xlnodecore.common.dal.model.NodeCreditPhoto to com.xlnodecore.common.service.facade.vo.NodeCreditPhotoVo

1 error
	at org.modelmapper.internal.Errors.throwMappingExceptionIfErrorsExist(Errors.java:374) ~[modelmapper-0.7.8.jar:na]
	at org.modelmapper.internal.MappingEng

[2018-03-29 02:37] chhsiao90 commented on #236
I guessed it's class loading issue, NodeCreditPhoto class was re-loaded (with new class loader). Did you use any library or middleware that might reload the clas, like spring boot devtools that provide automatically restart mechanism (without restarting the JVM).

[2018-03-29 10:45] zyong2004 commented on #236
no,   JVM is  always on

[2018-03-29 17:32] thelo-gaultier commented on #182
@ehmkah Although this works for a list it does not work for a single object, have you found how to convert a single object?

[2018-03-30 02:06] chhsiao90 commented on #236
Do your JVM had any library that would hot-reload or hot-restart the application without restart the JVM? Like spring-boot-devtools or jrebel? Did you start the JVM with the IDE (ex: Ecplise or IntelliJ)?

[2018-03-30 08:06] chhornponleu opened #318 "Error with multiple converters of java.util.Set or java.util.List property"
I have problem with mapping with multiple converters
[code]

and here is my converter
[code]
Converting 'children' property is okay, but I notice that with it start to convert ```Set<Asset>``` to ```Set<AssetDTO>```, 'assets' fields, it use personConvert to make conversion and error thrown.

I change the order to
[code]
*What made error here is that the mapper cannot distinguish between ```Set<Ass

[2018-04-01 21:07] ehmkah commented on #182
@thelo-gaultier : I am sorry, I do not know it. To much time passed since then. Maybe transforming you Object to a list with one entry helps? Ugly, I know. But you could write a unit test with your setup and someone will help you, at least me they helped. And than make a pull-request and they have an other great example.

[2018-04-02 06:43] chhsiao90 commented on #318
hi @chhornponleu ,

Can you try this?

[code]

[2018-04-03 07:49] chhsiao90 commented on #312
Can you try [skipping-properties](http://modelmapper.org/user-manual/property-mapping/#skipping-properties) or [MatchingStrategy.Strict](http://modelmapper.org/user-manual/configuration/#matching-strategies)? Thanks.

[2018-04-03 07:53] chhsiao90 commented on #311
Can you try this one? Thanks.
[code]

[2018-04-03 08:12] chhsiao90 commented on #309
I think it's a good proposal and nice feature to have, but it's hard implement. It's hard to define how we should map destination to source if we only know how to map source to destination.

For example, if we had a converter `toUpperCase` using to map entity.firstName to dto.firstName like this `using(toUpperCase).map(entity.firstName, dto.firstName)`. How can I reverse-map this?

[2018-04-03 08:27] chhsiao90 commented on #308
Hi, I can't reproduce this issue. Can you provide which version you use or update to latest version? Thanks.

[2018-04-03 08:45] chhsiao90 commented on #278
It's a bug, but I'm not sure that I can fix this issue. Handling generic type is always hard, and I have no idea how to fix this bug at this moment. I will try to figure out a fix.

[2018-04-03 08:56] chhsiao90 commented on #279
Using converter to map a property is a recommend way. May I know why you think it's a hacky way? And any idea that we can improve our api? Thanks.

[2018-04-03 08:56] MS-Song opened #319 "setSkipNullEnabled(true) is null skip, I want String blank skip."
Hello.
I use ModelMapper well.

I want config String is "" or "  "  skip mapping all object.

I know Null value skip is
modelMapper.getConfiguration().setSkipNullEnabled(true);
OR
modelMapper.getConfiguration().setPropertyCondition(Conditions.isNotNull());

But, How to String is Blank Skip config?

Thx.

[2018-04-03 09:08] #269 closed

[2018-04-03 09:09] chhsiao90 commented on #283
Okay, I will consider if there can be some improvement. Thanks for your feedback.

[2018-04-03 09:11] #284 closed

[2018-04-03 09:34] chhsiao90 commented on #319
Is your source an object or a string? Can you provide an example? Thanks.

[2018-04-03 09:47] MS-Song commented on #319
I found it.

// string blank condition
Condition<?, ?> isStringBlank = new AbstractCondition<Object, Object>() {
    @Override
	public boolean applies(MappingContext<Object, Object> context) {
	if(context.getSource() instanceof String) {
		return null!=context.getSource() && !"".equals(context.getSource());
	} else {
		return context.getSource() != null;
	}
    }
};
ModelMapper modelMapper = new M

[2018-04-03 09:56] chhsiao90 commented on #319
So if we have this, the mapped will not be invoked if source.name or source.address is empty?

[code]

[2018-04-04 07:59] julianps commented on #315
works thank you! May i ask why this doesn't work out-of-the-box? Is it possible to change the code so that this kind of "special configuration" is not needed? Best, Julian

[2018-04-04 14:27] chhsiao90 commented on #315
Yes, because vavr not extends collections.... But I would like make this better, so I want to create modules that would support every popular library can be supported out-of-the-box! #316

[2018-04-04 15:21] anboss opened #320 "Map Flat Structure to Hierarchial Structure using ModelMapper"
The below class is my Target:

I have a Employers class that has a list of Employer. Employer class has employer attributes and a list of employees.

[code]

Now my source is a flat structure:

I have a class EmployersDTO which has list of EmployerDTO. EmployerDTO has employerid, employername, employeeid and employeename attribute.

It looks like below:

[code]

Is this kind of mapping from the ab

[2018-04-06 06:34] error84 commented on #182
I still have problems with inheritance. Starting from the example in modelmapper/examples/src/main/java/org/modelmapper/inheritance, if you add a property on BaseSrcA and BaseDestA, its value never gets copied.

Is this a bug in ModelMapper inheritance implementation, or is there something missing in the configuration in the example? Anyway, the provided example/test to simplistic, and only valida

[2018-04-06 07:03] error84 commented on #182
Ok, for those interested in a workaround. You can force population of the properties if you explicitly map the target object in the provider, like this:

`    TypeMap<BaseSrc, BaseDest> typeMap = modelMapper.createTypeMap(BaseSrc.class, BaseDest.class)
// the workaround only works if you uncomment these
//            .include(BaseSrcA.class, BaseDestA.class)
//            .include(BaseSrcB.class,

[2018-04-08 09:29] zyong2004 commented on #236
no,  use tomcat

[2018-04-09 01:04] chhsiao90 commented on #236
Hi @zyong2004,
Can you try doing `System.out.println(NodeCreditPhoto.class.getClassLoader())` everytime before doing the mapping (Or using log4j/slf4j to log). And please check is the class loader same or not when it's broken again. Thanks.

[2018-04-09 01:30] chhsiao90 commented on #320
hi @anboss,

I think there is no problem for employerId mapping. Can you provide your modelmapper version or upgrade to the latest version and try again?

It's hard to map flat to hierarchical, maybe you can try
[code]
And merge Employer.employee into one list that had same employer.

[2018-04-09 05:47] #319 closed

[2018-04-09 05:48] #315 closed

[2018-04-09 08:58] #316 closed

[2018-04-10 01:55] chhsiao90 commented on #320
hi @anboss, the lastest is 1.1.3, you can download it from maven central here http://repo1.maven.org/maven2/org/modelmapper/modelmapper/1.1.3/ . The modelmapper will be updated.

[2018-04-10 02:01] anboss commented on #320
Thank you!! for your timely response.

My requirement apparently is to expose a generic API that does the mapping and in the api we have to call a generic function (like we have map() in modelmapper) and let it do the mapping between any object and a schema. Today we are dealing with a Employee usecase here. At a later stage we may deal with say, a Order usecase which will have a order object whic

[2018-04-10 02:17] chhsiao90 commented on #320
Yes, my solution is just for a specific case.

We hope ModelMapper can support most cases without complex configuration. But it looks like it can support 1-to-1 mapping well, but one-to-many is not. So it need specific configuration for each case.

Can you provide more about your use cases and maybe we can figure out what we can improve our API.

For example,
- What it looks like for Order/OrderDT

[2018-04-10 02:30] anboss commented on #320
I took Employee and Orders for example for the POC i am doing with ModelMapper.

So, Here is what i am trying to see if ModelMapper can help achieve.

Let us take a look at the map() function. It takes a source object as the first argument and a class which is our target as the second argument. I should be able to expose an API which uses the map() and map the source object and set the target impl

[2018-04-10 02:56] chhsiao90 commented on #320
ModelMapper is working well for flatten-to-hierarchical([example](http://modelmapper.org/examples/projection/)) / hierarchical-to-flatter([example](http://modelmapper.org/examples/flattening/)), but it can't not work with many-to-one case.

So I'm not sure is there many cases like your Employer example, is Order same?

Another idea for your employer case, maybe you can try
Have employer field in y

[2018-04-10 15:25] miloradtrninic commented on #179
How to go around stream and maps? I have the same issue as OP and can't find the solution.

[2018-04-11 12:33] #179 closed

[2018-04-11 12:34] chhsiao90 commented on #254
Class loading issue is always hard to solve, I will take a look for this recently.

[2018-04-12 07:02] user140547 opened #322 "ModelMapper and Java 10"
Similarily to this issue #296 , Modelmapper does not work with Java 10. Although the class file format has not changed (and I don't know if any other changes are necessary), the version has been updated to 54, and there is a check that the version must not be >53

[code]

[2018-04-12 07:16] chhsiao90 commented on #322
We need to update cglib to 3.2.6 and asm to 6.0 to support Java 10.

[2018-04-13 03:57] chhsiao90 commented on #293
Hi @mdzhigarov, Can you provide reproducible code and stacktrace to me? Thank you.

[2018-04-13 04:07] chhsiao90 commented on #313
I will provide modelmapper-module-jdk8 to support this.

[2018-04-13 04:08] chhsiao90 commented on #322
It should be fixed by #323 .

[2018-04-17 17:27] vpsouza opened #324 "Validation does not increase the Jacoco coverage ration (calling getters on destination)"
For Jacoco coverage ration purpose we need to get 1.0 but when ModelMapper performs the mapping only the setter methods are called on the destination class. I tried to use the modelMapper.validate expecting that validation should call the getters for all properties on the destination and check if the values is the same as the source properties increasing the jacoco coverage ratio but it only check

[2018-04-17 19:01] vmf commented on #97
Hi there! I'm working on a project that aims to solve common JPA problems when mapping entities to DTOs using ModelMapper. This issue has already been solved on the project. Project link: [JPA Model Mapper](https://github.com/vmf/modelmapper-jpa)

[2018-04-18 02:17] chhsiao90 commented on #324
There is some changes over the validate method, that's why the getter is not invoked after you upgrade to v1.0. Is there any way that you can bypass the coverage report to exclude the getters/setters? I think it's useless to check the coverage over the getters/setters.

[2018-04-18 13:46] oks5228 commented on #322
Explicit mapping using PropertyMap is not working with Java 10 (target and source compatibility).

I built library on my own using commit f2581ca. I'm including
[zip file with project](https://github.com/modelmapper/modelmapper/files/1924232/mapovani.zip) to induce this behaviour.

`Exception in thread "main" org.modelmapper.ConfigurationException: ModelMapper configuration errors:

1) Failed to c

[2018-04-19 03:52] quangthe commented on #285
@chhsiao90 In my code has some method like boolean isCr() and boolean isDr(), that's why it has strange behavior. After rename these methods, the converter works well again.

[2018-04-19 06:13] chhsiao90 commented on #322
Please wait for the #323 done that the pull request also upgrade the asm version and will support java 10.

[2018-04-19 06:14] chhsiao90 commented on #285
Okay, I will check why Cr / Dr matter. May I know what's your modelmapper's version? Can you try upgrade to our latest release version? thanks.

[2018-04-24 14:05] michaelcowan opened #325 "Property Condition Not Applied to Nested Members"
I use ModelMapper to apply modifications to a class from another instance of the same class. Any null values are to be treated as _don't modify value_
e.g. given the object ...
[code]
... and applying the modification ...
[code]
... I get
[code]

This works well using the following:
[code]

However, if my POJO contains a non primitive type, then the `isNotNull()` condition is not applied.

e.g.

[

[2018-04-25 12:47] chhsiao90 commented on #325
It's a known issue that ModelMapper will assign the reference of the source's property to destination instead of create a new one if they are same types.

I think you can find `purchasable.getChargingModel() == modifications.getChargingModel()` to be `true` that the puchasable's chargingModel is overwrite by modifications' chargingModel.

I will create a configuration, maybe named `alwaysCopy` and

[2018-04-29 08:10] timur-sh opened #326 "How can I map a list of dto?"
I looking for a way for mapping a list of dto using modelmapper. Is it possible?

For example:
[code]

[2018-04-29 19:39] prince-jn commented on #326
I think you have to create a new list and then add each item mapped.

[2018-05-01 08:46] chhsiao90 commented on #326
Can you try like this https://github.com/modelmapper/modelmapper/blob/master/core/src/test/java/org/modelmapper/functional/iterable/CollectionMapping1.java

[2018-05-02 09:49] timur-sh commented on #326
Thank you. It's worked pretty good.

[2018-05-02 10:00] #326 closed

[2018-05-04 22:21] gintautassulskus opened #327 "Skip fields that are not explicitly mapped"
Suppose I have a type map such as `TypeMap<Source, Dest> typeMap`.
Is it possible to either clear predetermined mappings or skip them and map only manually specified properties?

[2018-05-07 03:53] chhsiao90 commented on #254
I can't reproduce this issue with latest release version of modelmapper.
Can anybody try if this issue still reproducibie?
Please also try upgrade the modelmapper version and update META-INF/spring-devtools.properties with
[code]

If this issue is still reproduced, please help provide the reproducible code, thanks.

[2018-05-07 15:37] #320 closed

[2018-05-11 00:13] eapereira opened #328 "Error using miltiple providers, ModelMapper is getting one to another property"
Hello folka, I have two providers and ModelMapper is using the one to the wrong property! In my case I have UserProvider and UfProvider, it is calling UserProvider to a instance of UfUi and I got this error:

1) Failed to set value 'UserModel [dtNasc=null, idUf=null, login=null, name=null, password=null, urlAvatar=null, cidade=null, posts=[], postScores=[], privatePostScores=[], privatePosts=[], p

[2018-05-11 18:44] leonroy commented on #312
better late than never! yes indeed the below config solved it:

[code]

[2018-05-11 18:45] #312 closed

[2018-05-12 05:13] chhsiao90 commented on #327
Please try set ImplicitMappingEnabled false before setup any TypeMap
[code]

[2018-05-12 06:44] chhsiao90 commented on #328
There are some problems in your PropertyMap

The PropertyMap is only allowed
- with(...).map(...)
- skip(...).map(...)
- using(...).map(...)

So it's not allowed
[code]

So I suggest to move these stuff outside the configure and try again.
And if the problem is not solved, please also provide your source/destination model source code, thanks.

[2018-05-12 17:33] eapereira commented on #328
How could I use a provider if I cant create its variable?

[2018-05-13 12:45] gintautassulskus commented on #327
Thanks, this is exactly what I need but per TypeMap basis.
Would it make sense to request such a feature?

[2018-05-13 13:04] eapereira commented on #328
if I use mapper.addConverter() and mapper.addProvider(), my providers and converters are not called and nothing happens.

[2018-05-14 05:47] chhsiao90 commented on #328
Can you provide source/destination class source code so that I can provide sample code to you, thanks.

[2018-05-14 05:55] chhsiao90 commented on #327
Please try
[code]

[2018-05-14 12:38] gintautassulskus commented on #327
Oh, missed this. Thanks very much, @chhsiao90.

[2018-05-14 12:38] #327 closed

[2018-05-15 07:25] #308 closed

[2018-05-15 07:25] imtiazShakil opened #329 "ClassCastException in ModelMapper: EnhancerByModelMapper cannot be cast"
The details can be found in this link:
https://stackoverflow.com/questions/32127438/classcastexception-in-modelmapper-enhancerbymodelmapper-cannot-be-cast

I'm using modelMapper 1.1.0 and still experiencing this problem

[2018-05-15 07:25] chhsiao90 commented on #308
Please reopen it if this issue still reproducible.

[2018-05-15 07:32] #279 closed

[2018-05-15 12:04] chucktesejme opened #330 "Map one property to multiple"
Hi
how can i map one property to multiple?
I have tried:

[code]

But this code fails on: Illegal DestinationSetter defined.

That is right way to do this ?

[2018-05-16 01:31] chhsiao90 commented on #330
The DestinationSetter can only be a destination setter.

Please try the code below.
[code]

[2018-05-16 05:29] MrGraversen commented on #322
I am also intersted in Java 10 support. I see that the PR is merged, when are you planning on releasing a new version?

[2018-05-16 15:07] kurdyukovpv opened #331 "Convert nested objects"
Hi!

I have a problem with converting nested objects:

Source:
[code]

Destination:
[code]

Mapper:
[code]
Why context.getSource() returns WrapperDTO instead of NestedDTO when calling modelMapper.map(wrapperDTO, Wrapper.class); ?

Thanks!

[2018-05-17 07:46] marcopogo81 commented on #254
Same issue here, I have 2 maven projects one with the DB Java Model and modelmapper and the other with a web-rest app that has the devtool dependency.

[2018-05-17 08:18] chhsiao90 commented on #322
I will release this week.

[2018-05-17 16:21] coperfield86 opened #332 "Map an object to two different objects"
Hello
I need map a object to two different object for example that differ in some attributes
Regards

[2018-05-20 02:30] chhsiao90 commented on #332
You can call twice `modelMapper.map(source, Dest.class) like
[code]

Is that what you are asking?

[2018-05-20 03:00] chhsiao90 commented on #331
Please check my comment [here](https://github.com/modelmapper/modelmapper/pull/333#issuecomment-390454008) before this bug fixed.

[2018-05-21 17:41] #331 closed

[2018-05-21 18:42] chhsiao90 commented on #331
modelmapper v2.0 just release, please take a look.

[2018-05-21 18:42] chhsiao90 commented on #322
modelmapper v2.0 just release, please take a look.

[2018-05-21 18:42] #322 closed

[2018-05-22 12:54] yakirChen opened #335 "ObjA JSONArray To ObjectB JSONArray"
**A.java**
[code]

**B.java**
[code]

[code]

I got  JSON

[code]

[code]

I always got NPE .

[code]

I hope somebody can help me to fix it .

Thanks . 😝

[2018-05-24 19:22] imtiazShakil opened #336 "ModelMapper mapper.skip() doesn't work for pojo objects with circular dependency"
I have two pojo objects: Husband, Wife which reference each other.

`Husband.java`

[code]

`Wife.java`

[code]

I've created simple typeMap rulings for both objects, where the referenced object is skipped.

My test class:

[code]

When mapping updatedHusband to husband, setWife() method is not skipped. But, if I remove typeWife mapping from modelMapper the code works fine.

I'm using ModelMapper

[2018-05-24 19:30] imtiazShakil commented on #329
There is a dirty solution for this problem posted on stackoverflow.

[2018-05-25 06:50] imtiazShakil commented on #336
I think the problem is with the mappings modelmapper generates. When I print the mappings of each typeMap this is what I get:

[code]

TypeMap `typeHusband` picks mapping from `typeWife` during mapping process.

[2018-05-25 07:17] chhsiao90 commented on #329
hi @imtiazShakil ,
Recently, I tried to reproduce this issue but failed (please refer #254), can you provide a reproducible sample project / code for me? Thanks.

[2018-05-25 08:49] imtiazShakil commented on #336
I found no clean way of solving this problem. But we can add `PropertyCondition` to skip mapping of objects.

[code]

Now, our test works perfectly.

[code]

But this approach also has some drawbacks, as we can't add different types of conditions together and use it as `PropertyCondition`. Because, the builtin `Conditions.add(cond1, cond2)` doesn't support mixing different types of conditions.

Th

[2018-05-25 08:56] imtiazShakil commented on #329
Hi,

I checked Issue#254. After adding this line into `spring-devtools.properties`,  the problem gets fixed. It's actually

`restart.include.modelmapper=/modelmapper-(.*).jar`

I think this special scenario should be added in modelMapper Getting Started page as most spring developers will face this situation.

Thanks.

[2018-05-25 09:00] chhsiao90 commented on #329
I will, thanks for the advice.

[2018-05-25 09:08] chhsiao90 commented on #336
I think it's annoying that implicit mapping(auto property mapping) do what we don't want it do, but we also need implicit mapping for convenience.

I think it's ordering problem that there will be less issue if the implicit mapping is invoked AFTER our manual mappings. For your example, the implicit mappings are created when you create type map, so it's no use to skip the wife after that.

I will

[2018-05-25 10:23] imtiazShakil commented on #336
Are there any other solutions like,
Before applying implicit mapping , we should check if the object is already skipped by parentMapping.

For example, in my case,
when creating typeHusband map, we first apply current mapping rules before performing implicit mapping.

[2018-05-26 02:37] chhsiao90 commented on #336
That's what my solution want to solve. Currently, modelmapper don't have any approach to do this.

[2018-05-26 03:36] chhsiao90 commented on #336
hi @imtiazShakil ,
I'm working on the implementation.
I can reproduce that the TypeMap will be weird after unexpected implicit mapping. But I'm not sure what actual the issue is (I'm not challenging it's not a bug, I just want to write an unit test to reproduce the issue). Is that your problem is that: the husband of wife or the wife of husband will be null after mapping?

Thanks.

[2018-05-26 03:40] chhsiao90 commented on #336
Please take a look #337 and [GH336.java#L100-L119](https://github.com/modelmapper/modelmapper/blob/88f5c33fa8411bf831780e22c4a8dd4339f29c0f/core/src/test/java/org/modelmapper/bugs/GH336.java#L100-L119) that I want to write a test to reproduce your issue with old way.

[2018-05-26 04:12] chhsiao90 commented on #329
Docs update here: http://modelmapper.org/user-manual/spring-boot-devtools-integration/

[2018-05-26 04:12] #329 closed

[2018-05-26 04:14] chhsiao90 commented on #254
Hi anyone here, if you already upgrade modelmapper to latest stable version and setup spring-devtools.properties properly but still can reproduce this issue, please kindly me know, and provide more detail to me to solve this issue, thanks.

[2018-05-26 04:14] #254 closed

[2018-05-26 07:30] chhsiao90 commented on #335
hi @yakirChen ,

You only need to setup the mappings for JsonNode <-> B
[code]

And I just found that modelmapper jackson integration is not handling ArrayNode well. Just created a pull request #338 for that.

[2018-05-26 10:15] yakirChen commented on #335
Thanks 👏

[2018-05-26 10:16] #335 closed

[2018-05-28 05:59] #318 closed

[2018-05-29 19:46] bsadykov opened #339 "Pass external properties when calling ModelMapper.map(...)"
I need to do mapping based on language, which I receive as parameter in rest-controller. In my JPA-entity I have list of translations and I need to put only one translation in DTO.
Maybe the external properties could be added to MappingContext so that they are accessible from converters ?

[2018-05-30 14:25] Kidlike opened #340 "typeMap#addMapping casting issue"
On the following sample:
[code]

The `FocusPoint` casting isn't safe.
I.E. if either source or destination attribute `focusPoint` is refactored to another type,
neither the compiler nor `modelMapper.validate()` will catch it.

Are there any solutions here?
Maybe a new `addMapping` override with more or different arguments?
Ideally `v` should be typed and not casted.

[2018-05-31 02:36] chhsiao90 commented on #339
Is ```ThreadLocal``` can help for your case?
```threadLocal.set(language)``` before you map, ```threadLocal.get()``` in your converter, ```threadLocal.remove()``` after you map.

[2018-05-31 02:39] chhsiao90 commented on #336
hi @imtiazShakil ,

Can you try our new api?
[code]

[2018-05-31 03:04] chhsiao90 commented on #340
I think it's safe here to cast. Or maybe you prefer this way:
[code]

[2018-05-31 08:49] #339 closed

[2018-05-31 08:50] bsadykov commented on #339
Yes, I ended up using interceptor + thread local, which has some advantages over external properties.
Thank you for commenting with the solution.
Still would be nice to have external properties, I can see some cases where thread local may not be enough.

[2018-05-31 09:50] #340 closed

[2018-05-31 16:36] franco148 commented on #64
Still the problem exists. As the example provide by @ACodeFarmer I have my Jpa Entities with bidirectional relationships. So I am getting the following exception.

**The destination property com..BaseEntity.setId() matches multiple source property hierarchies.........**

The version of org.modelmapper that I am using is: 2.0.0

[2018-05-31 18:44] imtiazShakil commented on #336
Hi @chhsiao90 ,

Thanks for the update! I'll give it a try and let you know.

[2018-06-01 01:15] chhsiao90 commented on #339
Sounds good to me about the idea of eternal properties. But I think MappingContext is not a good place to hold these values.

To simplify the requirement here is:
There are some user custom properties that will used by the converter/provider, but these properties are not exist in the source properties.

Is this right? I will consider to have these improvement.

[2018-06-01 09:02] chhsiao90 commented on #64
Thanks for the detailed information, I will investigate this bug.

[2018-06-01 09:11] chhsiao90 commented on #64
hi @franco148 ,

One quick question: are below mappings that you expected?
[code]

[2018-06-01 14:28] franco148 commented on #64
Sorry, I have not copied all the entities.

**createdById** : is the reference to a Participant entity. So, it would be **comment.createdAt.Id**
**resourceId**: yes, it refereces to **comment.commentedResource.id**

Here the missing entity.

[code]

The diagram for these entities would be something like this.

![image](https://user-images.githubusercontent.com/10811329/40845991-4dbc0cc8-6586-11e8-

[2018-06-02 04:04] chhsiao90 commented on #64
hi @franco148 ,
Our matching strategy is not smart as you think, it has some rules, please refer [matching-strategies|http://modelmapper.org/user-manual/configuration/#matching-strategies] for detail.
For mappings that our matching strategy can't support correctly, please try our [property-mapping|http://modelmapper.org/user-manual/property-mapping/] for customize mappings.

And it's weird that co

[2018-06-02 14:48] #199 closed

[2018-06-02 17:12] franco148 commented on #64
Hi @chhsiao90

Sorry it was my mistake in the explanation, I have already updated that comment. comment.createdBy was the correct relation.

Thank you for your support. I will take a look at the resources you are suggesting me.

[2018-06-02 21:15] r-dimitrov opened #341 "ModelMapper skip null fields not working with Map"
I'm trying to map (source) **RoadAssistanceDto** to (destination) **RoadAssistance**. Both have **Map<Locale, RoadAssistanceI18n>** property and id property.

[code]

The problem I want to preserve the RoadAssistanceI18n id in the RoadAssistance.

The simple test case:
[code]
and the result is

The description filed is overridden from the source (RoadAssistanceDto) which is perfect, but the id is

[2018-06-05 21:48] tommus commented on #87
Version 2.0.0. Cglib replaced with ByteButty but the problem still exists. Any views for change?

[2018-06-05 21:52] tommus commented on #274
In issue #87 it has been suggested the problem was in Cglib. It's no longer valid since Cglib has been replaced with ByteBuddy in version 2.0.0. Any further investigations on this?

[2018-06-06 02:14] chhsiao90 commented on #87
Thanks for the reminder, I will investigate on this.

[2018-06-07 03:52] imtiazShakil commented on #336
Hello, @chhsiao90,

I checked the code and tried understanding.
With the new api everything works perfectly! Thanks.

I've some questions that I don't understand.

### Approach 1

Disabling implicitMapping.

[code]

The mapping is exactly What I meant.

[code]

### Approach 2

Default mapping

[code]

What I get is this:

[code]

The mapping is like before, but still the tests work ok! Can you exp

[2018-06-07 04:01] imtiazShakil commented on #329
Thanks!

[2018-06-07 05:48] chhsiao90 commented on #336
About approach 2. that's what I'm asking in my previous comment [here](https://github.com/modelmapper/modelmapper/issues/336#issuecomment-392233378) that I try to reproduce your bug but I can't. My fix should not affect the approach 2. Maybe there is some changes between old and latest modelmapper that fix the problem.

I think this approach was used when you had some custom type maps, and each ty

[2018-06-07 08:49] #332 closed

[2018-06-07 08:49] chhsiao90 commented on #332
Please feel free to reopen this issue if you still had problem.

[2018-06-07 08:49] chhsiao90 commented on #330
Please feel free to open issue if you still had problem, thanks.

[2018-06-07 08:49] #330 closed

[2018-06-07 09:19] chhsiao90 commented on #305
Sorry that I missed this issue and lately reply... It would be nice if you can provide an example.

[2018-06-07 09:21] chhsiao90 commented on #304
Sorry for the lately reply, can you provide more information? It will be better to have source code for the source/destination classes, thanks.

[2018-06-07 09:22] #307 closed

[2018-06-07 09:41] russellhoff commented on #304
Okay, let me answer later at home.

[2018-06-07 09:57] chhsiao90 commented on #306
Thanks for the report, it looks like that new api doesn't support for constant mapping. I will check that!

[2018-06-07 12:23] imtiazShakil commented on #336
With this patch #337 , I also can't reproduce the bug.

Can this problem be fixed if we write configuration like this?

[code]

[2018-06-07 13:03] chhsiao90 commented on #336
Yes, it can fix the problem. But it looks ugly :(

[2018-06-08 06:45] russellhoff commented on #304
Hi there! Sorry for my late reply.

This an actual class (dto object) in my project:
[code]

In with stock modelmapper, Geometry attribute is converted using, say, Postgis' [ST_AsText](https://postgis.net/docs/ST_AsText.html) instead of [ST_AsGeoJSON](http://www.postgis.net/docs/ST_AsGeoJSON.html).

I.e., what you get with modelmapper is the following:
[code]

But it'd be desirable to cast Geometr

[2018-06-08 07:19] chhsiao90 commented on #288
https://github.com/chhsiao90/modelmapper-module-java8

[2018-06-08 07:19] #288 closed

[2018-06-08 08:05] chhsiao90 commented on #304
Thanks @russellhoff for the detail information and it's great that you had already solved this problem.

It looks great for your code! Some minor information:
There is no need for ```mapper.using(pGeometryGeoJsonConverter)``` if you already added the converter to your modelmapper ```mm.addConverter(pGeometryGeoJsonConverter);```.

We should prevent from introducing more dependencies to ModelMapper

[2018-06-08 08:09] russellhoff commented on #304
Thanks for your comments @chhsiao90 .

I'll create a modelmapper module in my spare time and I'll keep you informed.

[2018-06-08 08:09] #304 closed

[2018-06-08 08:28] chhsiao90 commented on #297
Hi @almoghzn , Sorry for the lately reply. I'm trying to understand your case, I have some questions for you.

*1. Is ```name``` a field of Source*
*2. What's your destination class?*
*3. What's your expectation result*

And let me correct you about the data after map:
[code]

should be

[code]

That these two sources should be different to the first Screen in the list, am I right?

[2018-06-08 08:31] chhsiao90 opened #344 "Documentation for Module"

[2018-06-08 08:41] chhsiao90 opened #345 "shared modules need a place to share"

[2018-06-08 08:45] chhsiao90 commented on #298
Different implementation/sub-classes might have different mappings, so I don't intent to change the behavior here. ConditionConverter should be fine to use.

[2018-06-08 08:45] #298 closed

[2018-06-08 08:48] chhsiao90 commented on #282
I will consider to implement this. But there will be a problem if user is not expected ModelMapper create proxy for them.

[2018-06-08 09:09] #277 closed

[2018-06-08 09:21] chhsiao90 commented on #278
Hi, I think we can't solve the problem because the generic types are only exist in compile time, we can't know the generic in runtime.

So I think it needs a converter for this map<->map mapping.
[code]

Sorry for this inconvenience :(

[2018-06-08 09:21] #280 closed

[2018-06-08 09:28] #225 closed

[2018-06-08 09:29] #259 closed

[2018-06-08 11:27] bsadykov commented on #339
Sorry, for the late reply. Sounds great to me ! Would be very helpful in
some cases.

On Fri, 1 Jun 2018, 03:15 Chun-Han, Hsiao, <notifications@github.com> wrote:

[2018-06-10 06:02] git-developer opened #346 "Create destination object according to destination context"
I have a question concerning the following scenario:

[code]

When `mapper.map(someSource, Destination.class);` is called, an exception is thrown because `Container` doesn't have a default constructor. My idea is to solve the problem with a custom Provider:
[code]

Unfortunately this doesn't work because the provider is unable to determine the target type.
It needs access to the name or exact type

[2018-06-11 02:45] #345 closed

[2018-06-11 02:48] chhsiao90 commented on #59
ModelMapper now support `modelMapper.getConfiguration().setDeepCopyEnabled(true)`: #343

[2018-06-11 02:49] #59 closed

[2018-06-11 02:53] chhsiao90 commented on #341
hi @r-dimitrov,
You need to add a converter for `roadAssistanceDto.roadAssistanceI18n -> roadAssistance.roadAssistanceI18n `.

[code]

[2018-06-11 02:56] chhsiao90 commented on #325
Now you can use `deepCopyEnabled` #343

[2018-06-11 02:56] #325 closed

[2018-06-11 14:35] almoghzn commented on #297
![image](https://user-images.githubusercontent.com/16574356/41236881-dee3d372-6d9a-11e8-94e5-50d6e667bd6f.png)

Hi, thanks for the reply.

Let me try to clarify,
In the above picture I tried to demonstrate my data model,
note:
0. In parenthesis is the instance id to emphasize the similarity or difference of the instances.
1. I have two instance of Show (100 and 200).
2. Each Show contains Screen.

[2018-06-11 18:39] git-developer commented on #346
Thank you for your quick response and for the test case.

Unfortunately, the source types differ from the destination types, and they need type conversion.

It seems to me that ModelMapper does not cover this use case, so I wrote a workaround: the destination object is instantiated manually, and the `create()` method is called for the concerned properties. All that happens before `modelMapper.map(

[2018-06-12 01:27] chhsiao90 commented on #346
Thanks for raising this issue even you already solve this problem.

Agreed with you about that ModelMapper doesn't cover this use case.
It's always hard to solve generic type issues because this types only exist in compile time, and we can't know the real type in the runtime.

[2018-06-12 01:32] chhsiao90 commented on #297
The explanation looks good to me and I think I can try to reproduce this issue. I will keep you updated. Thanks.

[2018-06-12 01:49] chhsiao90 commented on #297
hi @almoghzn ,

I can't reproduce this issue, here is my unit test.

[code]

[2018-06-12 02:56] #306 closed

[2018-06-12 02:58] chhsiao90 commented on #285
hi @quangthe , Can you provide the source code for your source/destination classes? Thanks.

[2018-06-12 03:00] chhsiao90 commented on #264
Please refer [spring-boot-devtools-integration](http://modelmapper.org/user-manual/spring-boot-devtools-integration/) if wildfly provide similar stuff. Thanks.

[2018-06-12 08:10] almoghzn commented on #297
Hi @chhsiao90

First, noticed, one big missing part is that you don't have CustomConverter for Source class as I mentioned in my first post.

Second, I tried as well to reproduce the issue using your test code and it didn't work for me at all.

My code (copied by yours) as follow:

`import org.junit.Test;
import org.modelmapper.ModelMapper;
import org.modelmapper.TypeToken;

import java.util.Array

[2018-06-12 09:09] chhsiao90 commented on #297
hi @almoghzn ,

Please add following code to configure your to ModelMapper.
ModelMapper is using getter/setter by default.
So the mapping will fail if you don't have any getter/setter OR you don't enable the field matching.

[code]

And can you tell me how you configure the converter to the modelmapper?

[2018-06-12 12:33] almoghzn commented on #297
Hi @chhsiao90

So I managed to reproduce this issue.
I'll start from the end - at you latest version it's seems to be working well!

With:
`compile 'org.modelmapper:modelmapper:0.7.3'`

I get the following result:

![image](https://user-images.githubusercontent.com/16574356/41290440-88cb6e9e-6e55-11e8-9680-cd51963a8f22.png)

Which is unexpected result as I mentioned in my first post.

But, with:
`

[2018-06-12 18:36] ericjavadev opened #350 "ModelMapper does not recognize Lombok @Data"
ModelMapper will not map classes that use Lombok `@Data`.

[2018-06-13 01:04] chhsiao90 commented on #350
hi @ericjavadev , It should work. Can you provide reproducible code?

[2018-06-13 06:45] SkyLineIT opened #353 "Parameter 0 of constructor"
Hi.

I don't know what was that, but before that I did not come across with this problem.

Console:

Description:
Parameter 0 of constructor in util.mapper.Mapper required a bean of type 'org.modelmapper.ModelMapper' that could not be found.
Action:
Consider defining a bean of type 'org.modelmapper.ModelMapper' in your configuration.

That trouble happen when I try @Autowired my Mapper and use him

[2018-06-13 07:01] chhsiao90 commented on #353
Did you have a ModelMapper instance defined in your spring? like
[code]

[2018-06-13 07:14] SkyLineIT commented on #353
Sorry, it's not actual POM.

[code]

No, but it's work 👍
In the previous project this monolit structure work is well, when I try @Autowired ModelMapper in this dependancy.

It can be connected with microservice architecture?

[2018-06-13 07:36] chhsiao90 commented on #353
How did it work? AFAIK, that you always need to create bean by yourself (either by annotation or xml).

Maybe you can try [modelmapper-spring-boot-starter](https://github.com/jmnarloch/modelmapper-spring-boot-starter).

[2018-06-13 09:36] chhsiao90 commented on #200
You can try [modelmapper-module-java8](https://github.com/chhsiao90/modelmapper-module-java8).

[2018-06-13 09:36] #200 closed

[2018-06-13 09:39] chhsiao90 commented on #243
Sorry... I will work on this about modelmapper/protocol-buffer stuff.

[2018-06-13 18:02] ericjavadev commented on #350
Very sorry to bother you.  I didn¹t install lombok via the installer.  That
was the problem.

Thank you,
Eric Holloway

From:  "Chun-Han, Hsiao" <notifications@github.com>
Reply-To:  modelmapper/modelmapper
<reply+0075c5dc5b35b9817e888d0643e12a97ca93762eabc53af992cf0000000117382fa09
2a169ce13c56b3c@reply.github.com>
Date:  Tuesday, June 12, 2018 at 6:04 PM
To:  modelmapper/modelmapper <modelmapper

[2018-06-14 01:09] #350 closed

[2018-06-14 02:07] chhsiao90 commented on #243
I will create a modelmapper-module-protobuf for better protocol buffer support.

[2018-06-14 06:44] magdenkov commented on #243
@chhsiao90 Wow, that would be awesome!! Thx, in advance!

[2018-06-14 07:15] vb-chris opened #354 "Reuse of mappings within an object tree"
_Previously asked on [Stackoverflow](https://stackoverflow.com/questions/50841898/)_

Please have a look at the following example that illustrates my question.

- Class `Sub` contains several properties.
- Class `Source` contains an object of type `Sub` and (at least) another property.
- Class `Destination` holds a flat list of properties.
- The types of source and destination properties differ.

[2018-06-15 01:31] chhsiao90 commented on #243
What's the common use case for using ModelMapper with protocol buffer?

- Protobuf POJO -> Protolbuf POJO builder
- Protobuf pritmive type -> Java primitive type
- Java primitive type -> Protobuf pritmive type

Any else?

[2018-06-20 09:09] chhsiao90 commented on #243
I'm trying to implement module for protocol buffer: #357.

[2018-06-21 09:55] chhsiao90 commented on #354
I'm working on this by providing a new API ```includeChild(SourceGetter, ChildType)```

But there is some limitation that our SourceGetter can only support the getter method invocation, we can't support for field access.

[2018-06-22 02:03] #297 closed

[2018-06-22 02:09] chhsiao90 commented on #336
hi @imtiazShakil ,

I provide a new API: `modelMapper.emptyTypeMap` in #359, is this API can help for your use case?

[2018-06-22 16:06] vb-chris commented on #354
I'd love to evaluate your extension. Unfortunately, I cannot build the project by myself (because the build dependencies are blocked by our firewall) and I didn't find a way to get the jar from travis. Thus, I'm looking forward to the release of version 2.0.1

[2018-06-22 21:19] johanwannheden opened #360 "Skip does not work on child list elements"
When mapping two objects of the same type, it appears that the `skip()` configuration is not honored for list element types.

Given
[code]
with
[code]
and the following configuration
[code]
the test below fails:
[code]

Is this a bug or a misconfiguration?

Thanks in advance for any hints.

Reproducer: https://github.com/johanwannheden/modelmapper-reproducer

[2018-06-25 10:11] michael-nedjam opened #361 "Inherance : subclass ignored"
Object A own an object B and an another object C, where C is a B's child. The type C is ignored, and mapped as a B.

[2018-06-26 00:51] chhsiao90 commented on #361
hi @michael-nedjam , Can you provide an example or source code for your problem? Thanks!

[2018-06-28 01:42] chhsiao90 commented on #360
It's a bug and I had fixed this in #362

[2018-07-03 13:52] JamieLui commented on #239
@jdhenckel  👍

[2018-07-03 14:53] geichelberger opened #363 "OSGI bundle manifest Import-Package contains non-existing packages"
When using modelmapper as osgi bundle wiring fails because of a package that does not exist as dependency.

Generated Manifest File Import:

Missing package:

[2018-07-07 07:33] chhsiao90 commented on #363
hi @mdzhigarov,

Sorry for bothering you, and idea on this issue? I'm not familiar with OSGi, thanks.

[2018-07-07 07:39] chhsiao90 commented on #87
hi, I'm working on this, and it looks like we need to provide a jar without shaded dependencies. And we cannot support PropertyMap (it involved with class reading), so please use ExpressionMap instead.

I will keep you posted on any further update. I think it can be done at the end of this month.

[2018-07-07 07:40] chhsiao90 commented on #256
I will work on this after the android stuff to be done #87.

[2018-07-07 08:19] chhsiao90 commented on #360
Just release v2.1.0, please take a look.

[2018-07-07 08:19] #360 closed

[2018-07-07 08:19] mdzhigarov commented on #363
Sorry, I am not familiar with the latest modepmapper changes.
Last time I checked, osgi classloading was working fine. You just need to enable the osgi classloader bridging option in the config.
No idea if the bridging classloader still works with the new bytebuddy stuff

[2018-07-07 08:19] chhsiao90 commented on #354
Just release v2.1.0, please take a look.

[2018-07-07 08:20] chhsiao90 commented on #363
Thanks for the advise, I will try by my self if there is any issues with the new bytebuddy stuff.

[2018-07-07 08:21] #206 closed

[2018-07-08 12:58] geichelberger commented on #363
Byte Buddy repackages the asm-commons dependency which is missing in model mapper. After adding the dependency to the dependencies list of the core pom.xml the shade plugin repackages the missing package and the generated OSGi manifest seems to be correct.

[2018-07-09 14:56] vb-chris commented on #354
I checked the release, works as announced.
Thank you very much!

The problem is solved for me, the issue may be closed.

[2018-07-09 20:56] git-developer opened #364 "ClassCastException caused by generated class when source uses generics"
In the following example, test method `works()` works as expected, but `shouldWork()` fails with

```java.lang.ClassCastException: org.modelmapper.internal.bytebuddy.renamed.java.lang.Object$ByteBuddy$jEoSTmPS cannot be cast to java.lang.String```

This probably happens because of generic type parameter `T` in class `AbstractContainer<T>` which is resolved as `Object` instead of `String`.

[code]

[2018-07-10 07:01] #354 closed

[2018-07-10 07:30] chhsiao90 commented on #364
Thanks for report this bug, should be fixed by 97617bd

[2018-07-11 09:03] prvn-vrma commented on #269
After so many tries finally worked for me. Although things were available at other places also but it was kind of looking very old to me or some syntax related issue as putting `null` was confusing.
Very weird syntax to do but yes finally worked.
Thanks

[2018-07-11 12:59] bsadykov opened #366 "Mapping collection based on getter only (without setter)"
Hi !

When using JPA it's often desirable not to use setters for nested collections (e.g. OneToMany), but to operate via getters only.
Also when using lombok with lazy collections, it's not even possible to declare collection setters.

I tried to declare mapping like this:
[code]
But am getting exception (due to missing collection setter):
[code]
Would is be possible to enable this kind of mapping

[2018-07-13 15:52] bsadykov commented on #366
The problem I see with the current implementation is that when calling:
[code]
in case existingJpaEntity has nested collections (OneToMany), the collections and all elements inside will be fully recreated instead of updating existing collection (and existing elements).
In that case the collection elements become "detached" from the current JPA session and you need to explicitly call EntityManager.

[2018-07-18 06:19] imtiazShakil commented on #336
Thanks. I'll let you know.

[2018-07-19 01:29] chhsiao90 commented on #366
hi @bsadykov ,

You can only call getter/setter in the ```addMapping``` function.
If you want to use ```if```, please use ```when```.
If you want to convert the source's propertie to another type, please use ```use```.

Here is what I think the right way based on your scenario.
[code]

[2018-07-22 13:21] kurdyukovpv opened #367 "TypeMap order problem"
Hi!
I have two TypeMap
[code]

[code]

CityObject and CommonObjectDto contains Address and AddressDto inside of them.

It works fine, but if i change order of creation TypeMap then "Address mapper" isn't work.

[code]
[code]

[2018-07-23 01:59] chhsiao90 commented on #367
Currently, different order of type map will have different behavior.

A TypeMap is constructed with mappings that each mapping define how a source property maps to a destination property. The TypeMap's mappings is defined when it created.

For your first case, ModelMapper knows how Address maps to AddressDto, so it will create the mapping(CityObject.address -> CommonObjectDto.address) in the TypeM

[2018-07-23 04:11] #364 closed

[2018-07-24 07:42] kurdyukovpv commented on #367
So sad :(
Thanks for answer!

[2018-07-24 07:42] #367 closed

[2018-07-30 02:22] chhsiao90 commented on #363
hi @geichelberger, is #369 solve this issue? Thanks!

[2018-07-31 01:10] chhsiao90 commented on #363
I will cut a release this week!

[2018-07-31 09:51] #353 closed

[2018-08-01 07:22] chhsiao90 opened #370 "Implicit mapping from a Map to a Object will be ignored."
stackoverflow: https://stackoverflow.com/questions/51625677/model-mapper-mapping-mapstring-object-to-class-which-extends-another-generic-c

unit test

[code]

[2018-08-01 07:33] #370 closed

[2018-08-02 05:31] #344 closed

[2018-08-02 06:44] chhsiao90 commented on #175
ConditionalConverter or Converter is not supporting chaining.
But for Optional, I'm working on it to support Optional<A> -> B or A -> Optional<B> at [9584b4b4fef75ed1a29259890fe47c162ee89190|https://github.com/chhsiao90/modelmapper-module-java8/commit/9584b4b4fef75ed1a29259890fe47c162ee89190]

[2018-08-02 07:51] chhsiao90 opened #372 "Explicit property mapping will failed when using source(propertyPath) with List type"
Detail: https://gist.github.com/chhsiao90/b777d0468852837bac8060d5c4d7f81a

[2018-08-02 12:44] FlameDuck commented on #265
@idntfy I can't get this to work with lombok unfortunately.

[2018-08-03 01:10] chhsiao90 commented on #265
Hi @FlameDuck - Can you provide more detail? Thanks.

[2018-08-03 05:48] #29 closed

[2018-08-03 06:00] chhsiao90 commented on #72
Related to 87

[2018-08-03 06:04] chhsiao90 commented on #70
Without `map.createTypeMap(User.class, User.class)`, modelMapper will try to assign the source to the destination if they have same type.

It can be fixed by `map.getConfiguration().setDeepCopyEnabled(true)` with out latest stable release.

[2018-08-03 06:04] #70 closed

[2018-08-03 06:29] #262 closed

[2018-08-03 06:36] #239 closed

[2018-08-03 06:36] #243 closed

[2018-08-03 06:38] #213 closed

[2018-08-03 06:44] #175 closed

[2018-08-03 06:44] #180 closed

[2018-08-03 06:49] #183 closed

[2018-08-03 06:52] #162 closed

[2018-08-03 10:46] FlameDuck commented on #265
@chhsiao90 I have tried to make a small example to illustrate what I am doing:

`package dk.acto.modelmappertest;

import lombok.Builder;
import lombok.Data;
import org.modelmapper.ModelMapper;

public class Main {

    public static void main(String[] args) {
        MyEntity subject = new MyEntity();
        subject.setId(0L);
        subject.setName("subject");
        subject.setValue("test");

[2018-08-04 05:01] julianps commented on #108
i can take over. Created the branch and will start working on this.

[2018-08-06 02:55] #341 closed

[2018-08-06 04:01] chhsiao90 commented on #152
I can't reproduce this bug with latest stable release of ModelMapper.

[code]

[2018-08-06 04:01] #152 closed

[2018-08-06 04:04] chhsiao90 commented on #65
Or maybe you can use the TypeMap to map directly if the source is a proxied type.

[2018-08-06 12:53] sanderdg opened #374 "Mapping using TypeMap fails with mock"
When I use a `TypeMap` for an explicit mapping I cannot use a mock in my unit tests. In the example code below I try to map a `Foo` to a `Bar` but the property does not get mapped.

[code]

[code]

[code]

[2018-08-06 13:32] chhsiao90 commented on #374
ModelMapper will try to de-proxy the source type to find a match TypeMap [1]. But it looks like the deproxy hadn't support mockito yet [2]. I think it can be improved.

I would like to know is there any reason to map a source proxied by mockito to a destination object? Thanks.

[1] https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/ModelMapper.java#L543-L544

[2018-08-06 23:04] Ale115 opened #375 "memory leak"
public static void main(String[] args) throws InterruptedException {

       while (true){
            Thread.sleep(2*1000L);
           testModelMapper();
       }
    }

    private static void testModelMapper(){

        ModelMapper modelMapper = new ModelMapper();
        TypeMap<BalanceEntity, CacheBalance> cacheBalanceTypeMap = modelMapper.createTypeMap(BalanceEntity.class, CacheBalance.clas

[2018-08-06 23:04] Ale115 commented on #375
![31533596341_ pic_hd](https://user-images.githubusercontent.com/6857578/43745199-2ba2805e-9a10-11e8-9333-ca0d33592de8.jpg)

[2018-08-06 23:07] Ale115 commented on #375
![31533596341_ pic_hd](https://user-images.githubusercontent.com/6857578/43745266-6e8be7c0-9a10-11e8-9976-f2ea698fef86.jpg)
The continuous growth of memory

[2018-08-07 01:43] chhsiao90 commented on #375
After investigation, I think there is no memory leak in the ProxyFactory or PropertyInfoRegister. All these objects can be gc.

The only thing that caused the memory leak is the proxied classes in the class loader, ModelMapper will create classes each time you call the `addMapping`. I think it can be improved by [TypeCache|http://bytebuddy.net/javadoc/1.8.0/net/bytebuddy/TypeCache.html] provided b

[2018-08-07 02:33] chhsiao90 commented on #265
hi @FlameDuck,

Please try below configuration and I will think about if I can improve the API.

[code]

[2018-08-07 13:33] plexxis-amackenzie opened #376 "Q: is conditional GETTER logic possible?"
I'm trying perform a little if/else logic for a getter of a type-mapping. However, it results in illegal-argument-exceptions. Maybe I'm doing it wrong? Is it maybe not possible?

example:
[code]

I've got a full question going on Stack-Overflow.  https://stackoverflow.com/questions/51726223/conditional-mapping-condition-get-this-get-that-with-org-modelmapper

[2018-08-08 11:05] plexxis-amackenzie commented on #376
That is _perfect_! Thank you so much!

[2018-08-09 01:11] #376 closed

[2018-08-10 08:20] bqcuong opened #378 "Can not map nested object in STRICT strategy mode"
I wanna create `Problem` and its nested object (`Category`) from `ProblemCreateDTO`.
With the field **categoryId** of DTO, I want only `Category.id` is mapped, not for `Problem.id` so I use STRICT strategy mode.

For below testcase, I hope that `Category.id` will be **1** but the program execution result is not expected. Please tell me if I do it wrong.

My ModelMapper version is `2.1.0`

P.s: `Ca

[2018-08-10 09:44] chhsiao90 commented on #378
It's expected behavior.

Strict matching strategy is not supporting for these kind of mapping `categoryId -> category.id` and the standard matching strategy will map `categoryId -> id`.
The behavior can be found in the documentation [Matching Strategy](http://modelmapper.org/user-manual/configuration/#matching-strategies).

*Strict*
[code]

*Standard*
[code]

Solution
I suggest you to use standard

[2018-08-10 10:04] bqcuong commented on #378
It's a pity that STRICT mode doesn't support mapping nested object.
Thank you anyway!

[2018-08-10 10:04] #378 closed

[2018-08-12 03:29] chhsiao90 commented on #363
I just release v2.1.1, please have a look, thanks.

[2018-08-12 03:29] #363 closed

[2018-08-12 03:29] chhsiao90 commented on #364
I just release v2.1.1, please have a look, thanks.

[2018-08-12 03:29] chhsiao90 commented on #370
I just release v2.1.1, please have a look, thanks.

[2018-08-13 10:01] #64 closed

[2018-08-13 16:28] git-developer commented on #364
Works as announced, thanks!

[2018-08-15 07:39] ParagMeshram opened #379 "Mapping Generic Types Not Working"
I am trying to map two generic types using http://modelmapper.org/ library representing DAO and Model classes -

Model Classes -

[code]
[code]
[code]

DAO Classes -

[code]
[code]

Mapper Logic -
[code]

It seems ModelMapper is not working and giving me pageModel with Subject class items instead of Subject Model class items

[2018-08-15 08:33] chhsiao90 commented on #379
It's a known issue, I will take a look if we can fix it. Thanks for report this issue.

[2018-08-15 09:05] chhsiao90 commented on #379
Related to #346

[2018-08-15 09:59] chhsiao90 commented on #379
I will have a fix for this.

[2018-08-15 13:02] ParagMeshram commented on #379
Thanks @chhsiao90 for the response.

[2018-08-16 02:45] chhsiao90 commented on #379
Hi @ParagMeshram , can you take a look if #380 fix your problem? I will cut a release this weekend.

[2018-08-16 03:29] ParagMeshram commented on #379
@chhsiao90 Verified. Works like a charm :+1: . Thanks a lot for the fix.

As I need to incorporate the changes looking forward to next release :)

[2018-08-16 07:00] #248 closed

[2018-08-16 07:37] chhsiao90 commented on #265
I update API for supporting builder pattern.

[code]

[2018-08-16 08:07] #265 closed

[2018-08-16 08:28] #361 closed

[2018-08-16 08:36] chhsiao90 commented on #313
Should be supported by https://github.com/chhsiao90/modelmapper-module-java8

[2018-08-16 08:36] #313 closed

[2018-08-16 08:39] #166 closed

[2018-08-16 08:51] chhsiao90 commented on #161
we had discussed about the spring boot devtools stuff in #254, and we have documentation for how to integrate with spring-boot-devtools: http://modelmapper.org/user-manual/spring-boot-devtools-integration/.

Tomcat restart issue seems to be different issue, pls create another if you still have this problem ,thanks.

[2018-08-16 08:51] #161 closed

[2018-08-16 08:57] Maze-fr commented on #161
I think it's because I shared ModelMapper's JAR between all my apps (in a Tomcat shared folder) and so Tomcat didn't unload things properly.
Now we take ModelMapper's JAR in each WAR, and it looks like we don't have the problem any more (well... nobody told me he has the problem, since then).

[2018-08-16 09:03] chhsiao90 commented on #158
For the first comment, I think there is no need to skip the source field, and after remove the line, I think it should work.

And I can't reproduce for your second comment, please try our latest release and check if the issue is still reproducible.

[2018-08-16 09:03] #158 closed

[2018-08-16 09:05] #157 closed

[2018-08-16 09:09] chhsiao90 commented on #154
I'm not sure if this issue is still active. Can you provide the source/destination classes (in source code) . Thanks.

[2018-08-16 09:38] chhsiao90 commented on #151
After investigation, I think it makes sense to call the converter.convert immediately if there is a converter defined in a TypeMap. I create a pull request #384 to fix it.

[2018-08-16 09:41] #134 closed

[2018-08-16 09:45] chhsiao90 commented on #131
I think it should be fixed by #131, I'm not sure. Can you post your stacktrace? Thanks.

[2018-08-16 09:46] chhsiao90 commented on #128
already fixed it.

[2018-08-16 09:46] #128 closed

[2018-08-16 09:47] chhsiao90 commented on #125
Now we are using ByteBuddy instead of cglib. Feel free to create/reopen issue if there is still concern on the proxied type's name.

[2018-08-16 09:47] #125 closed

[2018-08-16 09:55] chhsiao90 opened #385 "Field matching refinement"
It looks like many users have mapping issue on `id` fields with our standard matching strategy.

like
[code]

or
[code]

We should find a better way to solve this problem.

[2018-08-16 09:55] chhsiao90 commented on #68
Create #385 for id mapping issues.

[2018-08-16 09:55] #68 closed

[2018-08-16 10:01] #151 closed

[2018-08-16 11:17] goodlifeinc opened #386 "Mapping Source object to Destination object"
Hi guys,
First of all thanks for this great library.

A few days ago I have change my dependency on this project from 0.7.5 to 2.1.0 and noticed that the method

    public void map(Object source, Object destination)

changed its behavior, and its not mapping inner lists as it used to.

Here is a simple example:

    // setup
    Inner inner = new Inner();
    inner.setDescription("domain");
    i

[2018-08-16 11:51] chhsiao90 commented on #386
hi @goodlifeinc ,

Thanks for reporting this issue and the detail information. Confirm this is a bug caused by #362 for issue #360. I will have a fix for it.

Before that, I would like to ask that is there any reason that you don't use `modelMapper.map(outer, OutderDTO.class)` to create a new instance of dto. Instead, you use `modelMapper.map(outer, outerDto)` to overwrite the exist one. Thanks.

[2018-08-16 12:30] goodlifeinc commented on #386
Well I don't have but I think in 0.7.5, as I showed in the second example, it maps them one by one, if in the destination list are more items than in the source list, they get left there without any interactions.

The other case when the source list has more items, they get added to the destination.

Does this make sense?

[2018-08-16 12:38] chhsiao90 commented on #386
Yes, I will have a fix for this, thanks for the feedback.

[2018-08-20 01:28] #386 closed

[2018-08-20 01:30] #379 closed

[2018-08-22 04:05] parveenkumardeeva commented on #386
Hi,

@chhsiao90 I'm just using ModelMapper via following configs:

[code]

I have two classes:

[code]

When I'm mapping `UpdateCart` to `Cart` ( during updation of Cart process, **`P.S - UpdateCart items are initialized with a new ArrayList(cart.getItems())`** ) then if `UpdateCart` have less number of `items` than `Cart` it's duplicating the common item by the `size` of Cart `items` and removed

[2018-08-22 05:47] chhsiao90 commented on #386
Hi @parveenkumardeeva ,

Here is current implementation:
*If source has more items (source items' size > destination items' size)*
[code]

*If they have same size (source items' size = destination items' size)*
[code]

*If source has lessitems (source items' size < destination items' size)*
[code]

What's your use case that have different size of source and destination items?
For the author opened

[2018-08-22 06:05] parveenkumardeeva commented on #386
Yes, Exactly this is happening as you provided into the example.

But I want to forget what's into the Destination items (Don't use them). Just copy all items from the Source to Destination. Either it's null or Some items.

Is it possible via current implementation?

[2018-08-22 06:07] chhsiao90 commented on #386
you can just ```modelMapper.map(source, Destination.class)``` to always create a new instance.

[2018-08-22 06:13] parveenkumardeeva commented on #386
The problem is that all my source code is using `modelMapper.map(source, destination)`. Where destination is the object retrieved from the DB. And it have many more fields which should not get update under any circumstances.

I'm only using it during update process. During creation the implementation provided by you is fine.

[2018-08-22 06:40] parveenkumardeeva commented on #386
Is there any other way through which I can obtain the desired result?

[2018-08-22 06:41] chhsiao90 commented on #386
Okay, then you should try custom property mapping with a property provider that creates a new ArrayList.

**For Java 8**
[code]

**For Java 6/7**
[code]

[2018-08-22 06:58] parveenkumardeeva commented on #386
OK Thanks, It's working fine by adding Mappings. I initially thought it should work like that by default. Anyway thanks again.

[2018-08-23 09:00] vamadou opened #388 "In 2.2.0 using ModelMapper to map to a class using a converter causes a NPE"
Since release 2.2.0 the following code will crash due to a NPE

    ModelMapper modelMapper = new ModelMapper();
    Converter<From, To> fromToConverter = new Converter<From, To>() {
        public To convert(MappingContext<From, To> context) {
            From from = context.getSource();
            // Will cause a NPE when map method is called with Class param
            To to = context.getDest

[2018-08-23 09:36] vamadou commented on #388
Sorry bad explanation ... but check the value of the `context.getDestination()`in your Converter ... it will be null

[2018-08-23 09:39] chhsiao90 commented on #388
If you are using converter to convert a source to destination, then ModelMapper won't create the destination instance for you. I think it's working as design.

Can you share your use case?

[2018-08-23 09:47] vamadou commented on #388
Hum hum 🤔 I think I understand what you mean, I’ll double check ... was working correctly before 2.2.0 though

[2018-08-23 12:48] vamadou commented on #388
I'll change my code to pass an instance iso a type in my modelMapper.map(...) invocation

Two remarks though, because even though it may be working as designed and I do understand the Converter point-of-view:
- it was working correctly before 2.2.0 and nothing in doc/code prevented it so maybe add something to the release note/doc
- Finally I find it a bit sad to have to know how the mapping betwe

[2018-08-23 15:34] chhsiao90 commented on #388
Currently, we have [CHANGES.md](https://github.com/modelmapper/modelmapper/blob/master/CHANGES.md) for the release note. But I'm not sure if it's good enough to notice user how the upgrade impact on their program. Please let me know if you have any good idea that we can improve about how to notify users with these broken changes?

I'm trying hard to make the mappings more reasonable and straight-f

[2018-08-23 16:01] vamadou commented on #388
I know the drill, always difficult to please everyone. No problem.
Keep up the good work.

[2018-08-23 16:01] #388 closed

[2018-08-29 07:40] julianps opened #389 "Map Collection to Object"
is it possible to map the "n-th" item from a collection to the destination with deep mapping?

The following code works:

[code]

But if you have an additional layer, I could not get it to work. Is there a possibility to map the following example?

[code]

[2018-08-30 01:46] chhsiao90 commented on #389
It looks like ModelMapper doesn't provide good API for this, I will create some useful API for this kind of mapping.

Before that, you can try:

[code]

I think it should work.

[2018-08-30 12:27] bmaassenee opened #391 "Mapping lombok value(immutable) class"
I'm trying to map a by lombok generated class with @Value to a normal bean. But i'm getting a exception with the message: Cannot map final type. Now i see in the examples that its possible to map to a immutable object. So i find it strange that i can't map from a immutable object.

My code:
`_modelMapper = new ModelMapper();
_modelMapper.addMappings( new PropertyMap<ImmutableDeviceCapabilities, De

[2018-08-31 08:18] chhsiao90 commented on #391
What do you mean `immutable object`? I think immutable object is not equal to final class, it's different thing.

- Final class means that the class defined with `final`, and it cannot be inherited
- Immutable class means that all properties defined in this class are `final`, and it can't be changed after the object constructed

I'm confused if your problem is the first one or the second one?

Mod

[2018-08-31 09:03] bmaassenee commented on #391
I actually mean Immutable, so the class only has getters and no setters, and all fields are final.
The class is created with [@Value](https://projectlombok.org/features/Value)
I've used delombok on the class to verify the generated code, and the generated class is not final

[2018-08-31 09:06] bmaassenee commented on #391
Sample that shows the issue:
[code]

with gradle build file:
[code]

[2018-08-31 09:18] chhsiao90 commented on #391
According to the documentation from lombok: [Value](https://projectlombok.org/features/Value):

So ModelMapper cannot support property mapping on a final class.

And the documentation also says

So I think you can add @NonFinal just under the @Value and see if it works.

[2018-08-31 12:00] chhsiao90 commented on #391
No problem, all issues are welcome :)

[2018-08-31 21:51] gopalc commented on #265
@chhsiao90
I am using
<dependency>
			<groupId>org.modelmapper.extensions</groupId>
			<artifactId>modelmapper-protobuf</artifactId>
			<version>2.2.0</version>
		</dependency>

 and trying to convert POJO to protobuf object
 InputInstruction inputInstruction = InputInstruction.builder().type("input_instruction").schedules(Arrays.asList(new Schedule[]{schedule1, schedule2})).build();

Destinationt

[2018-09-01 03:01] gopalc commented on #265
Below test case is failin

    @Test
    public void testConverter1() {
        Element2 element21 = Element2.builder().name("Name1").grade("grade1").build();
        Element2 element22 = Element2.builder().name("Name2").grade("grade2").build();
        ArrayList<Element2> el = new ArrayList<>();
        el.add(element21);
        el.add(element22);
        Element1 element1 = Element1.builder().e

[2018-09-01 05:06] gopalc commented on #265
After adding modelMapper.registerModule(new ProtobufModule()); getting below error.

Caused by: java.lang.NoSuchMethodException: com.sample.protobuf.message.DestinationInstructionProto$Destination$Builder.getE1()

[2018-09-01 14:57] gopalc commented on #265
org.modelmapper.MappingException: ModelMapper mapping errors:

1) Error mapping com.instruction.model.SourceInput to com.sample.protobuf.message.DestinationInstructionProto$Destination$Builder

1 error

	at org.modelmapper.internal.Errors.throwMappingExceptionIfErrorsExist(Errors.java:380)
	at org.modelmapper.internal.MappingEngineImpl.map(MappingEngineImpl.java:80)
	at org.modelmapper.ModelMapper

[2018-09-03 03:00] chhsiao90 opened #392 "Protobuf module throws NoSuchMethodException for list type"
See https://github.com/modelmapper/modelmapper/issues/265#issuecomment-417865087

[2018-09-03 09:13] chhsiao90 commented on #392
Currently, protocol buffer module is not supporting the repeat field. I will work on this.

[2018-09-04 09:33] pkalinkina opened #393 "Result of mapping field (type: Collection) with 2.1.1 and 2.20 is different from 0.7.4"
Hello, I wanted to ask what is expected behaviour in the following case:

I have an entity class:
[code]
and a DTO class:
[code]
`@Data` and `@AllArgsConstructor` are annotations from Lombok to generate setters/getters

And I have the following test:
[code]

It passes if I use model mapper 0.7.4, but fails when I use 2.1.1 or 2.2.0.
The error:
[code]

If I add this configuration when using 2.1.1 o

[2018-09-04 09:44] chhsiao90 commented on #393
Please check #386 that we change the behavior of mapping collections.

Explained here: https://github.com/modelmapper/modelmapper/issues/386#issuecomment-414918810 and workaround: https://github.com/modelmapper/modelmapper/issues/386#issuecomment-414928196

[2018-09-04 10:03] pkalinkina commented on #393
Thank you for the fast reply! The workaround helped

Just wondering, have you considered to make a property for collection mapping strategy?
For example
REWRITE:
[code]
APPEND:
[code]
DEFAULT:
[code]

So this behaviour can be set once on mapper level

[2018-09-04 15:45] adeptues commented on #281
This behaviour makes it nearly impossible to determine how to correctly add type mappings to the configuration fr anything but the trivial of examples

[2018-09-05 01:04] chhsiao90 commented on #86
Already supported!

[2018-09-05 01:04] #86 closed

[2018-09-05 01:07] chhsiao90 commented on #281
I think there is already an issue about the TypeMap ordering problem: #25.
It's hard to implement but we will try to work on this.

[2018-09-05 01:16] chhsiao90 commented on #393
Sorry...I'm not very interested for introducing new API for this.

[2018-09-05 16:02] silencerby commented on #182
The problem in here is twofold.

First, by going from a general class' typemap (BaseSrc > BaseDest) to a more specific one (BaseSrcA > BaseDestA), you end up with a specific typemap not having property mappings for specific properties - the ones defined in BaseSrcA/BaseDestA.

So what you should do is create a general mapping first and then includeBase it into a more specific one(s):
[code]

You w

[2018-09-06 11:36] silencerby opened #397 "Unable to map SortedMap field"
Testcase and fix: #396

[2018-09-07 01:51] #397 closed

[2018-09-11 14:30] #182 closed

[2018-09-11 14:31] #393 closed

[2018-09-13 14:07] wwang2016 opened #398 "Failed mapping of an example of inheritance hierarchy in two different object model"
Hi,

I have studied the inheritance example and was able to run it successfully.

However, I have a different case which does not seem to work.

I reused all the BaseDest.java, BaseDestA.java, BaseDestB.java, BaseSrc.java, BaseSrcA.java, BaseSrc.B.java except for changing BaseDest.java and BaseSrc.java to be abstract class. I ran the inheritance example, and it still worked fine.

Now, for my case

[2018-09-13 18:50] wwang2016 commented on #398
Note: the only difference between my case and the example from source code is the container in my case has one instance defined super type while the container in the example has a List of instance defined as super type.

I actually changed my Container to have a list of instances defined as super type, and the type mapping code was invoked too.

This seems to be a bug that happened when there is o

[2018-09-14 12:47] wwang2016 commented on #398
I pulled the master branch (2.2.1) and tested with both of the following configurations. However, the issue remains. As I indicated before, the issue will be resolved if the ObjectContainer.java has a List<BaseSrc> instead of one instance of BaseSrc. If the ObjectContainer had only one instance of BaseSrc, then the typemapping would not be invoked, and modelmapper will try to create an instance of

[2018-09-14 14:12] wwang2016 commented on #398
I would like to share one piece of information I identified:
When I add some debug message to the method of MappingEngineImpl.java (public <S, D> D map(MappingContext<S, D> context) {...})
I can see the following message when I test the inheritance example code:
converter: org.modelmapper.internal.converter.CollectionConverter
Basically this converter was invoked. Then the typemapping configuratio

[2018-09-18 03:56] chhsiao90 commented on #398
Thanks for this report. I can reproduce this bug and I will fix it.

[2018-09-18 09:14] STValeo opened #400 "List<Animal> to Dto complex (nested object)"
Hi,

I would like to convert a List<Foobar> to a simple Dto.

However the Foobar object is pretty much complex, it contains a many to one relationships (hibernate jpa) and a simple property called prop1.

Aka

public class Foobar {
   Foobar1 foobar1;
   String prop1;
}

public class Foobar1 {
   String prop2;
   String prop3;
   String etc...
}

and Dto

public class Dto {
    String prop1;
    S

[2018-09-21 20:37] vivekpandian commented on #182
@error84 @chhsiao90

I tried version 3.0.0 but still having issues w.r.t inheritence.  I used @ulisesbocchio 's example but added additional properties to child class.  The child properties are not being set.

class Base {
   private String type;
   // setters and getters go here
}

class A extends Base {
      private Sting  propertyA;
      // setters and getters go here
}

class B extends Base

[2018-09-27 12:46] Eoin-Mur opened #401 "OSGI Manifest generation does not include imports for private packages since 2.1.1"
### Issue

Current Build since release 2.1.1 no longer correctly generates import entries for private packages in the OSGI manifest file via the BND tools plugin `maven-bundle-plugin` This results in Runtime ClassNotFound Exceptions being raised when used in osgi.

```java.lang.NoClassDefFoundError: sun/misc/Unsafe```

Bug was introduced as part of the fix for the issue https://github.com/modelmap

[2018-09-27 12:49] Eoin-Mur commented on #401
I have created a pull request with the solution described https://github.com/modelmapper/modelmapper/pull/402

[2018-09-28 07:33] Kilrath commented on #285
Regarding the unit Test above it only works due to a configured map defining source.member to destination.member. But this is what I want to avoid (for a long list of members) while using ModelMapper (2.3.0) otherwise I can map my code by hand which is easier!

[2018-09-28 09:25] ugo-fl opened #403 "Unable to map an object containing a List of objects"
Here are the source objects :

[code]

[code]

Here are the destination objects :

[code]

[code]

And the test :

[code]

[2018-09-28 09:52] UgoFlamarion commented on #403
Another weird thing -> if I add a setter to my Obj1DEST and then add the following :

[code]

It works like a charm. But then if I change it to :

[code]

I get an exception :

[2018-09-29 08:32] teplyuska opened #404 "UnsupportedOperationException when adding PropertyMap"
I just tried to update my project to java 11.

See this example for referenced classes in the following text:
https://github.com/teplyuska/modelmapper-example

https://github.com/teplyuska/modelmapper-example/blob/master/src/main/java/modelmapper/example/demo/Mapper.java

Many of my mapping configurations are done like you see in Mapper.setupMappingsError() which has not been a problem before.

Lo

[2018-10-01 01:47] chhsiao90 commented on #404
I think both `Mapper.setupMappingsSuccess` and `Mapper.setupMappingsError()` should work same in ModelMapper.

It's a problem if it's not working on java 11. Can you post stacktrace if there is any exception thrown when running on java 11? Thanks.

[2018-10-01 08:50] chhsiao90 opened #405 "Provides new classifier: all-in-one jar and with-dep jar"
See https://github.com/modelmapper/modelmapper/pull/402#issuecomment-425826281

It's also good for supporting on Android.

[2018-10-01 08:58] chhsiao90 opened #406 "Only shade classes used by ModelMapper into the shaded jar"
See https://github.com/modelmapper/modelmapper/pull/402#issuecomment-425826281

[2018-10-01 19:59] teplyuska commented on #404
Hello

Here is the stacktrace:

`org.modelmapper.ConfigurationException: ModelMapper configuration errors:

1) Failed to configure mappings

1 error

	at org.modelmapper.internal.Errors.throwConfigurationExceptionIfErrorsExist(Errors.java:241)
	at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:244)
	at org.modelmapper.internal.ExplicitMappingBuilder.build(Explici

[2018-10-03 08:06] yunusde opened #408 "Flattening is not working on Recursive Type"
i will go with an example

[code]

this is not working, but when i extend ParentCategory from Category and change nothing and change the "parent" property type to ParentCategory it's all work.

[code]

[2018-10-03 11:29] agdolla opened #409 "Provider to collection"
Hi
My problem is somewhat similar to #248 , I'd like to map a collection to other collection, but I'd like to provide the instances manually for every item.
My problem is something like this:
[code]

the second mapping does not work, is it possible to have a Provider for a Collection ?

thanks
Gabor

[2018-10-05 17:34] yevgeniitaran commented on #404
Writing to confirm the problem. Have the same issue with java 11

[2018-10-10 18:40] Kilrath commented on #282
I had wrote such a converter for our projects. Maybe I could add this to the project here?!

[2018-10-11 13:14] esorbalo2 commented on #94
+1

[2018-10-12 11:39] plexxis-amackenzie opened #410 "Question concerning Matching-Strategies and Multiple-Source-Property-Hierarchies"
So right now I have a model/dto that's giving me the "... matches multiple source property hierarchies" exception. It's okay, I understand what it's complaining about.

However, after adding the mappings for those properties, the exception continues to occur. Is that expected behaviour? My assumption is that model-mapper will not try to guess at a property if I tell it what to do.

The below code

[2018-10-12 20:30] michal-grabarczyk commented on #122
We've encountered the same issue while trying to map Optionals, where target class has 2 setters for Optional attribute. It blocks us from using `modelmapper` with `immutables.github.io` as immutables generate 2 setters for Optional attributes.
In the following example if you change the order of setters in the target class - the test passes.

[code]

The possible issue is in `PropertyInfoSetResolv

[2018-10-17 14:55] Dimok74 commented on #404
i have same problem

[2018-10-18 07:17] teplyuska commented on #404
I think that it is the asm dependency that does not allow using experimental methods in this version of java. Automapper is using the latest version of the dependency, so setting up mappings like the example will not be possible before a new version is out that enables this again. There is currently a 7.0-beta, so i guess you could test with that.
If you cannot wait you can rewrite the mapping set

[2018-11-05 14:51] Lempkin opened #412 "NullPointerException when loading mapping"
Hi,

I'm new to ModelMapper and I'm not sure about how I should use it in this case :
I have an entity where I have a fileName. In my DTO I want to get the file content. So I would like to get the file content and set it in my DTO during mapping.
I try to writte a mapping :

    @Configuration
    public class FabricMapper {

    	public FabricMapper(ModelMapper modelMapper, Environment env) {

[2018-11-08 11:05] jrry opened #414 "WARNING: Illegal reflective access using Lookup on org.modelmapper.internal.ProxyFactory to interface java.util.Set"
Hi, i have a warning in console when i convert Set to String separated by comma. How to fix it?
ModelMapper version 2.3.1
Compiled with jdk 11 and jdk 10

[code]

[2018-11-12 09:49] dominikseitz commented on #404
asm-7.0 is out by now so maybe updating the asm version in core/pom.xml would be an option?

[2018-11-12 16:54] leonroy opened #415 "Mapping nested generic classes"
I'm trying to map class `A<T extends PojoaInterface>` to `B<T extends PojobInterface`:
[code]

It seems though that `B.getPojo()` always returns `null`. Is this a limitation in model mapper or am I missing something?

[2018-11-12 17:12] leonroy commented on #379
Sure this fix works?

I've run the below with version 2.3.1 and get the source type given instead of the destination type. Error is:

`java.lang.ClassCastException: com.example.ModelMapperUnitTest4$PojoaProperties cannot be cast to com.example.ModelMapperUnitTest4$PojobProperties`

[code]

[2018-11-14 13:31] chhsiao90 commented on #379
Thanks for the report, I will take a look.

[2018-11-27 14:40] bvthuan opened #417 "PropertyMap doesnt work as expected"
I have created a property map, but sometimes it doesn’t work as expected. I guess that the hashCode of source class or dest class is changed, so the ModelMapper initializes the TypeMape or a mapping inside the TypeMap, but for both of cases the new mapping doesnt take the propertymap configuration

[2018-11-29 11:47] SamilCan commented on #94
+1

[2018-12-03 12:14] OW-Coder2 opened #419 "Can't resolve multiple matches with TypeMap"
Hi,

maybe i am doing something wrong, but i think it should be possiblie to resolve multiple source matches with a typemap.

`import org.junit.Test;
import org.modelmapper.ModelMapper;

public class ModelMapperTest {

    private final static ModelMapper modelMapper = new ModelMapper();

    static {
        modelMapper.createTypeMap(B.class, A.class)
                   .addMappings(mapper -> {

[2018-12-04 05:37] vishalghanwat321 opened #420 "Regarding Long Object conversion to Json value"

[2018-12-04 05:42] vishalghanwat321 commented on #420
In Java, if I want to convert a Long value greater than 9007199254740991 to JSON, then it's not working.

If I put value 9007199254740993 then it's rounding to 9007199254740992.

[2018-12-04 13:23] #404 closed

[2018-12-04 14:16] Divisibility opened #421 "Mapping interface hierarchy"
Hi there,

im having difficulties to use ModelMapper to map our JPA-Entity tree to our TO object tree. We are working with TO-Java-Interfaces and are hiding implementations of TOs to our service-class. This class maps the entities by using self-written converters classes. These converters are instantiating correct implementation of TO-Interface and are filling the data. The converters are using ot

[2018-12-04 19:23] ShawnStrong opened #422 "Protobuf extension breaks if protobuf message variables contain underscore"
Rewrite for clarity:

The protobuf extension only works for gRPC messages with one word variables. It breaks if there are multiple words in a variable, separated by underscores (which is the standard naming convention for protobuf lanaguage, see https://developers.google.com/protocol-buffers/docs/proto3).

[2018-12-05 11:48] ddesna commented on #108
Ok, I solve it with post converter.
[code]

[2018-12-06 13:03] q-src opened #423 "Collection items are not removed if source is smaller than destination"
We use modelmapper in a RESTful API for mapping dtos to entities. Therefore, we expect the items missing in `source` being removed from `destination` when the collection / array mapping is done in a child context.

Example:
[code]
After the mapping, we'd expect `entity.items` to equal `{"a", "b"}`. However, it remains unchanged and equals `{"a", "b", "c"}`.

[2018-12-06 14:37] MALadouceur commented on #28
What is it supposed to validate?
I have the following models

class Foo {
String bar;
//getter/setter ommited
}
class FooModel {
String barFoo
}

final FooModel model = modelMapper.map(foo, FooModel.class);
modelMapper.validate()

I expect the validate function to throw an exception because barFoo is not matched but it doesn't.
I am using strict mode.

[2018-12-07 05:39] chhsiao90 commented on #423
It's a design decision when I implemented #387.

Please check comments: https://github.com/modelmapper/modelmapper/issues/386#issuecomment-413526172, https://github.com/modelmapper/modelmapper/issues/386#issuecomment-414918810.

And here is the code you can try with current ModelMapper: https://github.com/modelmapper/modelmapper/issues/386#issuecomment-414928196

[2018-12-07 05:41] chhsiao90 commented on #28
If it didn't throw an exception with strict mode enabled, then it's a bug.

[2018-12-07 09:49] ldoblies opened #425 "Nested empty object is not mapped"
(getters/setters omitted)
Source:

[code]
Destination:

[code]

Mapping a parent object that contains an empty child object (only null fields) results in parentMapped.child being null:

[code]

I would have expected parentMapped1.getChild() to be an empty object. Is there a setting for this?

[2018-12-10 12:07] mkadan commented on #301
Thx @chhsiao90

Your solution worked just fine until I decided to add a `Provider` so I can use one instance of a specific type for a specific `id`. After that I started getting `StackOverflowException`s again.

My current model is:
[code]

When I map from `Holder` to `Holder2` without a Provider, everything works just fine. But when I do it with a Provider (set globally with `modelMapper.getConfi

[2018-12-12 08:49] honzirek opened #426 "modelmapper is using JDK-internal API"
If I use extend configuration (e.g. method skip in PropertyMap), then I get Exception when using on WildFly 14.

The problem is, that WildFly is by default excluding JDK-internal API. Then I have to manually add <module name="jdk.unsupported" /> into jboss-deployment-structure.xml as a workaround.

Using an JDK-internal API is a bad practice.  Would it be possible to remove this dependency from mo

[2018-12-15 05:51] chhsiao90 commented on #409
Hi @agdolla ,

Can you take a look https://github.com/modelmapper/modelmapper/blob/master/core/src/test/java/org/modelmapper/bugs/GH248.java#L63-L69 if it can fixed you problem?
Thanks!

[2018-12-15 05:53] chhsiao90 commented on #410
Hi @plexxis-amackenzie,

Can you post the source code what the source and destination classes looks like? Thanks!

[2018-12-15 05:54] chhsiao90 commented on #412
Hi @Lempkin,

The `map(...)` only accept getter and setter. For more complicated case, please use converter `using(converter).map(...)`. Thanks.

[2018-12-15 05:57] chhsiao90 commented on #414
Hi @jrry ,

We are still not working with new Java module system. So it's expected behavior the compiler complains about this kind of problems.

[2018-12-15 05:58] #408 closed

[2018-12-15 08:13] chhsiao90 commented on #417
Can you post more detail? Like exception stacktrace? Or source code? Thanks.

[2018-12-15 08:18] chhsiao90 commented on #419
Hi @OW-Coder2,

What's your expected result for this?
[code]

Or
[code]

I think it's better to use [Property Mapping](http://modelmapper.org/user-manual/property-mapping/) for this kind of scenario. Thanks.

[2018-12-15 08:35] chhsiao90 commented on #421
Hi @Divisibility ,

We have [Type Map Inheritance](http://modelmapper.org/user-manual/type-map-inheritance/) that was used for solving this kind of problems.

I guess your entity will looks like below.
[code]

And you need to configure your ModelMapper as below.
[code]

[2018-12-15 08:36] chhsiao90 commented on #422
Can you provide your proto file? Thanks.

[2018-12-15 08:43] chhsiao90 commented on #425
It looks like ModelMapper don't have this kind of settings. It needs you to configure your TypeMap by yourself.

*Solution 1*
Add a sub TypeMap.
[code]

*Solution 2*
Use [Conditional Mapping](http://modelmapper.org/user-manual/property-mapping/#conditional-mapping)

*Solution 3*
Use [Post Converter](http://modelmapper.org/javadoc/org/modelmapper/TypeMap.html#setPostConverter-org.modelmapper.Conver

[2018-12-15 08:52] chhsiao90 commented on #400
Hi @STValeo ,

Do you mean List<Foobar> to List<Dto>?
Is below mappings your expected mapping result?
[code]

[2018-12-17 08:09] Caillak opened #430 "Global mapping for a Collection to an Object"
Dear,

After a lot of testing and research on this topic I cannot fully solve my issue. I'm using modelmapper for entity/DTO mapping in a springboot application. I'm trying to configure my modelmapper to map a Set to a simple DTO object. I already create the a custom converter and it is working as expected:

[code]
My issue is now to apply this converter to all "Set<CategoryTl> => CategoryTlDTO".

[2018-12-17 08:39] OW-Coder2 commented on #419
As you can see in the static initalisation, im using mapper.map(src -> src.getTest1(), A::setTest);, so b.test1 -> a.test is my expected result. It is normal, that the modelmapper don't know, which getter (test1 or test2) shall be mapped to the setter test, but with the static initialisation, im doing an explicit mapping, so that error shouldn't been thrown.

[2018-12-17 08:59] agdolla commented on #409
Hi @chhsiao90
That project is finished by now, so I close this ticket. If it comes back again and your fix does not work I'll reopen it.
Thanks for you efforts!!!

[2018-12-17 08:59] #409 closed

[2018-12-18 00:09] ShawnStrong commented on #422
Proto:

syntax = "proto3";

message ModelMapperMessage {
    string my_string = 1;

    repeated string more_strings = 2;

    NestedMessage nested_message = 3;
}

message NestedMessage {
    string my_other_string = 1;
}

[2018-12-18 00:12] ShawnStrong commented on #422
[code]

[2018-12-18 01:06] chhsiao90 commented on #419
Hi @OW-Coder2 ,

`modelMapper.createTypeMap(B.class, A.class)` will trigger implicit mappings.
Maybe you can try `modelMapper.emptyTypeMap(B.class, A.class)`?

[2018-12-18 01:20] chhsiao90 commented on #430
This problem is a little tricky.

Can you try [ConditionalConverter](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/spi/ConditionalConverter.java).

And add this converter to ModelMapper's converter store (It's an internal API, so it's not recommend to use this, but it looks like we can't provide the feature you want without this internal API).

[code]

[2018-12-18 08:43] Caillak commented on #430
I will try this during the week end. I know that "Orika" handle this issue but I try to solve it with modelmapper.

Thanks.

[2018-12-20 12:18] Divisibility commented on #421
Hi @chhsiao90,

I have tested your suggestion and unfortantely it does not work. Im getting the same errors:

  1) Failed to instantiate instance of destination me.dames.to.ISub1TO. Ensure that me.dames.to.ISub1TO has a non-private no-argument constructor.
  Caused by: java.lang.NoSuchMethodException: me.dames.to.ISub1TO.<init>()
  ..
  2) Failed to instantiate instance of destination me.dames.to.

[2018-12-20 13:55] rboleynl opened #431 "mapping field error"
two classes, Test1.java and Test2.java, demo like this:
Test1.java:
@Data  -->lombok
public class Test1 {
    private Long createBy;
    private String createByName;
}
@Data
public class Test2 {
    private String createBy;
    private String createByName;
}
public class Test {
    public static void main(String[] args) {
        Test1 test1 = new Test1();
        test1.setCreateBy(1l);
        te

[2018-12-20 13:56] rboleynl commented on #431
maven dependency
<dependency>
            <groupId>org.modelmapper</groupId>
            <artifactId>modelmapper</artifactId>
            <version>2.3.2</version>
        </dependency>

[2018-12-29 01:12] human453453467 opened #432 "How recursively update embedded objects on mapping into existed object instead of rewrite it?"
I'll show you an example:

valueToUpdate:
[code]
existed object:
[code]
and as a result i want get:
[code]

Can I get similar functionality using ModelMapper? What do I need to use? I can close this issue by myself. I only need clues for find needed objects.

[2019-01-03 23:56] jshort opened #433 "Registered custom converter with modelMapper, but still trying to use default constructor."
I have a class that looks like:
[code]
When trying to map a Message to a MessageDTO, I get:

[code]
And looking at the stacktrace, it is not using my custom converter (which uses the fluent builder to construct the object).  Does ModelMapper always attempt to construct an instance of the object before it uses the custom converter?  Also, in a debugger, I saw that the TypeMap has the Message -> Mes

[2019-01-04 01:53] chhsiao90 commented on #433
Hi @jshort,

Is `Message` an interface or abstract class?
The source type must be the same class as the source object.

[2019-01-04 03:49] jshort commented on #433
I moved to 2.3.0 like the other projects I've worked on and the issue is gone, sorry (I'm not sure why this project was on such an old version).

[2019-01-04 03:49] #433 closed

[2019-01-07 02:09] youngwonseo opened #434 "typo"
at here "http://modelmapper.org/user-manual/converters/"

need to change "toUppercase -> toUpperCase"

[2019-01-08 10:31] DanielVogtland opened #435 "Creation/mapping of references fails if target object is given"
Resolving/mapping references in tree structures fails if the **modelMapper.map(source, target)** is used instead of **modelMapper.map(source, TargetClass.class)**.

I attached a test project. You will see that **shouldResolveTreeSimpleRecExistingRecord** and **shouldResolveSelfRefTreeExistingRecord** fail while the "new record" variants **shouldResolveTreeSimpleRecNewRecord** and **shouldResolveSe

[2019-01-09 20:49] peter-san commented on #182
Hi,

I was able to get it runnung for lists.

    A.list->B.list

Does somebody know how to get it woking for properties?

    A.value -> B.value

Thanks

    private static class A {

      C value;
      List<C> list;

      A(C value, C... ints) {
        this.value = value;
        this.list = Arrays.asList(ints);
      }
    }

    private abstract static class C {

      int base = 0;
    }

[2019-01-10 02:47] chhsiao90 commented on #182
Hi @peter-san ,

Is there any exception? Is the problem caused by the null value? Can you try give it a C instance to the value? Thanks.

[2019-01-10 07:03] peter-san commented on #182
Hi @chhsiao90,

I get in version 2.3.2 this MappingException:

    org.modelmapper.MappingException: ModelMapper mapping errors:

    1) Failed to instantiate instance of destination de.volkswagen.fepcicd.simelementservice.service.simulation.ModelMapperTest$D. Ensure that de.volkswagen.fepcicd.simelementservice.service.simulation.ModelMapperTest$D has a non-private no-argument constructor.

There

[2019-01-10 07:43] amoiceeva opened #436 "Bug"
There is the bug if you use version 2.3.2. I use such converter as
[code]

When I run application it throws NullPointerException because context.getDestination() = null. I found that class MappingEngineImpl has a problem. Its method <S, D> D typeMap(MappingContextImpl<S, D> context, TypeMap<S, D> typeMap) tries to get destination 2 times.

First it checks the condition
[code]
This condition is fal

[2019-01-11 05:07] amoiceeva commented on #436
`public class Address {
    private String street;
    private String city;

    public String getStreet() {
        return street;
    }

    public void setStreet(String street) {
        this.street = street;
    }

    public String getCity() {
        return city;
    }

    public void setCity(String city) {
        this.city = city;
    }

    @Override
    public String toString() {

[2019-01-11 08:36] giamma opened #437 "NPE when using model reference lambdas on IBM JDK"
Due to upstream issue https://github.com/jhalterman/typetools/issues/47 a NullPointerException occurrs on IBM J9 JDK version 8 (and possibly later versions) when the mapping between two objects is defined in terms of method reference lambdas to getters and setters:

`typeMap.addMappings( mapper -> mapper.map (BeanA::getProperty, BeanB::setProperty) );'

[2019-01-16 01:06] aludin commented on #65
I am having the same issue with mybatis proxied class.

[2019-01-17 22:34] dineshsriram commented on #392
Any updates on this, @chhsiao90 ?

[2019-01-20 02:03] chhsiao90 commented on #437
I will update the typetools version once the issue is fixed. Thanks.

[2019-01-20 02:17] chhsiao90 commented on #436
Hi @amoiceeva,

Is your problem is that you got null destination in your converter?
Converter is used for `convert`. So we are not recommended to get and use destination in converter.

[2019-01-22 01:29] polinwei opened #439 "Can DateConverter support the ISODate date format: 1899-12-31T16:00:00Z?"
Hi Sir:
I got the error message below. Can DateConverter support  the ISODate data format: '1899-12-31T16:00:00Z'?

Converter org.modelmapper.internal.converter.DateConverter@6765246d failed to convert java.lang.String to java.util.Date.
Caused by: org.modelmapper.MappingException: ModelMapper mapping errors:

1) Error mapping 1899-12-31T16:00:00Z to java.util.Date

[2019-01-23 05:47] polinwei commented on #439
I found the solution.
https://stackoverflow.com/questions/51631692/modelmapper-and-localdate-spring-boot

[2019-01-23 05:47] #439 closed

[2019-01-23 16:31] q-src commented on #423
Thanks for the reply. Now we use custom typeMaps as you suggested.

[2019-01-28 14:19] yangnaihua commented on #417
org.modelmapper.ConfigurationException: ModelMapper configuration errors:

1) Failed to configure mappings

1 error

	at org.modelmapper.internal.Errors.throwConfigurationExceptionIfErrorsExist(Errors.java:241)
	at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:244)
	at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:96)
	at org.

[2019-01-28 14:20] yangnaihua commented on #417
InvoiceCopyVM vm = mapper.map(object, InvoiceCopyVM.class);

        //创建自定义映射规则
        PropertyMap<InvoiceCopyVM,Invoice> propertyMap = new PropertyMap<InvoiceCopyVM, Invoice>() {
            @Override
            protected void configure() {
//                if (map().getWeight().equals(BigDecimal.ZERO) || map().getWeight() == null) {
                    map().setWeight(source.getRoughWeight()

[2019-02-02 03:01] bkeyser opened #440 "Intermediate entity mapping"
With a simple source model of `Source -> Entity` and the transformation to `Destination -> Intermediate -> Ultimate`, ModelMapper does not create the intermediate object.  In order to correctly transform the source to the destination, I thought I had to use a `Provider`.  However, this also failed.  Providing a template of the destination ultimately worked.

An example project is available at http

[2019-02-03 04:11] bfrisoni opened #441 "Mapping child null object as (empty) object on source"
When mapping source parent object with a child object having a null reference to a destination object who's child object is set to a non null value, the result is a destination object who's child object properties are cleared. My assumption is the expected behavior should result in this destinations object child to be null as well. Attached a screen shot of result. As you can see personDTO.item is

[2019-02-05 17:48] kbytesys opened #442 "Cannot detect Hibernate proxy classes"
If I add a mapping for Hibernate Entity to a DTO class convertion everything works well because the model mapper doesn't receive a proxied class.

But if the mapper receive a collection of objects that contain that Entity class, the Model mapper receives the proxied class. The result is that modelmapper doesn't match the type inside the configuration and misses the correct mapper.

Example: it.its

[2019-02-06 13:41] #423 closed

[2019-02-08 10:52] Kilrath opened #443 "The provided destination instance is not of the required type."
Hi,

I think there is a bug in when try to map a primitive value via global provider.
The MappingEngineImpl.validateDestination() method does not use Primitives.wrapperFor(destinationType) which produces always following errors:
1) The provided destination instance 9 is not of the required type int.
2) The provided destination instance false is not of the required type boolean.

This error also ha

[2019-02-12 15:54] Aragami1408 opened #445 "modelmapper cannot be imported in gradle"
Even now I still cannot use modelmapper in gradle

To be specific, this is my `build.gradle` file:

[code]

Even though I imported but I cannot import it into my code. How can I deal with this?

[2019-02-14 12:20] roma2341 opened #446 "NameTokenizer.tokenize() is weirdly slow for all NameTokenizers"
Mapping of 100 entities have took 600-700ms , i was very surprised and found out  that mapping could be 2-3x faster if i write custom pseudo tokenizer.
My Dto:
[code]
 My tokenizer
[code]
It's seems that nothing was broken, can i use mapper in such way or something may be broken ? Can i reduce mapping speed in other way skipping unimportant features ? I need properties with equals names to be mapp

[2019-02-14 12:35] roma2341 commented on #172
I just leave it here If somebody face this problem. In my project i just skip lazy properties, because entity graph fetch what i really need eagerly.
[code]
I didn't find way to do this without custom value reader implementation.
[code]

[2019-02-20 10:57] gotoark commented on #239
This Resolves my Issues 💯

[2019-02-25 20:14] kozloffsky commented on #256
What about kotlin with spring boot and standard jvm?

[2019-02-27 16:36] Weissger opened #447 "Mapping an jackson ArrayNode results in a NullPointerException"
Hi I'm trying to use modelmapper to map changes sent via patch request from my DTOs to my DAOs. To archive this I'm using generic jackson JsonNode objects. This works rather good. Unfortunatly mapping ArrayNodes to lists fails with an Nullpointer.

**affected version:** 2.3.2
**stack trace**
[code]
**scratch code**
[code]
The same exception is thrown when mapping into a new object `modelMapper.map

[2019-03-05 15:45] Martin-BG commented on #414
Hi @chhsiao90,

I'm having a similar issue caused by Java module system, but on a slightly different scenario.

I have 2 classes with no getters/setters that I want to use mapping on and in order to do that I have field access set as follows:

[code]
Everything works as expected, except that I'm getting the famous **An illegal reflective access operation has occurred** warning:

Please let me know

[2019-03-15 21:09] ismailseyfi opened #448 "ZonedDateTime issue"
I am trying to test a very simple mapping from a DTO class to a Domain class. ZonedDateTime objects are used for createdDt, updatedDt purposes. When I ran a mapper, I get the following exception.
Failed to instantiate instance of destination java.time.ZonedDateTime. Ensure that java.time.ZonedDateTime has a non-private no-argument constructor.

I tried to skip it but it did not work. Are there kno

[2019-03-17 15:45] danielhoeppe commented on #423
@chhsiao90 I just encountered the exact same issue when using ModelMapper and expected the same result as @q-src. I'm using ModelMapper in the same use case as @q-src.

What about adding a configuration option specifying the removal of list members when the source size is less than the destination size?

[2019-03-18 16:52] amischler opened #450 "Re-mapping overrides instance when using Provider + Mapping"
I encounter a strange behavior when using a global Provider with an explicit mapping declaration.

In [the following unit test](https://gist.github.com/amischler/876c928ac6f936c1df94609d6ef13a5b), the first method where no explicit mapping is defined works fine (i.e. the B instance is not overriden when mapping a second time). In the second test method we declared some custom mapping and the test

[2019-03-21 02:34] ymenager opened #451 "No corresponding mutator was found for java.lang.Object.toString()"
I'm getting the following error which doesn't make sense

[code]

My mapping is:

[code]

[2019-03-21 02:38] ymenager commented on #451
Oh... weird, after i tried the to remove the skip the error went away (which is confusing because i added that skip because it was giving me that very same error ?!... well *shrug* ... closing the issue since can't reproduce anymore

[2019-03-21 02:38] #451 closed

[2019-03-25 13:28] kurdyukovpv commented on #446
This NameTokenizer is 4-5x faster than default:

` private static class CustomCamelCaseNameTokenizer implements NameTokenizer {
        public String[] tokenize(String name, NameableType nameableType) {
            if (name.isEmpty()) return new String[]{""};
            return StringUtils.splitByCharacterTypeCamelCase(name);
        }

        @Override
        public String toString() {

[2019-03-29 07:30] paradoxfm opened #452 "Map overwrite id from other field id"
`    @Getter @Setter @Accessors(chain = true)
    class MyRes {
        private Long addressId;
        private String fullName;
    }

    @Getter @Setter @Accessors(chain = true)
    class MyEntity {
        private Long id;
        private String fullName;
        private Address address;
    }

    @Getter @Setter @Accessors(chain = true)
    class Address {
        private Long id;
        pr

[2019-04-01 10:10] natnan opened #453 "Potential threading or caching issue?"
This is quite a strange issue I've never encountered even though the same automated tests have been running non stop for a long long time. So it makes me think maybe there is a (very) edge case somewhere with threading.

Unfortunately the amount of information is quite limited as I can't reproduce it at will, but thought it might be good to document.

Relevant piece of code (simplified):
[code]

E

[2019-04-01 19:48] mbabauer opened #454 "Is there an example for explicitly mapping a list of objects from JSON using Jackson?"
I am trying to follow the [jackson integration](http://modelmapper.org/user-manual/jackson-integration/) but it only show simply mappings.  In my case I have an object like:

[code]

[code]

And I am trying to map from JSON like:
[code]

I am trying to do something like:
[code]

So I am stuck on how to setup the mapper here.  Any help would be much appreciated.

[2019-04-03 09:56] skartashov-sandbx commented on #89
Tried to use you solution with `Provider<Set>`, but still have `HashSet`  as destination property.
During debug I found my settings was overridden by `MappingContextHelper` in `CollectionConverter`
Do I need any additional setup?

[2019-04-08 07:15] MrGraversen commented on #442
Hello @kbytesys, my fix for this issue was merged.

@chhsiao90 – when do you expect a new release of ModelMapper to be drafted?

[2019-04-08 08:31] tomorrow10 opened #457 "CollectionMapper problem/bug/new feature"
I have been mapping dto to entity, where there is collection as property and had a incident reported for the issue. I have been digging in the code and documention and I have not found, how it is supposed to work. I can only deduce from the code, that some merge is attempted in the mapping.

Let's say, we have two collection with following items, which are iterated in same order as are enumerated

[2019-04-11 21:31] gmishra123 opened #458 "Question : Is it possible to map a protobuf with snake case field names to Java model which uses camelcase."
I am trying to map a protobuf with snake case field names to Java model, but the conversion is failing in the ProtobufValueReader.getMember() call. The member name that this method receives uses snake case, while the Proto generated java class has getters and setters which use camel case and hence an exception is thrown.
For example my .proto looks like this -
[code]
Java model looks like

[code]

[2019-04-15 22:20] Chubasic commented on #445
I have the same problem.

[2019-04-17 12:05] rasmusviben opened #459 "Mapping abstract properties"
Hi,

I'm trying to use ModelMapper for mapping from a std. POJO to a Database POJO.

It seems to work fine, when I'm mapping from DB POJO to POJO, but when I'm trying to update my DB POJO, the modelmapper doesn't seem to map the id from the abstract class, and therefore creates a new instance in my database, instead of updating.

The abstract class looks like this:

`@MappedSuperclass
@EntityListe

[2019-04-19 01:54] eviljoe commented on #445
I had this problem as well.  I was able to fix it by adding the following line to my `build.gradle` file:
[code]

[2019-04-19 14:39] renxinlin opened #460 "model的bug问题"
[
     private Byte stockWarning;
     private Integer stockWarningNum;
]

i have two object with properties like this,when i set stockWarningNum as Integer.MAX，its a error happend ；
===============================
Value  is too large for java.lang.Byte
===============================
does  modelmapper  mapped by perfix???

why this error happend ?

[2019-04-21 14:19] Aragami1408 commented on #445
Thank @eviljoe. That's totally works fine for me. Thanks for helping

[2019-04-23 13:25] emanuelr93 commented on #172
I have the same issue with Spring Data JPA.
The issue is in MappingEngineImpl on propertyMap method.

` private <S, D> void propertyMap(Mapping mapping, MappingContextImpl<S, D> context) {
    MappingImpl mappingImpl = (MappingImpl) mapping;
    String propertyPath = context.destinationPath + mappingImpl.getPath();
    if (context.isShaded(propertyPath))
      return;
    if (mapping.getCondition(

[2019-04-25 06:02] wrssmi opened #461 "propertyMapping.getLastSourceProperty() throws NullPointerException when skipping first Property"
I am getting a NullPointerException when then first Property of Source is skip **AND** a PropertyCondition is configured on a TypeMap.

following is not working:
[code]
following is working:
[code]

Here the Stacktrace:
`Caused by: java.lang.NullPointerException
	at org.modelmapper.internal.MappingEngineImpl.propertyContextFor(MappingEngineImpl.java:324)
	at org.modelmapper.internal.MappingEngineI

[2019-04-25 08:56] TumanovViktor opened #462 "Slow explicit mapping using addMapping() method"
Hi,
I am trying to configure explicit mapping of my objects using ModelMapper#addMapping. I have a lot of fields to map and every call of .addMapping lasts for 20-40 ms. It results in the huge spring context start duration.

I tried to create new clean spring boot project and duration of one call reduced to 10-20 ms, but still it is too much. I have tens of mappers with hundreds of fields and my s

[2019-04-25 11:53] sergey-soloviov opened #463 "Create conditional mapping using converter."
I need to set conditional mapping for a property but using my custom converter.
Currently when create a mapping you can set the condition for a mapping or set the converter for mapping.
Please add this little improvement.

[2019-04-25 12:15] TumanovViktor opened #464 "Converter instance is not added to TypeMap"
Hi,
I am trying to use converter in my modelmapper configuration.
I created converter instance as follows:

[code]
and added this converter to ModelMapper:
`modelMapper.addConverter(personDtoToModel);
`
The problem is that my converter is not added to ModelMapper and is ignored during mapping.

But when I am using "old style" and create converter instance using anonymous class, it works well. Exam

[2019-04-28 19:00] joeltoby commented on #443
Hi @Kilrath,  Did you ever get a fix or workaround for this issue?  I'm hitting an identical error:

`The provided destination instance true is not of the required type boolean`

[2019-04-29 10:57] joeltoby commented on #443
I believe this issue may be linked to issue #450.  Although the exception message (see above) indicates that the value being converted is `true` or `false`, it appears that the `BooleanConverter` is receiving the original Source Object in the context argument instead of the true/false value returned by the provider.

My provider:

Provider<Boolean> isOwnerProvider = req -> {
      boolean isOwner

[2019-04-29 11:13] joeltoby commented on #443
I have tested with versions 2.3.1 and 2.3.3 - results are the same.

Also tried disabling implicitMapping but this doesn't seem to help.

[2019-04-29 13:20] Kilrath commented on #443
Hi,

unfortunately I did the same as you and use a converter if the provider fails due to this issue.

Sorry

[2019-04-29 15:35] joeltoby commented on #443
Thanks for taking the time to reply @Kilrath .

In case others hit the same issue, here is my workaround (using a Converter instead of a Provider):

[code]

[2019-05-02 01:30] ashaffer1903 opened #465 "Collections Merge Feature Issue"
Introduced for the 2.3.3. release, this commit: f338abd97af163260fe46c26d128e0aa0f3d8021 added the default of true to the 'collectionsMergeEnabled' property in the `InheritingConfiguration` class. The assumption that this functionality should have a default value of true has the potential for major disruption for upgrading clients. Given the following scenario:

        class AnObject {

[2019-05-05 09:13] wangzw commented on #458
Same as #422 . I cannot find a way to make it work.

[2019-05-06 18:56] gmishra123 commented on #458
ok, so I noticed for me If just remove the ```mapper.registerModule(new ProtobufModule());``` from the code things work.

[2019-05-07 03:31] trycatchfinal commented on #460
What is the matching strategy of modelmapper?
if `Standard`,you should change `Strict`
[code]
refer to http://modelmapper.org/user-manual/configuration/#matching-strategies

[2019-05-08 02:05] wangzw opened #467 "Support protobuf repeated and map field"
Is there any plan to support:

1) repeated primitive type field.
2) repeated message type field.
3) map primitive type field
4) map message type field

If not, can anyone guide me how to implement such features? I have tried but cannot make repeated message type field work by improve `ProtobufValueWriter`. I cannot figure out a way to recursively convert nested message type field.

[2019-05-08 11:02] asgarj commented on #437
Any updates on this? Occurs on `AdoptOpenJDK 11` as well

[2019-05-09 01:05] chhsiao90 commented on #458
I guessed this issue had bean fixed by #466

[2019-05-09 01:05] chhsiao90 commented on #422
I guessed this issue had bean fixed by #466

[2019-05-09 01:10] chhsiao90 commented on #465
I will consider to make `collectionsMergeEnabled` to false on next major release, thanks for your feedback!

[2019-05-09 08:31] chhsiao90 commented on #464
It's jvm restriction that we are hard to resolve the correct generic type.

Here is another workaround you can try:
[code]

[2019-05-09 08:36] chhsiao90 commented on #463
Do you mean `when(condition).using(converter).map(...)` which is already supported by ModelMapper?

[2019-05-09 08:55] chhsiao90 commented on #461
Hi @wrssmi , I can't reproduce this issue, can you upgrade modelmapper to latest release and test it again.

[2019-05-09 09:03] #445 closed

[2019-05-09 09:11] chhsiao90 opened #468 "CollectionConverter override the destination collection which is provided by provider"
see https://github.com/modelmapper/modelmapper/issues/89#issuecomment-479422200

We should create destination based on the original destination type.

[2019-05-09 09:12] sasori2011 opened #469 "Unexpected behaviours while mapping set of Enum with anonymous methods inside"
If an object contains a Set of enumeration

[code]

and that enumeration is defined with anonymous method

[code]

the result mapping has an unexpected behaviours.

_Example:_
Given a source with A and B and a destination with C.
After the mapping from source to destination, the destination will contains C and B.

A Maven project containing a JUnit that replicate the anomaly can be found here: [Mo

[2019-05-09 09:13] wrssmi commented on #461
hi @chhsiao90, only 1.1.0 is affected. 1.1.3 is wokring thx for reply! are there any releasenotes / migration notes for 2.x?

[2019-05-09 09:20] chhsiao90 commented on #461
I think the major change for 2.x is `Minimum JDK support to 1.6`, so if you are not using 1.5 or below, I think it's fine to migrate to 2.x.

[2019-05-09 09:26] chhsiao90 commented on #442
v2.3.3 is already released for a while!

[2019-05-09 09:26] #442 closed

[2019-05-09 10:10] wrssmi commented on #461
thx! will try that!

On Thu, May 9, 2019 at 11:20 AM Chun-Han, Hsiao <notifications@github.com>
wrote:

--
lG Michael

[2019-05-10 06:28] sergey-soloviov commented on #463
Yes.
If this is supported by ModelMapper could you please tell me in which version this could be done and how?

[2019-05-10 09:04] nfalco79 commented on #469
We got the same issue, the only workaround was change the enum definition or clean the collection in the destination object before call mapper.map

[2019-05-11 08:28] xslava opened #471 "PropertyCondition not applied with implicit mapping"
Hi,
pls. see code below:
[code]
The output is:
[code]
So the PropertyCondition is applied only for mappings defined explicitly. Just FYI my use case is:
In my project I'm using MM to convert domain(Hibernate) objects to DTOs. To prevent LazyInitializationException during the mapping the following condition is used:
[code]
And because field names in domain objects/DTOs match in 95% it's quite bothe

[2019-05-11 10:24] chhsiao90 commented on #463
My bad, it looks like the when(condition).using(conververt) chain is not supported by`ExpressionMap`.

[2019-05-13 20:07] gmishra123 opened #472 "Question: Regarding checking for nulls while converting proto to java."
Say I want to convert a proto model to Java model and some fields of proto are optional.
Currently, during the conversion, the properties which are not set in proto are being set to default values in the destination java model. For example
[code]
[code]
If I don't set the userId in the proto and try to map proto to above java model the userId field gets set to 0 instead of null.
I am trying to fig

[2019-05-14 13:26] naveenhirebeel opened #473 "Mapping of Object data is not happening attribute to attribute. Instead it is Overriding other attribute with wrong data."
Kindly Run the below code snippet and observer A.productId is copied to B.ProductId(expected) and B.Id(Wrong).

class X {
    public static void main(String[] args) {
        A a = new A();
        a.setProductId("1234");
        B b = X.convert(a);
        System.out.println(a);
        System.out.println(b);
    }

    private static B convert(A a) {
        return new ModelMapper().map(a, B.cla

[2019-05-15 13:57] Gorge0 commented on #452
Yep, lost about 2 hours to realize this was the problem... :)

[2019-05-15 15:24] paradoxfm commented on #452
I need map by full path

[2019-05-16 13:22] devlifealways opened #474 "Update the documentation"
I think the explicit mapping section should be improved, the typeMap is not really clear at first glance. If you can explicitly put an example for others to see that for instance __modelMapper.createMap__ could be used to customize more the mapping between source and target classes.

Thank you in advance,

[2019-05-18 11:49] Lempkin commented on #404
Hi, I just updated my project to java 11, I got modelMapper v2.3.3 and asm v7.1 and I got same issue

[2019-05-18 14:22] chhsiao90 commented on #458
v2.3.4 just release, please take a look, thanks.

[2019-05-18 14:22] #458 closed

[2019-05-26 09:19] nfalco79 commented on #469
After debug this does not seem to be a defect but rather the strange behavior (even if documented) of the collection merge strategy.
For primitives type this is an example:
[code]

For complex type it use the idex to map each element of source to destination. For example:
[code]

From the javadoc of the collections strategy:

@chhsiao90 that documentation does not appear in the main modelmapper si

[2019-05-27 18:36] nfalco79 commented on #457
There is the explaination [here](https://github.com/modelmapper/modelmapper/issues/469#issuecomment-495983101)

[2019-05-27 18:48] nfalco79 commented on #465
The same [here](https://github.com/modelmapper/modelmapper/issues/469#issuecomment-495983101)

@chhsiao90 For the semantic versioning I would consider to move `collectionsMergeEnabled` to false in next **bugfix** release and maybe (I hope no) set to true if opportunely documented in next major release. All peoples like our that are taking 2.3.x version got this feature bug. We had change the code

[2019-05-29 11:44] UlisesCeca opened #475 "Ignore null fields not working"
Hello,

I am making a service to update an entity in a Spring boot application. I am having a problem where if the property from the source is null but the property in the destination is not null, then it'll become null. I want that the source's properties keep their value if the source's ones are null.

This is my code:

[code]

How I update the value:

[code]

The `user `object has 1 property se

[2019-05-29 12:21] UlisesCeca commented on #475
Okay so that configuration option isn't for what I thought it seems. I achieved what I wanted with this:

[code]

[2019-05-29 12:21] #475 closed

[2019-06-03 09:20] nfalco79 commented on #465
If we move the collectionsMergeEnabled to false the collections are not mapped.
If I define a map from FooEntity -> FooDTO and I execute mapper.map(entities, new TypeToken<List<FooDTO>>() {}.getType())
I expect a List<FooDTO> but it returns a List<FooEntity>.
The problem seems to be when I call mapper.getConfiguration().setCollectionsMergeEnabled(false) it remove the MergingCollectionConverter fro

[2019-06-05 14:57] petercatalin commented on #462
Hi @TumanovViktor !

I'm experiencing the same problem. Did you find any alternatives? The same think is happening to my app and it's extremely frustrating to wait so long for the spring context to load.

[2019-06-05 15:03] TumanovViktor commented on #462
Hi @petercatalin ,
unfortunately I didn't find any solutions, I guess the problem is just in the algorithm, which is using proxies...

[2019-06-05 21:03] petercatalin commented on #462
@TumanovViktor I noticed that the startup time is way lower with version 2.3.2; but that version has this issue #442 which prevents me from using it. If that is not a problem for you give it a try.

[2019-06-05 22:19] petercatalin commented on #462
@TumanovViktor

It's the implicit mapping that takes so long, but what I said about the versions is still true. The next test
executes in 7s with version 2.3.2 and in 21s with 2.3.3. When I have the time I'm going to create a separate issue.

Please note that the `Application` object has loads of other complex objects and collections.

[code]

[2019-06-07 17:46] dattebayorob opened #477 "Mapping destination object problems causes hibernate problems"
"Identifier of an instance of was altered"

When mapping a Dto source to a object destination (Hibernate proxy entity) with attributes changing the FK key, hibernates exception happens. If I change to dto source to class destination and set the other attributes manually works normal

Example:
-- Mapper
public void toEntity( Entity entityPersisted, Dto dto) {
		modelMapper.map(dto, entityPersisted,

[2019-06-12 12:23] trippl opened #479 "Mapping collection of entities (Version 2.2.0 and higher)"
Running the below code with version 2.2.0 or higher results in a Hibernate exception:

Works fine with 2.1.1

[code]

What did change within `map` that causes this issue? Can it be avoided? Also on [stack overflow](https://stackoverflow.com/questions/56560772/modelmapper-causing-a-collection-with-cascade-all-delete-orphan-was-no-longer).

[2019-06-12 15:23] trippl commented on #479
I think I found the reason for this behavior. In 2.1.1 the following code is used to map the List (IterableConverter):
[code]
Here destination is of type `PersistentBag` and the mapped element is directly added into the destination and is therefore managed.
Since 2.2.0 this has been overworked and the following code is used to map the List (CollectionConverter):
[code]
Here `originalDestination` i

[2019-06-15 05:39] jmcnair-intermx opened #480 "Explicit mapping to primitive destination fails with NPE"
public class PrimitiveTest {
	private ModelMapper mapper = new ModelMapper();

	@Test
	void primitiveDestination() {
		mapper.typeMap(Primitive.class, Primitive.class).addMapping(Primitive::getInt, Primitive::setInt);
	}

	private static class Primitive {
		public int getInt() {
			return 1;
		}
		public void setInt(int someInt) {
		}
	}
}

In the above test, addMapping() fails with:
java.lang.Nul

[2019-06-19 05:46] jmcnair-intermx commented on #480
Has anyone else seen this?

[2019-06-21 06:50] #463 closed

[2019-06-26 09:17] UlisesCeca opened #481 "Problem at merging objects"
I am using the version 2.3.0 of the library.

I am facing an issue where I'm trying to merge two objects. Lets say this object:

[code]

So, what I want to achieve is to update a document in my db, which means getting the object from my db and then setting the non-null properties of that object from the incoming document to it.

My problem is the following:

Imagine this is my object that I want t

[2019-06-27 14:55] markbaird commented on #465
@nfalco79 The bug preventing you from setting `setCollectionsMergeEnabled(false)` is fixed in the latest version.

Collection merge is still enabled by default, which I completely disagree with, but at least you can override that easily now.

[2019-06-27 17:04] nfalco79 commented on #481
Set merge collection to false.

This duplicates https://github.com/modelmapper/modelmapper/issues/465
https://github.com/modelmapper/modelmapper/issues/457

[2019-06-28 10:15] UlisesCeca commented on #481
it's still being merged...

[2019-06-28 10:17] #481 closed

[2019-06-28 12:38] shankarwali opened #482 "When i upgraded java version to openJDK 11, I am getting nullpointerException while loading modelmapper configurations"
NullPointerException issue is not resolved even after upgrading modelMapper version to 2.3.5

Error log:

at org.modelmapper.internal.Errors.throwConfigurationExceptionIfErrorsExist(Errors.java:241)
    at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:244)
    at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:96)
    at org.mod

[2019-06-28 22:52] andrewfinnell commented on #414
I'm curious as to why reflection on Lookup is being used to begin with as all the methods being used in `ProxyFactory` are public. As the JDK is already at version 12 now, it becomes more difficult to use this library with these warnings.

[2019-07-03 12:34] J4cku opened #483 "Mapping objects with null parameters maps to null object"
Hi,
I am using modelmapper 2.3.2 and am havingsuch problem that:

[code]

so in that case ObjectA has a value equals empty PropA object, and I would expect b to have it the same but for some reason modelmapper makes b.value=null instead.
Is that expected?

[2019-07-07 19:18] Hauke85 commented on #366
@bsadykov Did you find any viable solution?
I am facing basically the same issue, just without the conversion of the elements of the collection.
I just want the content of the collection to be copied (took out the mapping of the elements to simplify things here).

I wrote a testcase to demonstrate this issue.
Any suggestions how to make this work?
[code]
In reality the CollectionHolderA & Collecti

[2019-07-08 11:34] spyro2000 commented on #375
This is a killer issue for us. We're now facing multiple server crashes because of out-of-memory exceptions (and, yes, it's definetly the issue with many thousands byte classes created by modelmapper).

[2019-07-08 20:35] gvonfang commented on #454
I ran into the same issue with modelmapper-jackson .  Currently unable to sort out how to use the model-mapper to get past it.  Any insight from developer team would be very helpful.

[2019-07-10 09:14] cecchisandrone opened #484 "Issue while using converter on nested objects"
I have the following code and related object hierarchy that I want to map (A,B -> ADTO, BDTO). In particular, I want to map Enum fields to String using a Converter only for specific properties (day -> dayStr and type -> typeStr):

[code]
This is the output:

[code]
typeMap2 seems to be ignored and as a consequence, typeStr is null and not mapped. Am I doing something wrong? What am I missing? Than

[2019-07-12 10:23] yoshikawaa opened #485 ""setCollectionsMergeEnabled" and "isCollectionsMergeEnabled" do not match"
At ver 2.3.5 the following test fails.

[code]

https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/InheritingConfiguration.java#L396-L404
If `collectionsMergeEnabled` is `true`, `MergingCollectionConverter` set.

https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/InheritingConfiguration.java#L328-L331
B

[2019-07-12 10:30] yoshikawaa commented on #485
As same as...
It seems `setDeepCopyEnabled` and `isDeepCopyEnabled` do not match.

https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/InheritingConfiguration.java#L387-L394

https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/InheritingConfiguration.java#L323-L326

[2019-07-13 10:39] hatharom opened #486 "Cant converter all the field for a specific type."
Ok, its not a bug but a question or feature request.

Is it possible to convert all the occurence of a specific type **without** specificing the locations?

With this we will convert from the specified getter to a setter.
`typeMap.addMappings(mapper->mapper.using(CONVERTER).map(getter, setter));`

The problem I want to solve is like this:

`typeMap.addGlobalMapping(mapper->mapper.using(CONVERTER).

[2019-07-14 04:29] yoshikawaa opened #487 "Failed to register Lambda Converter for specific type."
At ver 2.3.5.
It is failed to register Lambda Converter for specific type.

[code]

I want to register the converter [String -> Email], but actually registered [UNKNOWN -> Email]...

It seems `ModelMapper#addConverter` could not get the correct Source Type from Converter because [`TypeResolver#resolveRawArguments` not support lambda generic type](https://github.com/modelmapper/modelmapper/blob/mas

[2019-07-14 05:18] yoshikawaa commented on #487
Resolve using `AbstractConverter`. but Abstract class can not used as functional interface.

[2019-07-16 16:06] harish0000 commented on #375
facing the same issue

[2019-07-18 01:31] yoshikawaa opened #489 "Provide a new Spring Boot Starter"
Hello.
I provide a new Spring Boot Starter for ModelMapper.
https://github.com/yoshikawaa/modelmapper-spring-boot-starter

For simple use, just add Starter as a dependency and inject ModelMapper. Furthermore, it supports Spring Boot property-based configuration and bean-based configuration, and can easily manage rich customization.

If you like it, please link it as a related project.
Thanks.

[2019-07-21 10:56] pedro2555 opened #490 "I don't get this"
I'm completely lost. We essentially had a bunch of methods in every class to map to a destination class, trying to move on of those mappings into this project and just cannot understand where to start looking.

[code]

[2019-08-03 21:18] ciscoerata opened #492 "Bloody bottle neck !! on PropertyInfoRegistry and TypeInfoRegistry"
Here is the suggested code/*
 * Copyright 2011 the original author or authors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distribut

[2019-08-03 21:27] ciscoerata commented on #492
do not sue synchroniized static method it's so bloody poor, use puitIfEmpty on concurrentHashLMap wich has i'ts own locking mechanism and just test the key be/fore  invoke putIfPAbsnt !!
my app has grown up to 10 times fasster applying the proposed patch !!

[2019-08-14 15:55] dozievouchrapp commented on #182
Is there a solution to typemap inheritance with an extra property yet.
I have run into the same problem and reading through the comments, it doesn't seem like there's much luck

[2019-08-15 11:43] ThirdLibResearch opened #493 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-20 13:52] ckosmowski opened #494 "Creating a ValueWriter for a generic Destination type"
I am trying to develop a module that handles Conversion between POJOs and Avro GenericData Objects.

I managed to get the conversion from GenericData to POJO working with a ValueReader. However the other way will not work and i can't think of a workaround. The reason is, that the ValueWriter interface defines two methods:

[code]
I can easily implement setValue here, since i have every information

[2019-08-29 07:05] rockstarhamster opened #495 "Wrong mapping (very strange case)"
In my project I have 2 classes: simple kotlin class and kotlin data class. There are 2 same fields:
1. htcDelivery - BigDecimal
2. isHtsDelivery - Boolean
Sometimes all is right and i get expected result, but sometimes ModelMapper try to map htcDelivery from one class to isHtsDelivery of another class and after that i get:

1) Converter org.modelmapper.internal.converter.BooleanConverter@5c8a83d f

[2019-08-29 08:17] #495 closed

[2019-08-29 08:17] rockstarhamster commented on #495
Sorry, it was my mistake

[2019-08-29 16:51] darrell-rg commented on #492
The above code was based off 2.3.1.  I tried it and did notice a significant speed increase, about 3x faster in my app.

However I am not convinced it is 100% thread safe.   Using containsKey() followed by a get() seems like it could have problems if the key is deleted by another thread in between the two calls.

Overall the idaea of using the locking mechanisms inside of  concurrentHashLMap inste

[2019-09-03 13:35] mitok opened #496 "Validation does not work for Java 8 Type Maps"
I have a configuration using Java 8 functional style like

`modelMapper.createTypeMap(ElasticArticle.class, Article.class)`
`        .addMapping(ElasticArticle::getName, Article::setName)`
`        .addMapping(ElasticArticle::getAnbieter, Article::setSupplier)`

and validate this configuration with validate() method. It seem that it does not work as expected.
But it work if i configure mapper usin

[2019-09-04 15:15] tatosmv opened #497 "Converter in base class doesn't apply on subclasses"
I am using model mapper to map my entities into serialized objects.
I have a case scenario where I need to convert a source method into a targeted property.

I have been able to make this work if I define a converter for my subclass, but since I have lots of extended classes, need to find a generic way of doing it in the base class and extending this conversion to it's children.

[code]

On my exa

[2019-09-06 11:49] linarkou opened #498 "TypeMap::include copies only `mappings` but `preConverter` and `postConverter`"
TypeMap::include copies only `mappings` but `preConverter` and `postConverter`

Exmaple:
[code]
it will print `null`, but I expect to see `SOME REGION`.

[2019-09-18 09:44] #485 closed

[2019-09-20 11:45] navrattanocp opened #499 "Unable to Map List<List<Object>"
Hi Team,

I tried to Map a Class :

public class PaymentOption {
   private int num;
    private List<List<PaymentOption>> combinations;
}

public class PaymentOptionDTO {
    private int num;
    private List<List<PaymentOptionDTO>> combinations;
}

but it fails 'combinations' properties.

[2019-09-25 12:40] NaregB commented on #263
Not sure why is this even closed. It's not fixed and such double mapping issue exists

[2019-09-25 23:05] philbayer commented on #263
Agreed.  The issue still exists as far as I can tell.

On Wed, Sep 25, 2019 at 14:40 NaregBarsoumian♣ <notifications@github.com>
wrote:

--
-- Philip Bayer President Galleon Professional Services, Inc m: 786-229-7762

[2019-09-26 12:48] smcgregor83 commented on #122
Just lost half a day to this bug. Thought I was going round the twist :)

[2019-09-27 08:21] evilmilo opened #501 "Ignore setMetaClass for groovy classes with abstract parent"
When we have a groovy class that extends another abstract groovy class.

[code]
adding mappings, and validating, we get error:
[code]

If we remove the abstract keyword from the baseclass, then passes as expected.

Our mapper config is defined in java:
[code]

[2019-09-28 10:54] mkopylec opened #502 "Question: Can ModelMapper fail if source and destination are not identical?"
I need to make the ModelMapper to fail if the source and destination objects differ in properties.
For example do not fail for:
[code]
but do fail for:
[code]
Is this possible?
I've tried to use the below configuration but without success:
[code]

[2019-09-28 16:44] CrNix commented on #414
Hi, any updates on these kind of issues?

We have these kind of warnings in our Spring Boot application. Can we fix them?

[2019-10-04 05:17] n1b0r commented on #398
any news on this issue ?

[2019-10-04 17:59] luizfzs opened #503 "Cannot map generic inside nested class"
I have the following structure for the source class:

[code]

and I'm trying to map it to

[code]

when I try to map is, as below,
[code]

the values mapped in `myresult.result.docs` are of type `MyDtoClass` instead of `MyClass`.

The solution I have found to overcome this is to set the mapper to skip mapping `SearchResult::getDocs()` with the following code on the mapper setup

[code]

and conver

[2019-10-09 15:42] dattebayorob commented on #477
there was no option to force the map to generate a new Entity with the dto param. My solution: leave modelmapper

[2019-10-17 18:25] vikasraghunath opened #504 "Java 8 time not mapping while Deep Copy enabled"
With ModelMapper deep-copy configuration enabled., Java 8 time is not getting copied even if the name and type are matching.

[2019-10-18 13:07] Man4ester commented on #448
I have tried on version 2.3.0 and have no issue with this ZonedDateTime

[2019-10-18 17:58] zhangalex commented on #477
From DTO/FORM to JPA entity, just use BeanUtils.copyProperties

From Entity to DTO/FORM/VO, just use modelmapper

[2019-10-18 21:19] dattebayorob commented on #477
I did it ... But BeanUtils can't map automatically productId to new Product(id), how do you get it to work?

[2019-10-24 02:30] wyzssw opened #505 "Destination object nested list not clear when do bean copy"
version: 2.3.5

code:

[code]
it output [3, 2], but i expect [3],  how can i get 3  not [3,2] ?

[2019-10-24 03:54] wyzssw commented on #505
FIX IT by `modelmapper.getConfiguration().setCollectionsMergeEnabled(false)`

[2019-10-24 03:54] #505 closed

[2019-10-25 01:14] zhangalex commented on #477
create a method like
`
public Product getProduct() {
  if (getProductId() == null) {
     return null;
  }

return new Product(getProductId());
}
`

[2019-11-03 15:06] Affected70 opened #506 "Question: Is Type Mapping order important for Parent-Child entities?"
Hi guys,

i have found problem, which took hours to understand the rootcause:
For example we have Parent and Child entity (with DTOs):

[code]
[code]
Each DTO have additional fields, which need to be explicitly configured in mapper (in case if used validator).
Lets assume, that we need to convert Child -> ChildDTO (including parent entity). As each DTO has unmapped fields - we need to skip these f

[2019-11-11 12:48] terryBaz opened #507 "[Question] explicit match between class"
How can I configure an explicit match, `ClassA` to be mapped to `ClassB`.
so that when I call `modelMapper.map(cX, ClassC.class)` with `ClassC` have an attribute `ClassA`, so that this last one is mapped to `ClassB`instead of `ClassA`.

[code]

PS : `ClassB extends ClassB`

Thanks for the great job, (I am sorry) BUT the DOCs just socks ! (not clear, old examples ..).

[2019-11-18 10:19] marco135 commented on #182
@dozievouchrapp I had the same problem.
I found this solution on stackoverflow: [https://stackoverflow.com/a/53307578](https://stackoverflow.com/a/53307578).
This works for me, even with extra properties.

[2019-11-19 12:22] lrkwz opened #508 "Difference with mapstruct"
Why should I use it instead of [mapstruct](https://mapstruct.org/)?

[2019-11-20 09:33] nilskuhn commented on #474
The example for explicit mapping with Java 8+ is just not compiling!

[code]
To use explicit mapping with Java 8 and lambdas one need to call `addMappings` on a created TypeMap instead of the modelMapper itself (which `addMappings` method takes a PropertyMap):
[code]
That should be stated clearly in documentation.

It's really annoying to start with this experience on a Getting Started!

[2019-11-20 10:00] #474 closed

[2019-11-20 13:30] neosimsim opened #509 "Unclear “Getting Started” for Java 8"
I was a bit confused reading the [Getting Started](http://modelmapper.org/getting-started/) section.

The following code snipped did not work for me.
[code]
To get it running I had to call `createTypeMap`

[code]

Am I doing something wrong or is it possible that the documentation is mixing the pre Java 8 approach with post Java 8?

[2019-11-22 14:23] LBoraz commented on #20
still not fixed

[2019-11-28 20:03] MichelePollini opened #510 "From 2.3.4 to 2.3.5 - NoClassDefFoundError: org/modelmapper/builder/ConfigurableMapExpression"
Hi! I have a compatibility issue when I upgrade modelmapper version to 2.3.5.

Caused by: java.lang.NoClassDefFoundError: org/modelmapper/builder/ConfigurableMapExpression

`typeMap.addMappings(mapper -> mapper.skip(DestSetter));`

I didn't expect a backward compatibility issue caused by a minor upgrade. How can i fix it? Thank you

[2019-12-11 14:00] peterstritzinger commented on #414
Hi,
the problem is still presend in my Spring Boot application.

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on org.modelmapper.internal.ProxyFactory (file:/C:/xxx/peters/.m2/repository/org/modelmapper/modelmapper/2.3.0/modelmapper-2.3.0.jar) to class java.util.Date
WARNING: Please consider reporting this to the maintainers of org.m

[2019-12-12 13:24] fernanfs opened #511 "Regression: skipping primitive properties fails with NullPointerException"
The issue discussed in #242 reoccurs in 2.3.5.

When running the example mentioned in #242, I' see the following exception:
[code]

Is there a known workaround for that?

[2019-12-13 12:50] gutors commented on #480
Having the same issue here, mapping Integer to int, and LocalDateTime to LocalDateTime.

Started happening since i upgraded from wildfly10 to wildfly 17 and javaEE7 to javaEE8.

[2019-12-13 12:59] Agh42 commented on #509
I would also like to see an answer to this. Anyone?

[2019-12-15 14:26] ft0907 commented on #477
I also encountered a similar error, how do you solve it?

[2019-12-18 14:26] SVaeth commented on #414
This is issue is still occurring in jdk 11.0.4. If it is not resolved we will have to refactor to not use ModelMapper altogether

[2019-12-19 17:53] nfalco79 commented on #398
I got the same issue. Any news?

[2019-12-20 14:27] spyro2000 commented on #375
So, that's it, I guess. Not  reaction in 6 months. :(

[2019-12-26 03:00] tamanugi commented on #375
Facing same issue?

We created an instance and called `addMapping` for each http request.The result is a significant increase in metaspace memory usage.

[2019-12-26 06:18] chhsiao90 commented on #510
Hi @MichelePollini ,

I guessed there is no breaking change during the minor upgrade. Can you provide more detail (maybe reproducible code) so we can identify the issue? Thanks.

[2019-12-26 06:35] chhsiao90 commented on #474
Thanks for reporting the issue, the bug was fixed in https://github.com/modelmapper/modelmapper.github.io/issues/2

[2019-12-26 07:31] chhsiao90 commented on #448
Hi @ismailseyfi ,

Can you provide minimum reproducible code? Thanks!

[2019-12-26 07:32] chhsiao90 commented on #504
Hi @vikasraghunath,

Have you tried [modelmapper-module-java8](https://github.com/modelmapper/modelmapper-module-java8)? Thanks!

[2019-12-26 08:01] chhsiao90 commented on #477
Hi @ft0907 and @dattebayorob ,

Can you provide more detail for your case so I can figure out how to use ModelMapper to fulfill your your case or we can improve ModelMapper, thanks.

[2019-12-26 12:31] dattebayorob commented on #477
For example,
On a Entity with properties like this (I will represent it on a json):
[code]
In a PUT cenário all I want when changing the profile property, is to change the FK to a other profile entity.

[code]

But getting the persisted entity to update with the DTO, modelMapper will map the property instead of instanciate a new entity. Hibernate will not allow it.

[2019-12-27 02:10] chhsiao90 commented on #477
It's expect behavior to overwrite existing properties with ModelMapper.

It looks like what you want is to merge 2 beans into 1 bean with specific logic (instantiate new instance  if the id is changed), and I guessed ModelMapper is not playing well with this kind of scenario.

Currently, I don't have any good idea to fix this kind of issue. Maybe to not use ModelMapper to merge is the best choice

[2019-12-27 02:17] dattebayorob commented on #477
Yeah, and sadly there isn't a simple way for conditional mapping. The api for TypeMap leaks of documentation, and after understanding What should be done the code turns almost unreadable.

[2019-12-27 19:49] nickmafra commented on #263
I found the same problem with other property names.

[modelMapperBug.txt](https://github.com/modelmapper/modelmapper/files/4006135/modelMapperBug.txt)

[2020-01-03 07:27] chhsiao90 commented on #497
Hi @tatosmv,

It's expected behavior to only include the mappings without providers/converters as it's not type safe.
Please let me know if you have any idea or new api we can introduce on handling for your scenario.
Thanks!

[2020-01-03 07:28] chhsiao90 commented on #498
Hi @linarkou,

It's expected behavior to only include the mappings without providers/converters as it's not type safe.
Please let me know if you have any idea or new api we can introduce on handling for your scenario.
Thanks!

[2020-01-03 07:52] chhsiao90 commented on #498
I think the type map inheritance is not suitable for your case. I think the converter for the property mapping is what you need.

[code]

[2020-01-03 08:45] chhsiao90 commented on #503
Hi @luizfzs ,

It's some restriction of ModelMapper that java generic types are too hard to handle.

Maybe you can try below code snippet which is more clean and readable.

[code]

[2020-01-11 14:11] linarkou commented on #498
it is just a simple example, we use more complex combinations of converters in real life.
I think it is not expected behaviour when I want reuse some mappings..

[2020-01-13 10:32] #504 closed

[2020-01-13 14:28] msalman opened #514 "Model mapper not copying fields of type List"
[code]

I am fetching my destination object from my persistence layer, now i want to copy the content from the request object to the destination object, type and name gets replace but list of locations didn't get replaced. (I am using lombok for get getter and setter generation)

[code]

Please let me know if this is a known issue. Thanks.

[2020-01-15 17:53] LuisAzeved commented on #483
I'm having the same problem.

This object:
{
    "id": 1,
    "title": "hello",
    "description": "hello1",
    "object1": {
    	"parameter1": null,
    	"parameter2": null,
    }
}

Gets converted to this object:
{
    "id": 1,
    "title": "hello",
    "description": "hello1",
    "object1": null
}

Is there a way to solve this?

[2020-01-16 11:08] LuisAzeved commented on #483
@jhalterman
@chhsiao90
Can you have a look here please?
Thanks

[2020-01-17 07:58] chhsiao90 commented on #498
It's not type safe to inherit converters from base TypeMap so we decide to not include the converters to the new TypeMap.

Let me improve the code in my previous comment, my point is that we can replace the `postConverter` with custom property mapping. So this property mapping can be included to the new TypeMap when include is called.

[code]

I guessed the updated code is more flexible and better

[2020-01-17 23:30] davidrochin commented on #477
No workaround then?

[2020-01-18 01:29] Endlesslovez commented on #212
I have use of you but it create new a error

1) The destination property vn.isofh.hospital.portal.dto.MenuDTO.setNewsId() matches multiple source property hierarchies:

	vn.isofh.hospital.portal.dao.model.MenuEntity.newsId
	vn.isofh.hospital.portal.dao.model.MenuEntity.news/vn.isofh.hospital.portal.dao.model.NewsEntity.id
	vn.isofh.hospital.portal.dao.model.MenuEntity.news/vn.isofh.hospital.portal

[2020-01-18 21:09] guvense opened #515 "Mapping ObjectId with new values"
Normally I can map String to ObjectId. However, when I map like above, something goes wrong and new ObjectId values mapped to my Object.

[code]

What I need is mapping mapping userId's. But I got unexpected object id. I guess model mapper initialize with new values.

My mapper conf as above

[code]

[2020-01-19 12:29] guvense commented on #515
I fix it as https://stackoverflow.com/questions/54603868/modelmapper-issue-white-converting-from-string-to-objectid/59809999#59809999

[2020-01-19 12:29] #515 closed

[2020-01-21 08:26] DSABBAS commented on #375
I am also facing the same issue.This is the huge blocking for us.

[2020-01-21 13:42] yadavshivam8091 commented on #212
Try     myListOne.add()
After using add you will give all setters.

[2020-01-22 18:46] #498 closed

[2020-01-29 00:27] lourencomcviana opened #516 "Cannot map a list to a diferent list"
I understand that ModelMapper has some troubles handling generics but even the error is an internal error that i cannot catch and can only see the details by debugging inside ModelMapper code.
## Error
ErrorsException (i cannot catch this with try since it is internal and cannot get the inner message on print stacktrace)
- Failed to instantiate proxied instance of java.util.List. Ensure that java.

[2020-01-30 03:00] chhsiao90 commented on #516
Hi @lourencomcviana,

For Entity -> Dto, please try

[code]

[2020-02-04 12:13] augustojaba commented on #392
The bug is simple, the reflection code used to access the object in the issue is not expecting this method to have an argument.

[2020-02-04 16:58] XiufuJ opened #517 "Properties in destination object are skipped"
I am using version 2.3.0
The case is that the destination object has more properties than the source object, and I wish to have these properties to be set to null instead of skipping them.

When I am using model mapping to map it, in the generated destination object, I cannot find those properties that the source object doesn't have. They are skipped by model mapper.

For example,

[code]
I wish t

[2020-02-04 19:33] lourencomcviana commented on #516
It worked. Thanks. But it did not solve the error message problem. For future cases it is desirable a non Internal Exception is throw.

it should throws a ValidationException. Instead the error is hapening while the mapper is built.
in class ReferenceMapExpressionImpl line 54
[code]
the ModelMapper calls my lambda expression
[code]

This will give NullPointerException because src is null. Ok. The

[2020-02-04 20:46] XiufuJ commented on #517
I fixed this problem. Its my condition setting problem, found help from Issue #32.

[2020-02-04 20:46] #517 closed

[2020-02-07 09:41] chhsiao90 commented on #392
Fixed by #518. Can somebody take a look if the patch fix this issue? Thanks!

[2020-02-09 11:38] promoscow opened #519 "Cannot map to java.sql.Date"
I have some classes, generated with jooq-generator. Some fields are java.sql.Date. I write something like this:

[code]
Than, I initialize this fields in toRecordConverter(). But when I try to run it, I receive:

[code]

Okay, java.sql.Date have no no-argument constructor. Skipping java.sql.Date fields did not helps. Have I any ways to avoid this exception without changing field types?

[2020-02-11 15:19] heesuk-ahn opened #520 "[bottleneck issue] bottleneck issue since modelmapper version 2.1"
# [Background]

Not long ago, I had a thread bottleneck in model-mapper 2.3.1 in spring boot 2 project.

While debugging, I got to know that the issue started with version 2.1.

Starting with version 2.1, the logic for `PropertyInfoRegistry.accessorFor` has changed.

When converting from source to destination,  `PropertyInfoRegistry.accessorFor` becomes call.

In normal operation, to get accessor

[2020-02-12 09:31] samo717 opened #521 "ModelMapper - mapping of empty object issue"
I noticed a problem when mapping an object which contains a variable assigned to an object with null values, The mapped object contains mentioned variable set to null.
I know this is difficult to explain, therefore I managed to create very simple github repository to simulate the issue (with failing test).
https://github.com/samo717/modelMapperSim

[2020-02-12 16:05] varomorf commented on #482
It is also happening to me with a mapping like:

[code]
After debuggin a bit I found that on `org.modelmapper.internal.ProxyFactory` the following exception is thrown:

[code]
This makes the proxies for the list to be null, hence the `NullPointerException`.

Also happens with java.util.Date.

[2020-02-12 16:18] varomorf commented on #509
Personally I didn't understand it until I found a Stackoverflow post telling to use the createTypeMap() method.

[2020-02-14 10:46] varomorf commented on #482
Try to fix it on #522

[2020-02-17 20:05] AllanOricil opened #523 "Can't map Inheritance and Self Reference"
Want to map the following Model

Dependecy:
[code]

SOURCE:
[code]
DESTINATION:
[code]

I tried the following code:

[code]

The problem is that the List<A> inside C is not being mapped. How am I suppose to tell to modelMapper to deep map the List<A> inside C using the map A.class -> ADTO.class

?????

[2020-02-18 11:31] notarmara commented on #426
We are using jdk 13 and ModelMapper 2.3.6
I'm writing just to ask you to solve this as soon as possible.
Thank you

org.modelmapper.internal.objenesis.ObjenesisException: **java.lang.ClassNotFoundException: sun.reflect.ReflectionFactory**

org.modelmapper.ConfigurationException: ModelMapper configuration errors:

 1) Failed to configure mappings

1 error

at org.modelmapper.internal.Errors.throwCo

[2020-02-18 18:42] AllanOricil commented on #182
I was able to make an example that uses Inheritance and Self Reference to work, like I described here:

https://github.com/modelmapper/modelmapper/issues/523

But I had two problems, the list inside C that can be either B or C does not map automatically, I had to use recursion to map the inner lists. It worked, but then I notice another problem. The properties are not mapped.

Look my response in

[2020-02-18 18:50] AllanOricil commented on #182
So after a few more readings through this post I was able to map the properties.
This is the final code that I have:

[code]

[2020-02-18 18:52] AllanOricil commented on #182
Im really liked to use your Lib, but your doc is very poor and explains nothing. Im really sorry to say that but it is true. I think you should focus on writing a better doc to avoid new open issues.

[2020-02-18 18:53] AllanOricil commented on #523
For those who need help. Here I have written how I solved the problem.
I mapped properties, lists, inheritane and self reference.

https://github.com/modelmapper/modelmapper/issues/182

[2020-02-18 18:53] #523 closed

[2020-02-21 11:23] beardy247 commented on #379
I'm also still getting this issue with version 2.3.6, is the fix still outstanding?

[2020-02-27 10:22] Clemens-E commented on #414
Having the same issue:
[code]
This is Issue exists since over one year, is there no intention to fix it?

[2020-02-27 16:44] klopf commented on #441
Same experience here with modelmapper 2.3.5.  The destination object gets all fields set to null.  It is apparently not calling a constructor, just nulling everything.  This results in an invalid object in some scenarios.  It would seem more appropriate to either call a noarg constructor to replace the destination object, or null the reference, but not simply null all the fields.  Is there a way t

[2020-02-28 09:11] achintSatsangi commented on #414
Seeing the same warnings with latest springboot , jdk 11 while mapping between two classes... Any plans of fixing this?????

[2020-02-28 17:05] augustojaba commented on #193
This still happens, maybe should be a nice time to re-open?

[2020-03-03 14:15] augustojaba opened #524 "[protobuf][enum] Issue when mapping to Protobuf enum"
The issue happens when we need to map a regular enum to a protobuf's enum, let the following example:
`message MessageA {
    string id = 1
    Type type = 2;
}

enum Type {
    DEFAULT = 0;
    TYPE1 = 1;
    TYPE2 = 2;
}
`
Because of Protobuf generates a builder with two different options to create the Enum, the methods:
1. setType(Enum value)
2. setTypeValue(int value)

In this situation, Model

[2020-03-06 08:06] kranthi34 commented on #240
Any one please provide some example configuration and testcase please as am facing same issu

[2020-03-06 08:09] kranthi34 commented on #240
Modelmapper configuration.

@Bean
	public ModelMapper modelMapper() {
		ModelMapper mapper = new ModelMapper();

		mapper.getConfiguration().addValueReader(new RecordValueReader()).setSkipNullEnabled(true)
				.setPropertyCondition(Conditions.isNotNull());
		return mapper;
	}

and my custom mapper class is as follows:

package com.centerpoint.ars.payments;

import java.time.LocalDate;
import java.

[2020-03-06 08:10] kranthi34 commented on #240
but some fields are not mapping even though the field names are same in both java.util.map and record
ex:- balanceamount in both map and record column name

[2020-03-06 08:11] kranthi34 commented on #240
@chhsiao90, @lsantos  please could you help me please!

[2020-03-06 09:08] kranthi34 opened #525 "Issue with mapping data from java.util.map to jooq record"
Any one please provide some example configuration and testcase please as am facing same issue

<dependency>
			<groupId>org.modelmapper</groupId>
			<artifactId>modelmapper</artifactId>
			<version>2.3.0</version>
		</dependency>
		<dependency>
			<groupId>org.modelmapper.extensions</groupId>
			<artifactId>modelmapper-jooq</artifactId>
			<version>2.3.0</version>
		</dependency>

<dependency>

[2020-03-09 14:54] Tuom commented on #441
Same happened to me. I posted [question to stackoverflow](https://stackoverflow.com/questions/60597589/modelmapper-incorect-property-mapping-from-null-objects) with an example.

I found out that same problem occurs when child property is of the same type and `deepCopyEnabled` is set to `true`.

[2020-03-09 15:09] #525 closed

[2020-03-10 11:39] augustojaba opened #526 "Protobuf enum documentation"
Do you guys have any user manual to the protobuf module?

[2020-03-11 22:38] otaviojava opened #527 "Error in a conversion a DTO to Entity with Java 11."
## Repository:

https://github.com/soujava/payara-cloud

Run the command:
`mvn clean test`

## Java version

[code]

## Maven version

[code]

## Exception

[code]

ps: It works normal when I do donwgrade to Java 8

[2020-03-12 11:08] jrsw commented on #468
Would it be possible to ask when the fix to this issue will be released?

[2020-03-16 09:50] tinesoft commented on #250
Any updates on this issue?
I am facing the same issue with current v2.3.6 ...

[2020-03-17 01:54] wyzssw opened #528 "Many Thread Blocked by PropertyInfoRegistry#accessorFor method"
org.modelmapper.internal.PropertyInfoRegistry#accessorFor(java.lang.Class<?>, java.lang.reflect.Method, org.modelmapper.config.Configuration, java.lang.String)

I see the code will execute alway enter into accessorFor but not hit in cache,

  static Accessor accessorFor(Class<?> type, String accessorName, InheritingConfiguration configuration) {
    Integer hashCode = hashCodeFor(type, accessorNam

[2020-03-17 02:08] wyzssw commented on #520
+1

[2020-03-21 09:22] hit436 opened #529 "ManyToOne Mapping issue with ModelMapper during DTO to Entity mapping"
As illustrated from the screenshot, the reference/hash of the object is getting changed of ClassDivision after modelMapping
1st screenshot is list of students with same ClassDivision sharing same object.

<img width="590" alt="Screenshot 2020-03-21 at 2 38 07 PM" src="https://user-images.githubusercontent.com/11241866/77223400-217d4600-6b82-11ea-9b03-9d66b425542e.png">

After model mapping the obj

[2020-03-22 17:16] kmbotts commented on #375
We just fixed a metaspace issue that was clearly caused by our misuse of Model Mapper. We were creating new instances of model mapper for each mapping. It was calling addConverter and/or addMapping for each instantiation of the mapper. Looking at the histogram, I noticed loads of class loadings with suffix "ByteBuddy" that were never getting gc'd. This required us to restart each leg of app server

[2020-03-24 18:58] yousefsami opened #530 "Can not map the self reference method"
I have a problem to map my entity class to my DTO class.

This is **```data_group```** table

    |-------------------------------------|
    |  id  ||  group_name  ||  parent_id  |
    |-------------------------------------|
    |   10 ||      part    ||     2       |
    |-------------------------------------|
    |   11 ||      one     ||     10      |
    |-------------------------------------

[2020-03-27 03:11] jhalterman commented on #520
Happy to review a PR for this.

[2020-03-27 03:12] jhalterman commented on #528
Related to #520

[2020-03-27 07:39] vinaykumarnune commented on #477
u you can use model mapper but instead of using same object create a new entity objet with Updated data.it will by default update the entity based on "id".
The main problem was that you are try to change the instance multiple times using model mapper.

[2020-03-28 17:07] #520 closed

[2020-03-28 17:13] jhalterman commented on #520
@heesuk-ahn @wyzssw Can you confirm that the problem is fixed for you in master?

[2020-03-29 07:15] wyzssw commented on #520
I run junit test for 2.3.5 vs master

[code]

when use 2.3.5
many thread blocked at
[code]

when use master ，the blocked thread has disappear， and the mapping result is right

the problem has fixed in master, please deploy to maven central

[2020-03-29 07:59] heesuk-ahn commented on #520
This works fine. Major changes to the modifications are as follows.

[code]

I also confirmed that the cache works normally through the integration test after the modification.
I think it's okay to go this way.

[2020-03-29 12:05] IlieSebastian commented on #529
You have to attach the `ClassDivision` model to the current session. You can either do that with a repository search (assuming you're using hibernate, you can create a JpaRepository and a simple repository.findByName() for example should do the work), or use the `attach()` method of a session manager.

[2020-03-30 03:36] jhalterman commented on #520
Fixed in 2.3.7.

[2020-03-30 03:36] jhalterman commented on #528
Fixed in 2.3.7.

[2020-03-30 03:36] #528 closed

[2020-03-31 02:21] wyzssw commented on #492
Fixed in 2.3.7 #520

[2020-04-02 21:16] jemag commented on #414
Similar problem with jdk 11.0.6 and modelmapper 2.3.7:
![image](https://user-images.githubusercontent.com/7985687/78300089-f2ad8b00-7504-11ea-8b01-f4c7159e6834.png)

There hasn't been any feedback from members of the project on this issue since 2018, could we just get a brief status of the situation on this issue ? @chhsiao90 @jhalterman

[2020-04-05 20:34] rboarman-sc commented on #414
Bump

[2020-04-11 15:19] redfast00 commented on #511
I believe I have the exact same issue on 2.3.7:

[code]

[2020-04-13 14:27] alierturk122 opened #532 "one-to-many mapping problem"
Hello,

I just want to map a simple object including a one-to-many relation, however, it always returns this error.

[code]
I simplified my classes and run again and again, but cannot find a solution. Below files for spring boot (repository, service, controller, entities, and DTOs).

When I first send POST request to create the product with features (son at the bottom of the message), it creates e

[2020-04-15 13:46] pwinckles opened #533 "Inexplicable StandMatchingStrategy matching"
I encountered an unexpected mapping while using the `StandardMatchingStrategy` and traced it down to the `matchSourceClass()` call on [L50](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/convention/StandardMatchingStrategy.java#L50).

Here are two example objects that reproduce the problem:

[code]

[code]

If you map `ExampleLogEntry` to `ExampleLog` it

[2020-04-15 14:09] pwinckles commented on #533
Additionally, to unblock myself, I was just going to make a copy of `StandardMatchingStrategy` and remove the logic I don't want, but this is made more difficult than it needs to be because `InexactMatcher` is package-private, which forces me to make a local copy of that class too. Not an ideal situation for staying up-to-date with future ModelMapper versions.

[2020-04-15 15:33] pwinckles opened #534 "Anonymous enums are not detected correctly"
[EnumConverter](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/EnumConverter.java#L45) (and potentially other locations) does not correctly test if an object is an enum. It calls `sourceType.isEnum()` which returns `false` for anonymous enums. According to [this bug report](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6708424),

[2020-04-17 10:18] larrynikx opened #535 "Inheritance BaseTypeMap configurations ignored"
**Summary**
Mappings/Converters configured on the BaseTypeMap are not applied when mapping children.

**CurrentBehaviour**
Configuring the mappings/converters  on the childSource -> parentDestination typeMap works.

**ExpectedBehaviour**
Configuring mappings/converters on the baseTypeMap is sufficient to avoid duplication on the children typeMaps.

**Example**
- Test fails when converter is added

[2020-04-18 14:42] hit436 commented on #529
actually I am creating an entity, I haven't saved any, so you mean I need to first persist the classDivision and then pass it to the modelmapper ? The problem is I have other entities as well like address, contact, and if I persist it before, then there is no point in using the mapper, coz my purpose was to map it directly, also it is OneToMany relationship.

[2020-04-25 18:53] Ditscheridou commented on #87
Hi guys any update here for supporting android/kotlin?

[2020-04-26 06:36] zyong2004 commented on #499
@Getter
@Setter
public class Page<T extends Serializable> implements Serializable {

    private boolean isNext;

    private int page;

    private long total;

    private int pageSize = 20;

    private List<T> rows;

rows always null

[2020-04-26 06:49] zyong2004 commented on #441
when deepCopyEnabled  set false  ,the children has nonull value  ？

[2020-04-26 07:10] zyong2004 opened #536 "setDeepCopyEnabled is a bug?"
ModelMapper INSTANCE = new ModelMapper();
 INSTANCE.getConfiguration().setDeepCopyEnabled(true);

but default value is false.

I felt there was something wrong with the set method, which removed AssignableConverter when set to true。when i copy object to dest ，the Object Type property would to be null?

can you give a example for setDeepCopyEnabled?

[2020-04-26 07:11] #536 closed

[2020-04-26 07:13] zyong2004 opened #537 "setDeepCopyEnabled is a bug?"
ModelMapper INSTANCE = new ModelMapper();
 INSTANCE.getConfiguration().setDeepCopyEnabled(true);
 INSTANCE.getConfiguration().isDeepCopyEnbale
but default value is true.  when i set a true  ,its become false !!

I felt there was something wrong with the set method, which removed AssignableConverter when set to true。when i copy object to dest ，the Object Type property would to be null?

can you giv

[2020-04-30 00:16] jobosk commented on #398
I am also experiencing this issue, in the following scenario:

`AbstractEntity {
 A a;
}

Entity extends AbstractEntity {
 B b;
}

Container {
 Entity entity;
}

EntityDTO {
 A a;
 B b;
}

ContainerDTO {
 EntityDTO entityDTO;
}`

I've compressed the logic in the following method:

`private static Container convert(final ContainerDTO containerDTO) {

    final ModelMapper containerMapper = new Mode

[2020-05-06 01:30] paulosalonso opened #539 "Configuration setFieldMatchingEnabled does not works."
`
mapper.getConfiguration()
                .setFieldMatchingEnabled(true)
                .setFieldAccessLevel(PRIVATE);
`

This configuration does not work, it seems to me that there is an "else" in the "resolveProperties(
      Class<?> type, boolean access, Configuration configuration)" method of the "org.modelmapper.internal.PropertyInfoSetResolver" class:

`
private static Map resolvePropert

[2020-05-08 07:44] Rahmspinat86 commented on #263
same problem

[2020-05-12 07:45] tommus commented on #87
@Ditscheridou - AFAIK nothing had changed regarding better support of Android platform. Personally, I did switch to [Map Struct](https://github.com/mapstruct/mapstruct) and I'm happy with my decistion.

[2020-05-13 18:33] #461 closed

[2020-05-19 09:39] finugal opened #542 "Configuration exception depending on field name, despite explicit mapping."
When destination field name is the same as the suffix of two origin fields, modelMapper.verify fail with ConfigurationException.
[code]
The test fail with
[code]
If the destination field is renamed, the mapping will work (aaa as destination field name is fine).

[2020-05-28 03:25] hanserya commented on #477
@davidrochin Oddly enough, reverting to version 1.1.2 of the model mapper library seems to be a workaround. I have no clue what changed between then and now.

I was in the middle of an upgrade for a project that I inherited and ran across this gem. Taking the older version made the error go away. I'll try and dig more into it and provide feedback if I get a chance. Unfortunately, I'm already 40 ho

[2020-05-28 03:31] hanserya commented on #477
Actually; I feel like I've run up against this before. Didn't model mapper use to rely on accessors in order to perform the mapping? I was pretty sure that the newer version uses reflection to manipulate fields on the destination directly. If that is the case, then you have your answer as to why this just started happening. Almost no one places a set method on the identity field for their entity.

[2020-05-29 13:20] fagnerlima commented on #530
Any progress?

[2020-05-29 22:04] ansidev opened #543 "Wrong example"
Link: http://modelmapper.org/user-manual/jooq-integration/

![Screenshot from 2020-05-30 05-02-53](https://user-images.githubusercontent.com/6688235/83309259-02aac800-a233-11ea-9741-e1767e1de223.png)

[2020-06-01 13:16] clickrajnish opened #544 "Thread Blocked TypeMapImpl.java 121"
TypeMapImpl.java:121
MappingEngineImpl.java 151
.....
....
ModelMapper.java;573
ModelMapper.java:406

Above is java stack trace ... Thread is blocked
Version:2.38

[2020-06-05 01:18] #482 closed

[2020-06-11 15:16] DareUrDream opened #545 "Modelmapper is trying map enum int value to in MatchingStrategies.STANDARD"
Modelmapper is trying to map enum to its Int values in MatchingStrategies.STANDARD where as does not do so when MatchingStrategies.STRICT is used. I wish to use MatchingStrategies.STANDARD as it helps in matching my entity.id field to entityId in my DTO, but this issue of conversion is not letting me use it. How can I control this behaviour in standard strategy or how can I use strict but still ha

[2020-06-15 09:10] antemo commented on #511
I have same problem with `boolean` setter in 2.3.7.
This might be due to Java version, since same code that doesn't work with JDK 14 or JDK 12 works fine with JDK 1.8

[2020-06-15 22:40] manasouza commented on #379
I'm getting the issue in 2.3.0 but already checked the [CHANGELOG](https://github.com/modelmapper/modelmapper/blob/master/CHANGES.md) and there's no related comment to that since then

[2020-06-18 18:00] namannigam opened #546 "Plans to support for Java Records (Java-14)?"
Quoting from a [StackOverflow Q&A ](https://stackoverflow.com/questions/62455515/how-can-i-use-java-records-as-dto-with-modelmapper), the current version 2.3.8 doesn't seem to support java `record` classes.

The minimal code sample used to test this (quoting the link)

[code]

``` User post = modelMapper.map(userDto, User.class);```

[2020-06-20 08:55] DareUrDream commented on #545
Hello @jhalterman  @Nthalk  @ChristophGr  @sgp , Is this project still active ? Can some one please help with the above query ?

Also could also help me understand how we can use STRICT type when using our entities and DTO have a base class exposing "id" variable. So how in the DTO a field named "subclassId" map to entity.id where entity is the sub class from parent class containing the "id" field

[2020-06-20 15:29] reidomath commented on #341
Hi @chhsiao90 , I had a similar problem, and solved it only with:

modelMapper.getConfiguration().setDeepCopyEnabled(true);

Thanks

[2020-06-21 19:51] briangoetz commented on #546
Records _must_ be instantiated through their constructor.  In the preview as of Java 14, the usual `Unsafe` tricks may work, but these will stop working before records become a permanent feature.  Frameworks will need to examine a class to see if it is a record (`Class::isRecord`) and if so, find the canonical constructor (guaranteed to be there) through reflection.

[2020-06-22 11:49] DenisO-AVISPL commented on #414
JVM Version:           14.0.1+7
modelmapper          2.3.8

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on org.modelmapper.internal.ProxyFactory (file:/Users/*****/IdeaProjects/*****/WEB-INF/lib/modelmapper-2.3.8.jar) to interface java.util.Map
WARNING: Please consider reporting this to the maintainers of org.modelmapper.internal.Pr

[2020-06-23 08:03] Alex217 commented on #511
I am using ModelMapper v2.3.7 with JDK 11 and I also need the possibility to skip a setter with a primitive `boolean` parameter. Currently ModelMapper throws a `NullPointerException`.

[2020-06-24 23:04] entimaniac commented on #532
@alierturk122 bidirectional relationships work fine in program memory, but translating that into json/text inherently means that data will suffer from infinite recursion. This isn't really a modelmapper issue and more a serialization/jackson issue. ModelMapper probably maps just fine into DTOs (I bet you can put a breakpoint right before the return in the controller or just after mapping and the D

[2020-06-24 23:10] entimaniac commented on #530
@yousefsami I've had to handle a similar situation with modelmapper. In my case it was a company that could  a parent company and the dto just referenced the parentId.

[code]

[2020-06-24 23:15] entimaniac commented on #507
I believe you would want to define a typeMap:
[code]

[2020-06-29 08:47] kangarooxin opened #547 "can not mapping nested collections of map"
`
    @Test
    public void test1() {
        Map<Integer, List<Product>> productListMap = new HashMap<>();
        productListMap.put(1, Arrays.asList(
                new Product().setProductId(1L).setProductName("product1"),
                new Product().setProductId(2L).setProductName("product2")
        ));
        Type listType = new TypeToken<Map<Integer, List<ProductVo>>>(){}.getType();

[2020-06-29 12:59] abekthink commented on #547
I'm having the same issue.

[2020-06-29 20:50] alextadams88 opened #548 "Question: How to add custom mappings in ModelMapper when target is a Protobuf Builder?"
I am trying to map a source DTO to a protocol buffer object. However, the names of the fields in the source DTO do not match the names in the protocol buffer object, so I need to add custom mappings. I have seen two ways to do this, but both ways are problematic. The issue all stems from the builders in java protocol buffers being Final, so I always get "Cannot map final type" issues when trying t