[2011-05-21 05:13] jhalterman opened #1 "Add configuration setting for fail-fast matching/mapping"
This is a marker. We'll wait and see if there's interest in this...

By default ModelMapper will not throw an exception if destination members are unmapped unless validate is called. A fail-fast configuration setting can be added to allow this behavior.

[2011-07-03 12:32] asukhyy opened #2 "Add support of circular reference."
These classes have corresponding dto´s:

public class Book {
    private String id;
    private String name;
    private List<Author> authors;
        /\* getters and setters */
}

public class Author {
    private String id;
    private String firstName;
    private String lastName;
    private String middleName;
    private List<Book> books;
        /\* getters and setters */
}

public class Lib

[2012-07-20 22:17] jhalterman opened #6 "Shading a path may result in null objects mapping to empty objects"
Mapping

Bean/message/value -> DTO/message/value

where message is null on the source still results in a message being created on the destination side with a null value. The destination's message should be null as well.

[2012-07-25 18:30] jhalterman opened #7 "Consider whether mapping/conversion should take place when source is null"
Right now when mapping a property where the source value is null, mapping/conversion of the property does not take place. This should probably be allowed.

[2012-07-25 21:19] #7 closed, assigned to nobody

[2012-07-26 18:25] jhalterman opened #8 "Globally skip nulls"
Should be allowed to globally skip mapping of fields where the source value is null.

https://groups.google.com/forum/?fromgroups#!topic/modelmapper/tFMtVYZwJOg

[2012-09-05 17:25] #2 closed, assigned to jhalterman

[2012-09-12 16:18] jhalterman opened #9 "Intermediate objects may be overriden"
When mapping to an existing destination object, intermediate objects along a destination path may be overridden.

[2012-09-12 17:22] #9 closed, assigned to nobody

[2012-09-21 11:48] konradgro opened #10 "Support for enum types"
I think should be easy method/way to map enums in modelmapper. Now I try to map few enums in my classes and I'm sitting on it couple hours.

[2012-09-24 18:39] #10 closed, assigned to nobody

[2012-09-27 22:13] pvblivs opened #12 "Feature request: Map maps to beans and vice-versa"
I am giving the following test as a simple specification of what I want:

[code]

This is the simple mapping test case. Expected behaviour: Mapping should be strict-only as mapping to a map does not have any properties to match. And if mapping from a map would be loose then mapping back would not yield the original results.
For nested mapping I would expect that the map side of the mapping is fixe

[2012-10-01 22:47] jquested opened #13 "Support for mapping interfaces"
(Apologies for x-posting this from code.google)

Hi, I'm not sure if this is covered in the documentation anywhere but I have not been able to map from an interface to an object.

[code]

In this example, "UserModel" is an interface with relevant getters/setters and UserAccount is a bean. Modelmapper will allow you to create this with no compile errors, but it seems to ignore the "UserModel" inter

[2012-10-04 10:55] philmes opened #14 "Don't try to proxy enums"
When using the mapping DSL, modelmapper tries to create a proxy for an Enum, which causes a big explosion. This can be avoided by added an additional check to the proxyForm method in ProxyFactory (I can't be bothered to create a fork and pull request for this simple issue)

[code]

[2012-10-08 22:28] #14 closed, assigned to nobody

[2012-10-16 13:49] janmatejka opened #15 "Bad detection of circular refs by source object values"
Modelmapper release 0.5.1 store source and destination mapped object in HashMap MappingContextImpl.sourceToDestination. Because source (key) is identified by value, there is oportunity to incorrectly detect another source object with same value as circular reference.

Possible fix is use IdentityHashMap instead of HashMap.

[2012-10-16 23:22] #15 closed, assigned to nobody

[2012-10-16 23:29] jhalterman opened #16 "Implement Eventing"
Start wit 4 events: preMap and postMap, which would be called before and after a particular object is mapped, and prePropertyMap and postPropertyMap which would be called before and after each property on a destination object is mapped from a source object. The event object itself would look something like the MappingContext.

[2012-11-02 13:41] janmatejka opened #19 "Strict strategy break by addMapping"
Hello,
in our (so complex) mapping we found mismatched mapings in STRICT mapping strategy after addMapping.
If no manual mapping is used then I not see this bad behaviour.

A test project for this issue I will send by email.

Maybe this issue has some commons with another problem: our unit tests works differently when a unit test runs alone or in a test suite. We found that ts is caused by cached

[2012-11-14 16:16] drennalls opened #20 "Can't get String->custom Enum conversion working"
I cannot get a custom Enum class property mapped from a String without some really weird configuration.  The Enum class has a static .fromString method that I want used for any conversions but so far the recommended ways of doing this don't seem to work.. Here goes..

ServiceOperation class with a 'cmd' field. Command is a custom Enum class (the one I'm having issues with)

[code]

ServiceOperatio

[2012-11-17 01:14] #20 closed, assigned to nobody

[2012-11-17 02:24] #19 closed, assigned to nobody

[2012-11-19 23:44] jhalterman opened #21 "Add support for mapping to/from Date, GregorianCalendar and XMLGregorianCalendar"

[2012-11-20 21:37] #21 closed, assigned to nobody

[2012-11-22 20:18] jhalterman opened #22 "Destination properties being cached by mutator"
See https://groups.google.com/forum/#!topic/modelmapper/9yV4qNBTuEQ

[2012-11-22 21:22] #22 closed, assigned to nobody

[2012-12-07 00:13] jhalterman opened #23 "Add support for combined token matching"
Look into whether combined token matching support can be added to the matching strategies. This would allow `customermailingaddress` to match `customerMailingAddress`.

[2012-12-07 11:43] xfolch opened #24 "OSGi: NoClassDefFoundError on "org/modelmapper/internal/cglib/core/ReflectUtils""
Hi.

I want to deploy an application that uses latest version of ModelMapper in a Karaf 2.3.0, and I'm getting the following error:

<pre>
<code>
Caused by: java.lang.NoClassDefFoundError: org/modelmapper/internal/cglib/core/ReflectUtils
        at com.young.mknot.dto.FactProduced$$EnhancerByModelMapper$$fd8844e.CGLIB$STATICHOOK2(<generated>)
        at com.young.mknot.dto.FactProduced$$EnhancerBy

[2012-12-10 20:59] jhalterman opened #25 "Support just-in-time mapping merging"
See https://groups.google.com/forum/#!topic/modelmapper/prRBemgJciM

Currently mappings are merged when the TypeMap is created. Additional mappings that are created later on are not merged. Look into support for just-in-time mapping merging, or perhaps do away with merging altogether.

[2012-12-10 21:31] jhalterman opened #26 "MM attempts to instantiate primitive wrapper when used as destination in Converter"
When using a primitive wrapper (perhaps a primitive as well) as the destination type in a Converter MM tries to instantiate it. Conversion to primitives does not require instantiation of the destination.

[2012-12-10 21:49] #26 closed, assigned to nobody

[2012-12-14 17:13] xfolch opened #27 "The values of destination fields are ignored in map operation"
I want to execute an arithmetical operation between a source value and a destination value in mapping operation.

I have a source object and I load a destination object to execute the map method of ModelMapper class. I use a converter class for this particular fields but when I get the destination for the mapping context (MappingContext.getDestination()) I always get a null value.

I've searched i

[2012-12-14 18:49] #27 closed, assigned to nobody

[2012-12-17 17:57] jhalterman opened #28 "ModelMapper.validate and TypeMap.validate should validate that all (recursive) destination properties are matched"

[2012-12-17 18:12] jhalterman opened #29 "Add support for inherited mappings"
Use case: https://groups.google.com/forum/#!topic/modelmapper/8YoY091UL9c

[2012-12-22 15:25] jhalterman opened #30 "Cannot Proxy types without default constructor"
From https://groups.google.com/forum/#!topic/modelmapper/gRnvtXhg9Kk

[2012-12-22 15:59] #30 closed, assigned to nobody

[2012-12-24 07:19] #23 closed, assigned to nobody

[2012-12-31 14:33] dbundy opened #31 "Multiple source property hierarchies matching problem"
Hello,

I have chosen to use modelmapper because  I have noticed that it handles in a better way generics super type (cf. Class MyClass<T>)  and inheritance of these types.
I have nevertheless noticed a behavior which prevents me from having a correct mapping.

My model is in this way but more complex. Example is at the end.
I have two kind of bussiness abstract objects (Product and Catalog) which

[2013-01-02 16:56] mlindenmuth opened #32 "Mapping creates instances for null objects"
If both source and destination have a matching property that is a complex object, when the property on source is null mapping causes the property on the destination to be created by the default constructor.

[code]

[2013-01-06 03:06] #32 closed, assigned to nobody

[2013-01-17 11:37] timohirt opened #33 "PropertyMapping added to TypeMap ignored when mapping a structure"
If try to map data from two related objects to two other related objects. Unfortunately TypeMap is ignored in this case.

First structure is a ProjectType having one project manager of type UserType. On the other hand there is a Project having one Person that is in role project manager. Flat mapping looks as follows:
- ProjetType -> Project
- UserType -> User

One field of UserType differ from Per

[2013-01-19 22:33] jhalterman opened #34 "Add support for TypeTokens"
[code]

[2013-01-20 04:07] jhalterman opened #35 "Support mapping to/from unknown types"
When mapping to/from a ParameterizedType, a property type can be unknown until actual mapping takes place. Ex:

[code]

These fields will not match since we cannot verify that value will be convertable to whatever T ends up being.

[2013-01-20 04:55] #34 closed, assigned to nobody

[2013-01-21 12:33] intree opened #36 "mapping mismatch, is there any way to fix this ?"
The attribute is covered by another attribute with the same name and type, but not at the same level.

Is there any way to fix this by config or  ?

given :

//****_packA**_***

package packA;

import java.util.Date;

public class Down {

[code]

}

//----

package packA;

public class DownPk {

[code]

}

//----

package packA;

import java.util.Date;

public class Up {

[code]

}

//****_packB**

[2013-01-27 03:23] #6 closed, assigned to nobody

[2013-01-27 03:23] #24 closed, assigned to nobody

[2013-01-27 03:25] #33 closed, assigned to nobody

[2013-02-10 15:20] luismcv opened #37 "skip() messes up mappings if not last in configure()"
If you call skip() before map() in a PropertyMap.configure(), the mappings (both automatic and explicit) get somewhat misaligned and messed up. You can avoid the problem by calling skip() later, but nevertheless this seems a bug.

[code]

OUTPUT

PropertyMapping[ObjectA.three -> ObjectB.one]
PropertyMapping[ObjectA.two -> ObjectB.two]
PropertyMapping[ObjectA.four -> ObjectB.v3]
ConstantMapping[nul

[2013-02-11 07:05] #37 closed, assigned to nobody

[2013-02-17 05:28] srandoll opened #38 "Map mocked objects"
Hi,

Mocked objects (e.g. with Mockito) are not handled correctly by Modelmapper.  Following unit test fails:

import org.junit.Assert;
import org.junit.Test;
import org.mockito.Mockito;
import org.modelmapper.ModelMapper;
import org.modelmapper.PropertyMap;

public class SklTest {

[code]

}

[2013-02-17 17:11] #38 closed, assigned to nobody

[2013-03-03 22:36] #31 closed, assigned to nobody

[2013-03-03 23:45] jhalterman opened #40 "Enhance TypeToken support"
Enhance TypeToken support to include support in MappingContext.

[2013-03-06 19:07] #40 closed, assigned to nobody

[2013-03-06 19:08] #36 closed, assigned to nobody

[2013-03-07 14:26] nicwillemse opened #41 "Unable to create custom Mapping"
## Mapping from a String to a date

Given the code snippet below :

PropertyMap<TransactionLoadDTO, Transaction> transMap = new PropertyMap<TransactionLoadDTO, Transaction>() {

[code]

It creates the exception below :

1) An error occured while building mappings

1 error
org.modelmapper.ConfigurationException: ModelMapper configuration errors:

1) An error occured while building mappings

1 error

[2013-03-08 18:51] jhalterman opened #42 "Allow for a Converter to be used in addition to default mapping"
Allow for a Converter to be applied in addition to having ModelMapper perform mapping on the object.

[2013-03-12 05:30] #42 closed, assigned to nobody

[2013-03-14 23:33] jhalterman opened #43 "Support mapping from non-Beans"
Creates SPI that adds support for mapping from non-Beans such as Maps (and Map of Maps) Jackson JsonNodes, jOOQ Records, etc.

[2013-03-14 23:44] jhalterman opened #44 "Add support for ConstructorProperties when populating property values"
If no mutators exist on the destination type then use the ConstructorProperties values to represent the mutator names. Also ensure that partial population through the constructor and partial population through mutators is supported.

Note: ConstructorProperties is a JDK 1.6 annotation. ModelMapper is currently on 1.5.

[2013-03-20 05:31] jhalterman opened #46 "Property map difficult to construct types"
When attempting to property map types which are difficult to construct, errors may occur. Ex: BigInteger and BigDecimal have restrictive constructors and require specific default values.

Add handling for difficult to construct types so they can be property mapped.

From: https://groups.google.com/forum/#!topic/modelmapper/2Xh2D6IB-EU

[2013-03-20 05:41] #46 closed, assigned to nobody

[2013-03-24 03:56] jhalterman opened #47 "Convertable PropertyMapped types should not have child mappings"
From https://groups.google.com/forum/#!topic/modelmapper/Y2LuhdeVqoY

When a PropertyMap is created and convertable properties such as java.sql.Date and java.util.Date are mapped to each other, mappings for child properties (date, month, year) are unnecessary and should not be created.

[2013-04-28 23:49] sskrla opened #52 "Converter not given appropriate concrete type when mapping to generic interface implementing objects"
The following assertion will fail when trying to map the objects as the context only sees the upperbound of the TreeElement type instead of the actual type.

**DomainObject.java**

[code]

**SomeThingXML.java**

[code]

**TreeElement.java**

[code]

**SomeThing.java**

[code]

**SomethingPropertyMap.java**

[code]

[2013-05-13 17:20] jhalterman opened #53 "Property mapping API should support mapping from String to primitive"
https://groups.google.com/forum/#!topic/modelmapper/jIgIb47vUXg

[2013-05-13 17:30] #53 closed, assigned to nobody

[2013-05-14 21:02] #12 closed, assigned to nobody

[2013-05-30 13:43] sgp opened #54 "Use maven-bundle-plugin to generate MANIFEST.MF files with OSGi Metadata"
This is related to issue #18, which is closed, and wasn't quite solved by the merge. I'm working on a patch that will fix this issue for good going forward.

The problem I was having was that javax.xml.\* was not found by the bundle classloader when used in an OSGi platform such as Apache Karaf (which uses Apache Felix as the OSGi container). This was because the template-driven version of the MAN

[2013-06-02 01:45] #54 closed, assigned to nobody

[2013-06-18 02:51] vishalmanohar opened #57 "Auto generate asserts on Mappings"
ModelMapper saves a lot of time writing mappers however, we need tests to verify all the mappings. Can model mapper generate asserts at a field level automatically too? I think this could be an intellij/eclipse plugin. Happy to contribute if this doesn't exist.

[2013-07-01 12:55] pullayya opened #58 "configuration problem"
how to configure skip copy object not single property when some condition matches
like
A{
id:1
name:'data1'
status:'new'
}
B{
id
name
}
 i want to copy a to b when status='updated'
other wise i want to skip entire object
how can i configure this
when coping list

[2013-07-12 21:12] #8 closed, assigned to nobody

[2013-07-15 20:56] #57 closed, assigned to nobody

[2013-07-19 19:22] beachygreg opened #59 "Bio directional object within list does not map object."
I am mapping a given object to a object of the same type. One of the sets within the source has a object that references the original object (if that is clear?).

Example:
class A {
 Set<B> bs;
}

class B {
 A a;
}

The problem is after mapping a instance of A to A, say a1 to a2. we can get b2 but that sub object in the set has a reference to a1 and not its parent a2.

[2013-07-24 18:07] #58 closed, assigned to nobody

[2013-07-25 23:49] jhalterman opened #60 "Should map null values in a Collection"
From https://groups.google.com/forum/#!topic/modelmapper/kz4fPVBcB5s

[2013-07-26 00:02] #60 closed, assigned to nobody

[2013-07-29 21:18] jhalterman opened #61 "Add UNDERSCORE NameTokenizer"

[2013-08-02 04:33] #61 closed, assigned to nobody

[2013-08-02 04:33] #43 closed, assigned to nobody

[2013-08-02 04:36] #16 closed, assigned to nobody

[2013-08-03 22:05] jhalterman opened #62 "Better detection of destination Collection element types"
Implement better detection of destination Collection element types, where the destination element type can be refined to a specific subtype by checking to see if a TypeMap exists for the source type to some subtype of the destination element type.

See https://groups.google.com/forum/#!topic/modelmapper/f9muTHd6KAA

[2013-08-05 17:25] jhalterman opened #63 "Add JDBI integration"
Add JDBI integration based on the BeanMapper interface.

[2013-08-06 03:47] #63 closed, assigned to nobody

[2013-08-12 08:15] ACodeFarmer opened #64 "matches multiple source property hierarchies problem"
Hi, I'm using JPA(with Hibernate) and wish to convert some composite domain to view layer, So I'm using ModelMapper also.

At first, I defined some domain and DTO classes.

[code]

then, I've tried to mapping DTO object instance to domain object instance.

[code]

this code returns error

[code]

Skipping to set user to Preference class suppress this error, but when saving data to persist returned

[2013-08-15 06:36] tomassommar opened #65 "Explicit mapping of objects proxied by dynamic proxy"
When fetching objects through an ORM, in my particular case Ebean, a common scenario is that the fetched objects are proxied by a dynamic proxy. This is not a problem when mapping using the implicit mappings provided by ModelMapper. However, when defining an explicit mapping using a PropertyMap<S, D>, this is a problem. The reason is that the proxied object does not match the type S, and consequen

[2013-08-16 22:13] jhalterman opened #66 "Add support for explicit mapping of Groovy properties"
When reflecting Groovy generated property methods (getX/setX), the return type and property types are of type `MetaClass`, and there doesn't seem to be an obviously way to learn what the actual property type is.

From https://groups.google.com/forum/#!topic/modelmapper/UM5JLkYnMc0

[2013-08-24 23:27] #66 closed, assigned to nobody

[2013-08-30 13:24] nagkumar opened #67 "Mapping Annotions and Scripts"
It would be good to support anntoations to support the mapping process.

e.g I want to map bean with UI elements of andorid form.

in such case annotation would say

@Map(getText(),setText())
private final EditText tbPasswordAO;

i.e mapping happen by calling tbPasswordAO.getText() or tbPasswordAO.setText() for two way sync.

Or Better could be a way to say how to sync with all objects of EditText

[2013-08-30 15:37] #67 closed, assigned to nobody

[2013-09-04 06:10] syedshahul opened #68 "Mutliple id matching issue"
===== **POJO** =====

[code]

===== **My DAO layer class** =====

[code]

===== **Issue** =====

Issue in getting the right data for the all the id properties, other data I am getting.
Any help?

**Note:**
I am using CustomizedRecordValueReader as your RecordValueReader converts the member name to uppercase, which failed in my case.

[2013-09-29 06:18] ddatsh opened #70 "always need invoke createTypeMap?"
[code]

when not use map.createTypeMap(User.class, User.class);
result not correct

[2013-10-05 02:16] jhalterman opened #71 "Add support for collection filtering"
See https://groups.google.com/forum/#!topic/modelmapper/AJ2wb1uhDrM

[2013-10-05 04:06] #71 closed, assigned to nobody

[2013-10-08 07:42] avoloshko opened #72 "Exception on Android"
examples / src / main / java / org / modelmapper / projection / example2

doesn't work.

10-08 10:21:38.859: E/AndroidRuntime(14025): FATAL EXCEPTION: main
10-08 10:21:38.859: E/AndroidRuntime(14025): java.lang.RuntimeException: Unable to start activity ComponentInfo{}: org.modelmapper.ConfigurationException: ModelMapper configuration errors:
10-08 10:21:38.859: E/AndroidRuntime(14025): 1) An erro

[2013-10-17 15:53] jhalterman opened #73 "Relocate fields into Collections using property mappings"
See https://github.com/jhalterman/modelmapper/blob/f86b61c7bf9a17dede135dcea46ed08f09941540/examples/src/main/java/org/modelmapper/FieldRelocation.java

Would be nice if we could just map Person.name to AnotherCar.name

[2013-10-18 17:01] jhalterman opened #74 "Null intermdiate values possible when instance requested via global provider"
When an intermediate value is requested from a global provider, if the global provider returns null the intermediate object is not instantiated.

https://groups.google.com/forum/#!topic/modelmapper/Jh0RCk_rOpM

[2013-10-18 17:08] #74 closed, assigned to nobody

[2013-10-27 01:38] Andycharalambous opened #76 "skip mapping of Date property results in destination property being modified anyway"
Hi. I'm sure I'm doing something wrong but:

When I add a custom PropertyMap so I can set a skip() for a Date property, the destination's Date property is still modified, but not with the source's Date property value, but with a min date value - 'Mon Dec 31 16:00:00 PST 1900' when I toString() it.

Code:

[code]

[2013-10-27 02:08] #76 closed, assigned to nobody

[2013-11-11 20:05] jhorstmann opened #77 "Mapping from source with quantity to create several destination objects"
I have a source object with several positions, each position can have a quantity. This should be mapped to a list of destination positions which don't have a quantity field, instead the position should be repeated quantity times. I tried to achieve this using a custom `Converter<List<SourcePosition>, List<DestinationPosition>>` which calls `mappingEngine.map` repeatedly. Unfortunately, modelmapper

[2013-12-18 12:39] sskrla opened #78 "Collection mapping with add or addAll"
https://code.google.com/p/modelmapper/issues/detail?id=7

Still need this :)

With a bonus twist that I have made a converter that is capable of doing the collection mutations but I need to make model mapper aware of it with out using the setter.

[code]

[2013-12-18 12:44] sskrla opened #79 "Consider using Objensis for PropertyMapping proxies"
Right now, the property mapping EDSL requires a no-arg constructor on most things it touches (including nested objects). You can potentially remove this restriction by leveraging http://objenesis.org/

[2013-12-20 13:56] tglman opened #80 "ModelMapper extensions maven backward dependencies."
Consider to insert the dependency to the model mapper base module in the extensions, in the way that can be insert just the extension for the wanted framework to include all.

[2013-12-20 18:50] #80 closed, assigned to nobody

[2013-12-24 22:30] sskrla opened #81 "Problem with generic owner types."
Me again :3 So I am trying to handle bi-directional mappings with inheritance. Unfortunately the structure I've come up with fails due to <code>PropertyMap</code> proxying the more generic interface even for the children.

I've isolated the problem to <code>TypeResolver</code> and come up with the following test to demonstrate the issue:

[code]

Now, what is interesting is that I had to make each

[2013-12-31 00:08] sskrla opened #83 "MappingContext is missing a .create that takes an existing destination to map too."
Currently <code>MappingContext</code> allows you to create a subcontext with a destination type to map to (which you can then pass to an engine to create a fresh mapped copy), but it does not allow you to map into an existing object. For example:

[code]

I will create a pull request with minor changes (copy paste mostly) to <code>MappingContext</code> and <code>MappingContextImpl</code>.

[2014-01-07 22:34] #81 closed, assigned to nobody

[2014-01-07 22:34] #83 closed, assigned to nobody

[2014-01-08 19:48] sskrla opened #85 "Relax setter qualifications (allow non-void return types)"
When I can, I prefer to have setters return the the object being mutated (most often via lombok's [<code>@Accessor(chain = true)</code>](http://projectlombok.org/features/experimental/Accessors.html) ). Currently, model mapper will not "see" setters with a non-void return type due to an explicit check. What is the value in this restriction? Would you mind making it a configurable behavior?

[2014-01-08 20:29] #85 closed, assigned to nobody

[2014-01-09 16:37] jhalterman opened #86 "Enhance mapping API to support string references for destinations"

[2014-01-09 21:55] kbagi opened #87 "Add support for Android"
Basically can't use custom mappings on Android:

Caused by: org.modelmapper.ConfigurationException: ModelMapper configuration errors:
    1) An error occured while building mappings
    1 error
            at org.modelmapper.internal.Errors.throwConfigurationExceptionIfErrorsExist(Errors.java:239)
            at org.modelmapper.internal.ExplicitMappingBuilder.build(ExplicitMappingBuilder.java:176)

[2014-01-15 06:36] rmannibucau opened #88 "JBatch integration"
Hi

would be great to get a jbatch integration hosted by modelmapper itself. Here is a first code proposal from BatchEE but we would be happy to remove this code if you decide to include it:https://git-wip-us.apache.org/repos/asf?p=incubator-batchee.git;a=tree;f=extensions/modelmapper;h=8f629e075f777d5d4b8e080949cb6281373981a4;hb=ef1cfc57effbac704c9a7dd7fca497b7214337aa

[2014-01-17 02:37] xcooper opened #89 "How can I specify the concrete type for java.util.Set?"
# Question

I encounter a problem that I have a DTO must convert to a VO.

[code]

But... after modelmapper.map(), the reportOrder didn't remain in order and I find out that the concrete type of reportOrder becomes java.util.HashSet.

So, I must write a post converter in TypeMap in order to sort the reportOrder.  It's working but not so convenient.

Can ModelMapper fix this in future?

[2014-01-17 02:52] gdipkf1986 opened #90 "PropertyMap cannot get source values"
I wanna to map an entity to a dto, but wanna customize a property mapping(other properties are using default mapping rules), should I using the  PropertyMap? I tried but seems it not work, follwing is my code, is there any problems? thanks and very appreciate if can give some advice.

PropertyMap<Entity, DTO> mappingRule = new PropertyMap<Entity, DTO>() {
  protected void configure() {
    Object[

[2014-01-17 09:03] #89 closed, assigned to nobody

[2014-01-17 18:30] #52 closed, assigned to nobody

[2014-01-17 18:32] #90 closed, assigned to nobody

[2014-02-11 12:23] joscarsson opened #92 "Explicit mappings without getters/setters"
This might be by design, but I receive "Cannot map to final type" when I have created an explicit mapping with the following configuration:

[code]

The actual mapping is (for example):

[code]

Are explicit mappings not supported when accessing on field level instead of through methods? Most of our domain objects don't carry any logic (JSON structs used in REST), and we want to avoid having gette

[2014-02-12 09:36] #41 closed, assigned to nobody

[2014-03-07 18:42] m-ruhl opened #94 "Mapping objects with no properties"
Hey,

We have a problem with mapping a class which has no properties or all properties are null.

Here is a simple example:

[code]

If we map a Parent object with a Child object, the "child"-property is null in the destination object. The same issue occurs if all properties of an object are null.
The mapped object is invalid for the JAXB-Marshaller, because the child property is null.

Any sugges

[2014-03-23 21:43] signed opened #95 "Empower ConditionalConverters to handle null properties in source objects"
[code]

I went for stripping the `if` clause in MappingEngineImpl:249. That makes this test pass, but breaks a lot of other tests.
Is this something you would consider to support?

[2014-03-29 21:00] #95 closed, assigned to nobody

[2014-04-02 18:00] marcelo-lucio-onofre opened #97 "Prevent Hibernate lazy loading"
Hi,

Is there any way to avoid Lazy Loading launched by hibernate? With the dozer can create a CustomFieldMapper that manipulates these values​​, but found the ModelMapper much simpler

[code]

[2014-04-04 18:51] farazahmedkhan opened #98 "Collection mapping with add or addAll"
This is really required.
https://code.google.com/p/modelmapper/issues/detail?id=7

[2014-04-09 12:20] farrukhmpk opened #99 "Mapping from Enum to String - error (Cannot map to final type)"
Hi,
I am trying to map two objects, where the source has an Enum as property and the respective property in destination is of String type.
The properties are mapped correctly, but I receive (Cannot map to final type) error.
I am using 0.6.3 version of the model mapper. The issue seems to be present in 0.6.4 as well.

As you can see from the code snippet, I have tried using Converter as well, but t

[2014-04-15 18:01] jhalterman opened #100 "Problem mapping nested collections such as Map<String, List<String>>"
From https://groups.google.com/forum/#!topic/modelmapper/yPoep_jRyek

[2014-04-15 18:10] #100 closed, assigned to nobody

[2014-04-15 18:25] #99 closed, assigned to nobody

[2014-04-20 19:04] jhalterman opened #101 "Handle circular references for boxed primitives"
Boxed primitives can cause some trouble for circular reference detection since they share references. We can probably do away with tracking boxed primitives since they can't ever be circular (AFAIK).

Created from issue #15

[2014-04-20 19:06] #101 closed, assigned to nobody

[2014-04-29 20:35] ostadmasoudm opened #102 "Filtering mapping based on field names"
Hi,

[code]

I.E:
class Source {
     private A field1;
     private B field2;
     protected Source(){}
     public Source(A param1,B param2){...}
// Note: no setter methods
}

class Target {
     private A filed1;
     protected Target(){}
     public Target(A param1){...}
// Note: no setter methods
}

modelMapper.getConfiguration()
//Does something like this exist?
                      .fieldF

[2014-05-05 07:27] kurbhatt opened #103 "mapping already exists in my controller"
Hi,

I am getting data from my form and mapping it to my command class but most of field have similar name.
So i have to use explicit mapping using PropertyMap<>.

I have used it and work fine first time but when I am trying or sending second request for processing then it is giving me an error that mapping already exist.

My Controller Code

@RequestMapping(method= RequestMethod.POST,consumes = "

[2014-05-08 00:13] jhalterman opened #104 "Fix mapping to existing instances of the same type"
Mapping to existing instances of the same type currently applies the behavior that is used when mapping a property on a new type - returning the value of the existing property. This doesn't work well when mapping to an existing object though.

[2014-05-08 00:41] #104 closed, assigned to nobody

[2014-05-08 03:54] #103 closed, assigned to nobody

[2014-05-21 13:27] dkirrane opened #105 "NoSuchMethodException mapping a Map containing another Map"
I'm hitting the following exception when trying to map this
`private Map<String, Map<String, String>> myMap;`

[code]

[2014-05-28 16:28] dkirrane opened #107 "when(Conditions.isNull()) not working"
Conditional mapping is not working for `Conditions.isNull()`

To reproduce:

Object being mapped:

[code]

Mapper code:

[code]

[2014-05-28 17:31] jhalterman opened #108 "Conditionally map default value"
Add support for conditionally mapping to a default value, else mapping to the normal value for a property. Ex:

`when(Condition, defaultValue).map().setName(source.getName())`

[2014-05-28 17:31] #107 closed, assigned to nobody

[2014-05-28 23:35] jhalterman opened #109 "NPE when attempting to assign boxed value to primitive in property mapping"
See https://groups.google.com/forum/#!topic/modelmapper/5NJfFXItHzk

[2014-05-28 23:56] #109 closed, assigned to nobody

[2014-05-29 10:33] #105 closed, assigned to nobody

[2014-06-02 17:18] dmarsh26 opened #110 "How to map interface to POJO ?"
I've created a test case, I want to map an interface with accessors to a POJO with private fields ?

import org.junit.Test;
import org.modelmapper.ModelMapper;
import org.modelmapper.config.Configuration.AccessLevel;

import static org.mockito.Mockito._;
import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.CoreMatchers._;

interface ITestTransaction {
    String dateTime

[2014-06-04 09:52] MartinAhrer opened #111 "ModelMapper with generics type parameters in interfaces breaks"
I'm experiencing a rather weird effect with ModelMapper (0.7.0). Therefore I have extracted all the required code into an isolated test showing the problem.

As soon as a generics parameter is added to `ReferenceableResource` the test fails. But strangely running the test multiple times in a row will occasionally let the test pass green.
When debugging the code I never managed to have the test bre

[2014-06-06 03:47] #110 closed, assigned to nobody

[2014-06-06 20:38] #79 closed, assigned to nobody

[2014-06-06 21:43] #47 closed, assigned to nobody

[2014-06-06 23:53] #102 closed, assigned to nobody

[2014-06-06 23:55] #92 closed, assigned to nobody

[2014-06-06 23:56] #88 closed, assigned to nobody

[2014-06-09 03:38] jhalterman opened #112 "Add test for mapping destination fields to constants"

[2014-06-09 03:47] #112 closed, assigned to nobody

[2014-06-11 17:27] #111 closed, assigned to nobody

[2014-06-18 00:52] ckorakidis opened #113 "Exception thrown when the classes to map implement hashCode()"
Hi,
I'm getting the following exception if I'll add the hashCode() method in the classes to be mapped. If I remove the hash() everything is ok.

---

[code]

---

I tried to use skip but with no luck:
                skip().hashCode();
                skip(source.hashCode(), destination.hashCode());
Any idea?

[2014-06-19 07:12] mforss opened #114 "Classloading issue for addMappings method"
Hi!

We are using modelmapper 0.7.1 and need to add custom mappings by using the method addMappings of the TypeMap. When we do this in our runtime environment we get an IOException (Class not found) because the ClassReader of the shaded ASM-library cannot load our PropertyMap class. This is because the ExplicitMappingBuilder is using the ClassReader with the string constructor, giving the class na

[2014-06-22 16:57] #113 closed, assigned to nobody

[2014-07-11 08:32] pepperbob opened #115 "Mapping of Arrays stopped working w/ 0.7.0"
We currently have code working with modelmapper 0.6.5 which maps byte[] or other kinds of Arrays.

This functionality seems to have stopped working with modelmapper 0.7.0 - stepping through the code we see that this can be tracked down to org.modelmapper.internal.ExplicitMappingVisitor (Methods methodFor / classFor).

Is there a different way to map Arrays now or is this a bug?

[2014-07-11 19:28] #115 closed, assigned to nobody

[2014-07-30 08:55] slavus opened #116 "Partial implicit and partial explicit mapping of Maps - classes suported by SPI ( MapValueReader) does not work."
Hi I have a problem.
I wanted to map HashMap to class. The idea was to implicitly map most key/values to class properties, and only few to explicitly map using PropertyMap.

The same thing works if I do mapping between ClassA to ClassB, but not when a do mapping between MyMap to ClassA.

Partial implicit and partial explicit mapping of Maps - classes suported by SPI - eg( MapValueReader)

I create

[2014-08-12 05:16] xcooper opened #117 "NullPointerException while destination is an Interface"
Following function throw a NullPointerException because I map a Object to a Interface with a provider providing a concrete class.  This only occurs in 0.7.x, it's ok in 0.6.x.

[code]

[code]

[2014-08-12 16:39] #117 closed, assigned to nobody

[2014-08-28 09:40] kubalavl opened #118 "ModelMapper JOOQ integration bug"
Imagine following situation:
- I would like to map JooqRecord (JOOQ generated class from table) to POJO (with getters and setters)
- Everything works fine when first mapped source object is completly filled (every property is not null)
- In case of first mapped source object is not completly filled (some properties contains null values). These (not filled) source properties from first mapping won'

[2014-09-03 13:46] mh-dev opened #119 "Provider breaks Recursion check"
When you execute the code sample below domain.getParent().getId() will return null. If you uncomment the line "modelMapper.getConfiguration().setProvider(provider);" it will return the same id.

If debuged it a bit and found out that the reason for this is the recursion check in MappingEngineImpl.map because it returns the circularDest which does not contain data.

[code]

[2014-09-16 14:54] rogern opened #121 "Multiple converters configured in a PropertyMap with 'using()' no longer works."
Since version 0.7.0, having more than one 'using()' in the configure method throws IllegalStateException with the message: "using() can only be called once per mapping".

Without this I haven't been able to configure different converters for various fields in the source object.

Is this a bug or should it be configured in another way? Can't find any example of this scenario.

Example:

[code]

[2014-09-17 11:22] rogern opened #122 "Mapping to overloaded setter methods gives random results"
When the target has two (or more) setter methods for one field but with different parameter types ModelMapper uses any of them. This happens when there is a setter for Date and a overloaded setter for String, such as:
modelMapper.map(source, target)
target.setDate(Date date) {}
target.setDate(String date) {}

About every second map that takes place uses setDate(String date) and invokes toString on

[2014-09-23 06:46] dabd opened #123 "PropertyInfoSetResolver#resolveAccessors does not check for source with null members"
The following test case fails when mapping Json to a POJO: https://gist.github.com/dabd/e912418bd8105f3bd7ec#file-gistfile1-java

This seems to be related to the bug described on the first answer of this stackoverflow post: http://stackoverflow.com/questions/25951124/modelmapper-how-to-map-this-json-to-java.

[2014-10-10 03:46] shimron opened #124 "Create a decorator from ModelMapper"
I want to create a decorator from the class named "ModelMapper" so that I can override some methods, but due to the private methods and private members, I can't do it. So, could you make them to be protect ?

[2014-10-16 16:46] rmannibucau opened #125 "generate more "modelmapper" proxy names"
hi

When providing a custom PropertyMap then a proxy is generated for source and is used to capture what to do.

The issue is when it is done with container classes these generated classes can be filtered and it can be forbidden to load them from a webapp loader for instance. The solution is trivial: generate org.modelmapper.proxy.<fqn>$$... names insetad of <fsqn>$$... ones.

edit: getDefaultClas

[2014-10-17 13:01] yuppyavd opened #126 "Mapping method from interface with generic return type"
Simple test case:

[code]

Running this test causes exception:

[code]

When I removed HasField interface from Entity and Dto classes, test run successfully.

[2014-11-10 10:20] juristr opened #127 "Docs update: Couldn't find `enableFieldMatching(...)` method described in docs"
Hi,

I just noticed that the `enableFieldMatching(..)` method [described in the docs](http://modelmapper.org/user-manual/configuration/) doesn't seem to exist.

[code]

I'm using v0.7.2.

---

**// Edit**
Should it be `.setFieldMatchingEnabled(...)` now?

[2014-11-10 16:55] #127 closed, assigned to nobody

[2014-11-11 22:09] #114 closed, assigned to nobody

[2014-11-11 22:28] #126 closed, assigned to nobody

[2014-11-11 22:48] #121 closed, assigned to nobody

[2014-11-12 00:48] #119 closed, assigned to nobody

[2014-11-13 14:36] lomagnin opened #128 "JsonNodeValueReader: missing explicitely mapped properties should be allowed"
Currently, an explicitly mapped JSon property that is missing will throw an exception:

public class JsonNodeValueReader implements ValueReader<JsonNode> {
  public Object get(JsonNode source, String memberName) {
    JsonNode propertyNode = source.get(memberName);
    if (propertyNode == null)
      throw new IllegalArgumentException();

That behaviour should return a null value to avoid exceptio

[2014-11-18 19:12] lomagnin opened #129 "Some converters should be able to handle empty String"
The empty Strings should be considered by some of the Converter, like for the BooleanConverter:
  public Boolean convert(MappingContext<Object, Boolean> context) {
    Object source = context.getSource();
    if ((source == null)
      return null;
String stringValue = source.toString().toLowercase();

/// ADD BELLOW CODE ///
if (stringValue.isEmpty())
  return null;

[2014-11-18 20:27] #129 closed, assigned to nobody

[2014-11-19 05:37] #97 closed, assigned to nobody

[2015-01-19 08:11] AndroidGecko commented on #87
would be great if this could work on android

[2015-01-24 20:16] tk-codes opened #130 "Mapping abstract classes"
Hello there
I am having a problem with mapping abstract classes.
I have posted the issue on stackoverflow "http://stackoverflow.com/questions/28111875/modelmapper-mapping-abstract-classes-during-runtime".

Does Modelmapper allow mapping abstract classes?

[2015-01-27 03:57] plbarrios opened #131 "Mapping of Arrays stopped working in Groovy"
Similar to issue https://github.com/jhalterman/modelmapper/issues/115, I have been having trouble using modelmapper 0.7.3 and groovy. Here is the test I ran against it, and it seems like skip is being ignored and mapping of arrays is happening.

https://github.com/plbarrios/modelmapper-tests/blob/master/ModelMapperTest.groovy

[2015-01-27 17:31] maksimlikharev opened #132 "new map signature is required"
[code]

as it seems like the only way to map Interface to Object and have all your converters and Co working, otherwise it will not find configuration

[2015-01-27 17:38] jhalterman commented on #132
The `<D> D map(Object source, Type destinationType, String typeMapName)` method doesn't work? What problem are you seeing specifically?

[2015-01-27 20:11] maksimlikharev commented on #132
Here is the problem I have:

1. interface User { }
2. class UserDTO implements User { } <== this guy deep inside the dao and not visible
3. class UserEntity

I need to map User ==> UserEntity

I define mapping as:
			mapper.addMappings( new PropertyMap<User, UserEntity>() {

and all my converters fall off, as it really want to produce mapping as  UserDTO  ==> UserEntity and cannot fined maptype, b

[2015-01-30 10:18] iguissouma opened #133 "Convert a list of Map to a list of DTO with SourceNameTokenizer is UNDERSCORE"
I have a class TestDTO with two fields etaTel and etaFax as Strings.
I try to convert a list of Map to a list of TestDTO, I used the source name tokenizer as UNDERSCORE,
when a value in the map is null on the first lines, I got all the list of DTO with a null value.

Here my Test
https://github.com/iguissouma/test-modelmapper/blob/master/test/src/test/java/MappingTest.java

Do you have any idea wh

[2015-02-06 18:26] yurgisbaykshtis opened #134 "NPE when trying to conditionally skip an object based on its property"
[code]

[2015-02-13 01:32] dmarriner commented on #94
Have you had a chance to consider a solution?

This is also a problem for my team.  We need to be able to map a sub-object where all the fields may be null.  For us a null object has a very different meaning than a non-null but empty object.

[2015-02-24 09:59] natnan opened #135 "Java 8 Optional support? (or a general generics problem?)"
I've been using modelmapper and java 8 Optionals all around my application which was working fine because they were primitive types; until I changed one of my model objects' field to Optional type. Then I realized it doesn't work so well..

Here is a simple structure:

[code]

When I attempt to map `MyObjectDto` to `MyObject`, modelmapper calls

[code]

with `Optional<MySubObjectDto>` as the param

[2015-02-24 21:07] ckasek opened #136 "cglib classloader issue"
I'm currently evaluating different options for doing mapping, and ModelMapper was my first candidate.  The app I'd be using this in is a JavaEE6 webservice that uses JAX-RS, EJB, JPA, etc., all running on glassfish.  I'm trying to map from a JPA entity to a pojo i've created, but things are not going well.  I created my own PropertyMap, but as soon as I try to map the object on my app server, it b

[2015-02-24 22:01] jhalterman commented on #136
AFAIK, setting the thread context classloader should be fine. If it resolves your issue, it's good with me. Do you want to send over a pull request for this?

[2015-02-26 11:08] natnan commented on #135
What I needed was a Converter as it turns out. I think it should be a part of the library. Not sure how backward compatibility is affected if you're implementing for java 8 though.

I also went through the PR for Guava Optionals from 2013 #69 which is hanging for some reason; copied the code, changed it a bit until it works.

Don't know if it's entirely correct way to handle it but it does the wor

[2015-02-26 11:08] #135 closed

[2015-03-04 21:47] arathim opened #137 "Cannot reuse ModelMapper instance when traversing list with null attributes in some objects"
Iam traversing a list of objects, such that an attribute (say iconVal) is null for some entries and the same attribute is not null for other entries. In such case, when I reuse the ModelMapper instance, if I first map an entry with null value for iconVal attribute, the iconVal is not getting mapped, even if it is not null for the other entries.
So Iam re-instantiating ModelMapper for every row. Ho

[2015-03-05 15:51] ruslan-simonenko opened #139 "Impossible to use converter which destination is an interface"
Next test fails in the current release:
[code]
My suggestion is to modify [Types.isInstantiable](https://github.com/jhalterman/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/util/Types.java#L94) and make it return false if argument is either an interface or an abstract class.

[2015-03-11 20:49] WellMafra opened #140 "Do I really need to create a new Instance of ModelMapper for each conversion?"
I tried to keep just one instance, using a static attribute of ModelMapper, but when I pass a List with 2 distinct items, it returns 2 identical items, being that, both items are the result of the first conversion. I guess that ModelMapper is keeping state

[2015-03-11 21:17] jhalterman commented on #140
You can use separate ModelMapper instances for this, or separate named TypeMaps:

[code]

[2015-03-12 12:17] WellMafra commented on #140
I think that I need something else. Bellow is my example, in this case, I have a list of FooDto and I need to make a faster conversion, so I kept the instance of ModelMapper with a static field.

[code]

[code]

[2015-03-16 20:06] ChristophGr opened #141 "Causes error with eclipselink metamodel processor"
error: com.sun.tools.javac.code.Symbol$CompletionFailure: class file for org.modelmapper.internal.cglib.reflect.FastClass not found

[2015-03-17 23:23] jhalterman commented on #141
Hi @ChristophGr - Can you give some more info on what you'd doing to hit this? I want to make sure that adding another 30k of classfiles to the modelmapper jar is necessary before doing so.

[2015-03-18 01:03] ChristophGr commented on #141
I have some JPA-entities in my project, and I want to generate metamodel-classes for them. This is done by an Annotation-processor, that runs during compile. As soon as I add any reference to ModelMapper to the source-code (like calling new ModelMapper()), the java-compiler throws the error above.

[2015-03-19 16:35] #141 closed

[2015-03-19 16:36] jhalterman commented on #141
Thanks for filing this.

[2015-03-24 10:12] ChristophGr opened #144 "Cannot map properties defined in interfaces"
When the getter for a Property is defined in an Interface, it cannot be mapped because of

[code]

[2015-03-24 17:48] WellMafra commented on #140
I fixed that!
It was my fault, The reason is that I was setting:
[code]
And this way it was keeping the reference in the memory, and so, because of that, It was duplicating the register.

[2015-03-24 17:48] #140 closed

[2015-03-24 18:26] jhalterman commented on #144
Thanks for this. Do you have an example of where this pops up? I tried reproducing, but I'm probably not getting your use case correct:

[code]

[2015-03-25 10:18] ChristophGr commented on #144
[code]

The problem is, that calling getSuperClass() on an extended interface returns null.

[2015-04-02 09:54] sandeep-chekuri opened #146 "How to set the destination property dynamically"
In our usecase field mappings between source and destination are defined in config file or table, how to create these mappings dynamically at runtime?

[2015-04-02 10:01] whiskeysierra commented on #146
The PropertyMap *just* captures method calls on the `source` and `destination` objects. Assuming you're creating a new PropertyMap every time you should be able to do something like that:

    detectSetter(map(detectGetter(source)))

    private Object detectGetter(Source source) {
        if (configuration.useFoo()) {
            return source.getFoo();
        } else {
            return source.

[2015-04-02 10:47] sandeeprajub4u commented on #146
So we have to put all the getters in detectGetter and all the setters of destination in detectSetter. DTO is huge and it has 150+ attributes, detectGetter and detectSetter will become very complex.
Other libraries like dozer, orika support the mapping like map("source.fieldName",  "target.fieldName") Can you please let us if this can be done

[2015-04-13 04:17] jhonnytuba opened #147 "What is the best way to solve this"
Entity classes:
[code]
Dto classes:
[code]
How simulate the problem:
[code]

What is the best way to solve this? I wish the result was as expected.

Thanks you.

[2015-04-17 15:27] romwhyte commented on #94
Is there a way to allow a sub 0bject to return an empty instance of the object instead of a null
Could the converter or provider allow a check be done.
Or a feature be added to accomplish this

[2015-04-23 13:56] sandypad commented on #118
I am facing a similar issue and I was wondering if this bug is fixed yet? Appreciate your help.
Thanks.

[2015-04-23 13:58] Roger16 commented on #118
I am facing a similar issue and I was wondering if this bug is fixed? I use the general Record object. Appreciate your help.

[2015-04-25 21:03] haidelber opened #148 "Cannot map final method"
I try to map `org.hibernate.validator.internal.engine.ConstraintViolationImpl.getMessage()` to a custom classes property.

I use following mapping:
[code]

As described in [Hibernate Validator Javadoc](https://docs.jboss.org/hibernate/validator/5.1/api/index.html?org/hibernate/validator/internal/engine/ConstraintViolationImpl.html) the method itself is final. Is it possible to use ModelMapper in t

[2015-04-25 23:48] jhalterman commented on #148
@haidelber This is actually a limitation of ModelMapper, unfortunately. In order for the mapping API to work, it proxies (via a subclass) the source and destination types. Since final methods cannot be subclassed these methods cannot be mapped.

[2015-04-26 00:49] haidelber commented on #148
Thanks for the fast response.. In fact I found a workaround in the meanwhile as it is fortunately working with implicit mapping. I just had to rename the fields of the destination class.

[2015-04-26 00:49] #148 closed

[2015-05-11 11:37] pspi commented on #137
I'm facing this issue as well - took a while to debug. First null value causes subsequent non-null values to be mistakenly read as null.

[2015-05-11 11:45] pspi commented on #118
I'm facing this as well. Any updates on how to fix or work around this?

[2015-05-14 19:40] mystarrocks commented on #99
I have a similar problem where the source type in my case in an enum called `Status` and the target type is an `Integer` that can be obtained by calling `Status.code()`. Is there any way to get it work in my case? I don't see either of these `addMappings` would working:

[code]

[code]

[2015-05-21 02:31] keyurbhatt opened #149 "map 2 collection types using modelmapper"
I am developing and spring application and for object mapping I am using ModelMapper library.

I am able to map basic class mapping but when I am trying to map 2 collection elements, source is set of enumeration with additional property like name and description and destination is pojo having id, name and description.

I have tried typemap and converters in mapping profile but I am getting excepti

[2015-05-21 04:34] keyurbhatt commented on #149
Hey I have got an answer on `stackoverflow`. Will you confirm that is it a proper way or not ?
So that I can apply it on my application.
Thank you.

[2015-05-27 15:11] mystarrocks opened #150 "Skip mapping to a destination method that's final"
I have a Destination type `D` containing two methods named:
* `public final void setNew(boolean)` and
* `public void setNewValue(String)`

with the Source type `S` containing a method named:
* `public String getNameValue()`.

Strangely, with the `Standard` mapping strategy, my `getNameValue` from the Source gets mapped to both the methods from the Destination, failing in the process during the map

[2015-05-29 13:01] marhaus opened #151 "Converter not working properly (modelmapper 0.74)"
I have this test case that shows the problem:

[code]

This fails. If I un-comment the private no-argument constructor on the class `B`, then it works.

But since I have a custom `Converter` registered, I should not need that.

I think the problem is with `MappingEngineImpl.typeMap()`; it shouldn't try to create a destination object on its own when there is a `Converter` available.

[2015-06-03 18:33] stropa opened #152 "JOOQ integration - Incorrect value for java.sql.Timestamp field"
Using the example configuration with explicit TypeMap as provided in manual, for columns of java.sql.Timestamp from JOOQ RecordImpl trying to convert to java.util.Date  -  instead of real values we get new instance of Date.
After a bit of debugging we ended up in MappingEngineImpl.createDestinationViaProvider method with  provider being null and got a new instance of Date from there. Very confusin

[2015-06-30 21:59] kdeenanauth opened #153 "Reusable Generic PropertyMap"
The following functionality used to work in 0.6.5 but currently breaks.

I have the following class that is intended to be reused to skip certain fields during mapping:
[code]
However given the following scenario:
[code]

Fails with:
[code]

[2015-07-14 06:19] keyurbhatt commented on #149
@jhalterman :+1:
Hey, are you there man ?

Just need to confirm. Still you have not gave me an answer.
If you can then please reply.
Thank you.

[2015-07-21 17:12] rafaelri opened #154 "Provider ignored on first level properties of a mapping"
Hi,

 I have already successfully used a Provider in a ModelMapper transformation but I've stumbled upon a particular situation. I've noticed that the Provider is being considered only for the objects beyond the "first level" of the transformation, eg.:
 I have two hierarchies:
1st) TipoConsultarProcessoResposta, TipoProcessoJudicial and TipoDocumento
2nd) ConsultarProcessoResposta, ProcessoJudici

[2015-08-03 12:02] sventorben opened #155 "NullPointerException as root cause in MappingException due to faulty error conversion"
Errors.Converter.appliesTo throws NullPointerException in case target throws arbritrary exception during setting of property.

Here's is an example to reproduce the problem:

[code]

[2015-08-03 19:59] #155 closed

[2015-08-06 05:19] #149 closed

[2015-08-12 18:18] jmnarloch opened #157 "Spring Boot Integration"
Hey,

I just wanted to live this note. Since I am a very happy ModelMapper user I have decided to build a seamless integration with Spring Boot: https://github.com/jmnarloch/spring-boot-starter-modelmapper. It allows it to simply drop the extension to Spring Boot app classpath and just inject ModelMapper to any Spring bean.

[2015-08-12 18:48] jhalterman commented on #157
Very nice Jakob! I tweeted a link to your blog post.

[2015-09-11 14:09] LordPinhead opened #158 "Skipping source fields/methods"
Hi,
is just finished with my first testing of modelmapper and found a strange behavior with no bug or solution somerwhere else.

My Parent Bean has an final Method getId() which comes from Source should be skipped because it´s DB metadata. But i´ve got an Exception when i try it:

[code]

Lets show it with some testcode:

[code]

With or without modelMapper.validate(), i crashes.
Ok, kicking the f

[2015-09-12 16:39] richardkabiling opened #159 "Support for circular dependencies? No mention in documentation"
There seems to be support for circular dependencies based on following issue: #2, #15 , #64 but I can't seem to find any mention of this in the documentation.

How do I do this? The following code causes a StackOverflowError

	public static void main(String[] args) {

		Person parent = new Person();
		parent.setId(1);
		parent.setName("Richard");

		Child child1 = new Child();
		parent.setId(1);

[2015-09-13 02:43] #159 closed

[2015-09-13 02:43] richardkabiling commented on #159
Seems the circular reference issue was caused by a different issue.

[2015-09-14 14:24] LordPinhead commented on #158
Found the next Problem.

Lets assume in Source i have an Array/Property which has to be converted to another Array.
So i update my PropertyMap Class, add my Converter and use it - and it crashes.

Updated Testclasses:

[code]

So my premise is, the name in Destination is "Test" and in the first DeeperDestination Object, the name is "TestDeeper".

Crashing with the following Stacktrace:

[code]

In

[2015-09-16 19:50] scottresnik commented on #13
The issue I'm having is that my explicit mappings are not used if they are created with Interfaces as the destination types.

An example is here:
https://github.com/scottresnik/modelmapper-interfaces/tree/master/example.modelmapper

[2015-09-17 04:38] parani-itl opened #161 "ClasscastException while Play + Spring auto reload"
ClasscastException is thrown by model mapper, when application auto reload happens.

Detailed description is available in
http://stackoverflow.com/questions/32127438/classcastexception-in-modelmapper-enhancerbymodelmapper-cannot-be-cast

Jean has provided a possible solution for this.
Can this be fixed?

[2015-09-17 16:07] knes1 opened #162 "Exception thrown when trying to add mapping when classes are compiled with jdk8 named parameters"
ModelMapper seems to be throwing exceptions when trying to register mappings when following conditions are satisfied:
- Classes are compiled with jdk8 named parameters support (-parameters argument to javac)
- Destination class implements an interface (such as Comparable)

Here's a test case that fails when compiled with -parameters option:

[code]

You can clone test case from here: https://githu

[2015-09-18 17:32] jhalterman commented on #162
Thanks for filing. This could be a problem with cglib, which would not be ideal.

@sameb @raphw - have you seen this before, where `Enhancer` behaves wierd on JDK 8 when compiling with the -parameter option?

[2015-09-18 17:50] jhalterman commented on #162
It looks like we need a new CGlib release to try and get this fixed. Working on that...

[2015-09-18 23:15] raphw commented on #162
Its an issue with old ASM versions that cannot parse the meta data. A new cglib release would help but I wonder if that is ever happening.

[2015-09-18 23:17] jhalterman commented on #162
@raphw I figured as much. FWIW: I'd love to switch over to ByteBuddy, but I think I'd need it to be more modularized. Lots of great features, but for the limited set of features I need, it's a big distro to take in.

[2015-09-18 23:26] raphw commented on #162
It is difficult to combine modularization and importing third-party dependencies such as asm. I understand that Byte Buddy is larger that cglib but if file size is an issue I guess that importing the required files is the best option in the first place.

[2015-09-18 23:33] jhalterman commented on #162
@raphw I assume ASM would be part of ByteBuddy's core along with basic stuff like subclassing. There are a ton of other features though that could be, at least in theory, separate dependencies: android support, the agent, and I get the sense, a lot more.

[2015-09-26 11:01] sujai1009 opened #163 "Converting HTTPRequest object to POJO"
How to write a custom transformer or converter to convert the httprequest object to POJO.

[2015-09-29 12:25] MarSik opened #164 "Cyclic mapping issue in projection?"
Hi, I have a test case that does not behave correctly when doing projection. (@Data is Lombok's way of generating getters and setters, asserts are using AssertJ syntax).

    @Data
    private static class Action {
        UUID id;
        Action previous;
    }

    @Data
    private static class ActionDTO {
        UUID id;
        UUID previousId;
    }

    @Test
    public void testPreviousLi

[2015-09-29 20:43] lfdversluis opened #165 "Proguard config?"
Having proguard enabled creates a lot of issues, including null pointers such as ``Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference at com.lfdversluis.buurapp.domain.mapper.InitiativeMapper.a(InitiativeMapper.java:33)``

I have my proguard configuration set to
``
-keep class java.beans.** { *;

[2015-10-07 00:19] genemang commented on #87
Is there a beta version or any non-guaranteed code that I could use that will allow me to use ProperyMap's in android?

[2015-10-07 05:10] jhalterman commented on #87
@genemang  There's no Android beta support right now. At this point the fastest way to get Android support would be a contribution as I'm tied up with other projects. I can certainly help point someone towards what sort of changes might need to be made.

In short, there are two areas where a change would be required: in proxy'ing map'ed types and in reading bytecode to learn which mappings a user

[2015-10-07 14:00] genemang commented on #87
Thanks.  Like you, I’m tied up as well, otherwise I might take a look.  This is a really good mapping library.   Android support would make it superlative.  I do appreciate your feedback.   How long do you think this would take, should someone decide to undertake it?

Gene Mangrum
Nashville, TN

[2015-10-07 18:36] jhalterman commented on #87
I have no idea how long it would take. Assuming the ExplicitMappingVisitor impl for DEX is similar to that for JVM bytecode, it probably wouldn't be too bad.

[2015-10-16 10:22] #124 closed

[2015-10-21 14:14] jdieckmannelm opened #166 "Unexpected behavior when matching properties with similar names e.g. "id" and "consumerId""
**Simplified scenario:**
Source object:

[code]

results in:

[code]

**Full example to reproduce:**
https://github.com/jdieckmannelm/modelmapper-unexpected-behavior

I would not expect the token id to be "123" but null.

Is this behavior by design? If so, is there any way to influence it? Our current solution works perfectly fine with the out-of-the-box-super-magic-auto-mapping, except for this c

[2015-10-22 10:22] MarSik commented on #164
So there is indeed an explicit type cycle prevention in the code. It is present in org.modelmapper.internal.ImplicitMappingBuilder#matchSource in the form of

      if (!doneMatching
          && isMatchable(accessor.getType())
          && (!sourceTypes.contains(accessor.getType()) || accessor instanceof ValueReaderPropertyInfo))
        matchSource(TypeInfoRegistry.typeInfoFor(accessor, configur

[2015-10-26 14:17] splanard opened #167 "Conditional skipping"
Hello,
I'm trying to do the following thing with ModelMapper but I can't find a way to do it.
In some case, coming from an external treatment, I don't want some fields (including a list of objects) of my Source class to be mapped. But, in the other cases, I want ModelMapper to use its default mapping method. Basically, I would like to do this :

	public class MyPropertyMap extends PropertyMap<Sour

[2015-11-16 17:33] ttsanev commented on #153
I'm having the same issue, even if I explicitly pass the types in the PropertyMap constructor.

    new FooMap<Foo, Bar>(Foo.class, Bar.class);

[2015-11-21 18:44] rafik777 commented on #161
I have the same in `spring boot`. :(

[2015-11-21 18:45] jhalterman commented on #161
I'm not sure about Jean's solution, but this is something I don't have time to look into myself. I'd be happy to look over a pull request though.

[2015-11-24 09:22] colt7 opened #168 "JDBI with ModelMapper: ResultSet with null values"
Hi, i'm using ModelMapper with JDBI, and I have an error mapping the ResultSet into a MyObject: if the first row of ResultSet has a column with null value (table.column2 = null), modelmapper doesn't create a correct mapper. In fact for all the rows of the resultset, that value will be mapped as null, because modelMapper creates the mapper the first time, starting from the values contained in the f

[2015-11-24 19:32] mikaelnousiainen opened #169 "Incorrect instance returned by MappingContext.getSource() in Converter"
I'm having problems using a Converter with a hierarchy of objects. I'm trying to use InfoPropertyMap automatically in all properties that need conversion Info to InfoDTO. However, class Info contains class SubInfo, which is completely different from SubInfoDTO, so more complex mapping is needed there, which is why I'm using a Converter for it.

The following test case fails with a ClassCastExcepti

[2015-12-14 16:23] JSlain opened #170 "createTypeMap(<interface­>, Class) does not work."
Creating a mapping with an interface as the source is not getting used.
ModelMapper search for a TypeMap for a (deproxyfied) source.getClass().
If not found, it'll create a default one.
I think it should also search one for all superclasses and/or interfaces before defaulting to a new one.

Here's a test showing the problem:

[code]

[2015-12-31 04:46] kiranreddykasa opened #171 "Issue in mapping existing nested objects"
https://groups.google.com/forum/#!msg/modelmapper/WZM6lKUv6QA/on_pqeekBgAJ

[2016-01-07 07:51] mikaelnousiainen commented on #169
I was using PropertyMap API incorrectly, the mapping with Converter from SubInfo to SubInfoDTO should have been:

[code]

So I was supplying an incorrect source object for the converter.

[2016-01-07 07:51] #169 closed

[2016-02-09 14:26] csumutaskin opened #172 "lazy fetch"
i get a lazyinitialization exception when mapping. can you please provide a link for a lazy fetch jpa example..

[2016-02-23 12:04] beiyeren commented on #99
map(source.getStatus()).setStatus(null);  not work

how can i fix it?

[2016-03-01 06:18] dongxurr123 opened #173 "Can map the same srouce object to the same destination object ?"
[code]

can we make this assert success ?

[2016-03-13 17:56] mbm56767 commented on #166
Facing same issue. when fileds having similar names say id,  getting unexpected values which are supposed to be null

[2016-03-13 17:56] mbm56767 commented on #68
Facing same issue. when fileds having similar names say id,  getting unexpected values which are supposed to be null

[2016-04-07 21:34] garyschulte commented on #12
I see this is closed, but I am unable to map a pojo to a map as in shouldMapBeanToMap() above.  Is it safe to assume that was never implemented?

[2016-04-18 17:07] adamcrevel opened #174 "Handle circular reference detection for Strings with same reference"
For issue #101 it looks like boxed primitives were handled separately due to the caching of certain values (e.g. small integers). I believe this issue also applies to Strings (due to String interning).

The fix may be as simple as adding String to the map(s) in this static block:
https://github.com/jhalterman/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/util/Primitives.java#

[2016-04-19 10:06] kivan-mih opened #175 "Chaining converters"
It could be a good idea to add a possibility for converter chaining.
For example I have some converter which converts T1 to T2. But for some object I have an Optional<T2> field and I have a converter which converts anything to Optional. What I want is to get a converter chain T1->T2->Optional<T2> using two separate converters.

[2016-04-19 13:16] lldata opened #176 "Converters are not cached correctly in mappers"
I use some value objects, with private data, where you need to call the constructor to instantiate the object. So I use a converter.

However I have found out that during the mapping ModelMapper insists on calling the empty constructor of my Wrapper object - even though it has no use for the result, since a converter should be used.

To make matters worse the result of the empty constructor call i

[2016-04-20 02:39] jhalterman commented on #176
Fixed via #176.

[2016-04-20 02:39] #176 closed

[2016-04-21 08:48] dorzey opened #178 "Typo on http://modelmapper.org/user-manual/generics/"
[code]

integers should be numbers

[2016-04-22 02:18] marklester commented on #12
I  just tried this and it does not populate the map. I think based on the ticket the idea is to have the key be the field and value the value of the field.  Currently this does not work.
Regards,

[2016-04-27 03:52] #178 closed

[2016-04-27 03:52] jhalterman commented on #178
Thanks for pointing this out!

[2016-04-27 14:51] ratshidaho opened #179 "Error when using java 8 streams on PropertyMap"
The following test fails with the following messages/errors:

[code]

Code:

[code]

When I remove streams it worked fine.

[2016-04-29 07:49] dorzey commented on #178
No problem. I couldn't find a repo for the website; is there one?

[2016-04-29 14:47] jhalterman commented on #178
Yes.. It's just the gh-pages branch of the modelmapper repo on github.
On Apr 29, 2016 12:49 AM, "Paul Doran" <notifications@github.com> wrote:

[2016-05-04 14:09] sunke opened #180 "Got an error when I try to map Enum to int"
Hi,
I got a ModelMapper configuration error When I try to map an enum to int using the following code:
[code]

[code]

[2016-05-13 09:47] sattlert commented on #94
Just found this ticket. I have the same Problem. An source object containing properties that are all null is mapped to a null destination object. I find no way to change this behaviour. Is there any solution to fix this?

[2016-05-13 16:01] michary commented on #94
We switched to Orika (https://github.com/orika-mapper/orika)
Works very well.

[2016-05-13 16:04] jhalterman commented on #94
@michary Glad you found a good solution.

[2016-05-20 09:33] corzar71 opened #181 "Problems with enum in PropertyMap"
Hello, I'm having issues by using enum methods in **PropertyMap** _configure_.
This is my situation:

As you can see I need to do some checks depending on Enum values. But using such switch, it raises an error when _modelMapper.addMappings(new TreeNodeMap())_ is invoked.

The error is:

If I comment the switch it works well. It seems that I can't use any Enum method (as _ordinal()_ but _name()_ as

[2016-05-20 09:36] corzar71 commented on #180
I have the same issue, the problem is caused by the usage of _ordinal()_ method in **configure()**.
You can try to use a [converter](http://modelmapper.org/user-manual/converters/) as workaround.

[2016-05-28 01:28] ulisesbocchio opened #182 "How do I map Inheritance?"
I have this classes:

[code]

And then I have the same structure for `BaseDTO`, `ADTO`, `BDTO`,and `CDTO`. When I convert from `C` to `CDTO` I want the `A` and `B` instances in `bases` to be converted to `ADTO` and `BDTO` respectively. Is there a way to do that through configuration??
Thanks for your time.

[2016-06-04 17:30] slothink opened #183 "can not mapping a method 'parent' named"
I'm tested on ModelMapper 0.7.5.

If a model have below conditions ModelMapper can’t not mapping them.
- a method name is ‘parent’ and return self class
- a method name is ‘parentPath’ and return string

The test code is

[code]

error message is

[code]

Why I can not use the "parent" of method name?

I did quested on stackoverflow : http://stackoverflow.com/questions/37633028/modelmapper-can-not

[2016-06-08 08:13] shark404 opened #184 "Deproxy Dynamic Proxies"
I ran into some issues trying to map some proxies created by Spring. After investigating found that they are dynamic proxies and we just need to handle these types of proxies in the deproxy call.

I'll create a pull request with the changes required.

[2016-06-20 06:17] aderoks commented on #103
Hi,

I am facing this same problem. Did anyone find a solution or fix this? I am not finding any solution for this on the net.

[2016-07-11 10:26] dai0304 commented on #153
I have this issue also on `Converter`s.

[2016-07-11 16:18] jhalterman commented on #153
I'd welcome a pull request for this if anyone is up to it.

[2016-07-21 13:14] dr3s commented on #59
+1 it would nice if it was configurable to always create new objects when mapping properties such that it is easy to do a deep clone.  Currently, mapping from:

[code]

to:

[code]

results in a.b == c.b

[2016-07-25 05:45] meetyg commented on #162
Hi,
Was version 3.2 of cglib ever added to modelmapper?
I have similar problems, with the same exception happening.

[2016-07-25 15:28] jhalterman commented on #162
Just pushed 5933cf1215d5ac35cdce6ec83edf3787140ebde7 which should fix this. @meetyg are you able to try out the latest in master?

[2016-07-26 09:29] shark404 commented on #184
This is fixed with #185

[2016-07-26 09:29] #184 closed

[2016-07-27 13:54] meetyg commented on #162
Hi,
Thanks for the quick response.
Using the update didn't help.
We have some classes with private constructors (which we don't want to change).
I thought that using a provider/converter will help model mapper to create the class, but it doen't seem to work.
I wrote a little test to demonstrate my problem:
[code]
When I run this, we get an exception similar to what @knes1 got, about having a non-p

[2016-07-27 14:03] raphw commented on #162
@meetyg Are you getting the same exception? This should be impossible if you properly updated your dependency. cglib now allows the parameters option which were not available for old API versions, the same error cannot happen if you updated correctly.

[2016-07-31 21:04] pachoyan commented on #183
As far as I know this kind of mapping seems not be supported  because seems It is generating a infinite loop.

I've answered you on stackoverflow: [http://stackoverflow.com/questions/37633028/modelmapper-can-not-mapping-a-method-parent-named/38688350#38688350](url)

[2016-08-03 09:14] RomanMinenok commented on #137
Wow, guys, this bug is epic. I confirm it exists too. So it's gonna be fixed soon, right?

[2016-08-03 16:24] jhalterman commented on #137
@RomanMinenok I'm happy to review any pull requests on this or other issues, but I currently don't have bandwidth to dive into this myself.

[2016-08-03 17:41] RomanMinenok commented on #137
@jhalterman Alright, thanks for the feedback!

[2016-08-16 00:55] kevindaub commented on #182
No, there currently is not a way to do hierarchies.  It's a one to one mapping.

[2016-08-18 11:47] sunnyone opened #186 "A null value in Maps causes incorrect mapping results"
Once calling map() with a Map that has a null value, map() never maps values for corresponding keys.

See the code to reproduce.

[code]

[2016-08-19 11:43] mariuserik commented on #147
+1

[2016-08-23 08:52] JensRantil opened #187 "Reusable generic converter doesn't work"
This might be related to #153.

I have written a somewhat generic `Converter<F,T>` that can be used to convert between different very similar `enum`s. However, the following test fails

[code]

The reason it fails is that reflection can't properly extract the real `F` and `T` from the `converter` instance. It works if one would do `modelMapper.addConverter(new Convert<FromType, ToType) { ... })`.

[2016-08-23 08:53] JensRantil commented on #153
@dai0304 #187 might be of interest.

[2016-08-23 09:16] JensRantil commented on #175
I just dug into the code a bit and `ConditionalConverter` _might_ actually support this. Not tested this, though, and someone else probably should chime in if it's possible or not.

[2016-09-14 20:02] saden1 opened #188 "ValueReader Handling is Broken"
There seems to be a bug in how custom value readers are being handled. Here is a test case that demonstrates the issue.

[code]

[2016-09-29 13:46] Kiranteja85 opened #189 "Mapping Exception : Though Arguments are as expected"
Hi Team,

Please Help. When i tired to get a SortedSet Object to be converted i am getting the below error.

Error mapping com.dnb.gd.dao.entity.Subj to com.dnb.gd.common.vo.editprofile.SubjVO
Caused by: org.modelmapper.MappingException: ModelMapper mapping errors:

1) Failed to set value '	com.dnb.gd.common.vo.editprofile.TlcmAdrVO@b88f937
	com.dnb.gd.common.vo.editprofile.TlcmAdrVO@6ff31e4b
	com

[2016-10-08 16:57] #153 closed

[2016-10-18 11:08] XabierGoros opened #191 "Compile warnings: Ignoring InnerClasses attribute for an anonymous inner class"
I'm getting the following warnings on a gradle build which includes modelmapper v0.7.6:

[code]

Any idea to avoid this? I'm not using ProGuard on my debug development builds.

[2016-10-18 17:52] jhalterman commented on #191
It might not like that modelmapper is/was compiled with 1.5 target. We can upgrade to 1.6...

[2016-10-22 15:37] tuonglx opened #192 "Not work for self reference"
It works well for
[code]

but does not work for
[code]

[2016-11-20 09:15] evser opened #193 "Lamdas are not supported"
I must to use anonymous class here:
mapper.addConverter(new org.modelmapper.Converter<Dto, Entity>() { } );

When I use lambda here it simply falls with NPE. It's easy to fix acutally, just use another resolver on your code (in ModelMapper class).

[2016-11-25 06:23] sergemat commented on #168
I ran into the same issue few days ago. The PropertyInfoSetResolver.resolveAccessors() method skips creation of an accessor if some ValueReader is used and returned value is null. I guess that for simple value readers such as MapValueReader this could be the only option, but for more sophisticated readers that could provide information about the value type this approach is very limiting.

I sugges

[2016-12-08 19:19] mrkeuz opened #194 "IllegalArgumentException with java.util.Map after subsequent call of 'map' method"
IllegalArgumentException throws after subsequent call of 'map' method with different subsets in java.util.Map

Conditions for reproduce:
1. Singleton ModelMapper
1. Mapping java.util.Map to JavaBean class
1. JavaBean with Getters and Setting
1. Subsequent call of 'map' method
1. First subset entries in Map greater than second (i.e two fields then one)

But Exception does not throws on bean without

[2016-12-09 13:45] mrkeuz commented on #194
@jhalterman I have a little question. Is there some simple way to avoid "caching" of mappings rules for ModelMapper instance?
I.e. for avoid "cache" of mapping rules for mapping from java.util.Map to any class and reuse singleton  instance of modelMapper for map from java.util.Map.

[2016-12-19 11:48] RajuGR commented on #59
I'm also facing the same issue. Is there any alternative solution for this?

[2017-01-11 22:42] carofe82 commented on #188
Same problem here

[2017-01-11 23:23] carofe82 commented on #168
@sergemat It would be great if you share the pull request :). Thank you.

[2017-01-12 16:14] carofe82 commented on #168
Test Case:
[code]

[2017-01-12 16:40] carofe82 commented on #168
@jhalterman This is an approach for the fix following @sergemat idea.

* Should `getMemberType` be called `getMemberInitialType`?
* The naming doesn't make it clear that `getMemberType` will be invoked if the type can't be inferred from the actual value. Javadoc can help but it will still be confusing. Should that method become the source of truth regarding type? then you would ask, why not from t

[2017-01-12 18:04] jhalterman commented on #168
@carofe82 Could you give a quick description of this change/diff as you understand it? Then I can better weigh in on your questions.

As I recall, the general problem with mapping values is that ModelMapper builds a TypeMap based on the first record it sees, which may or may not look like subsequent records.

[2017-01-12 19:49] carofe82 commented on #168
The problems I see:
The `PropertyInfoSetResolver.resolveAccessors` was not setting an accessor for the property if the value is null:
[code]
And since this map of accessors is cached, it was being set once when you do the `map` for the first time. So the missing accessor seems to be the cause of the problem.
The solution in the diff is basically to provide the `ValueReader` with a method the code

[2017-01-12 21:17] sergemat commented on #168
I created pull request #195 with my changes. I was able to use these in my business app that uses DropWizard 0.9.2 and JDBI.  Please review much changes as much as possible because Java is not my primary language.

[2017-01-13 07:50] lssilva commented on #193
+1

[2017-01-19 09:01] fedotxxl opened #196 "Jooq record <-> domain object mapping"
Hi. You've got an example of mapping `ResultSet` to domain object. Can you provide an example of mapping JOOQ record <-> domain object mapping?

[2017-01-20 16:45] AUsachov opened #197 "Bug with conditional skip"
Let's say we want to skip mapping of some fields by condition.

Here is a piece of code, which reproduce a bug:

[code]

**Expected result:** result has a name != null in case when condition  returns false.
**Actual result:** result has a name == null always. Doesn't matter condition return false or true.

[2017-01-22 18:00] xuyang2 commented on #196
@fedotxxl see http://stackoverflow.com/questions/25998180/jooq-convert-result-into-pojo

[2017-01-26 06:27] wrssmi opened #198 "Modelmapper throws java.lang.IllegalArgumentException: object is not an instance of declaring class"
Following Testcode:
[code]
with following Objects:

[code]
throws following Exception:
Exception in thread "main" org.modelmapper.MappingException: ModelMapper mapping errors:

1) Error mapping A to B

1 error
	at org.modelmapper.internal.Errors.throwMappingExceptionIfErrorsExist(Errors.java:374)
	at org.modelmapper.internal.MappingEngineImpl.map(MappingEngineImpl.java:69)
	at org.modelmapper.Mode

[2017-01-26 06:30] wrssmi commented on #198
Following Testcode:
public class MapTest {

    public static void main(String[] args) {
        ModelMapper modelMapper = new ModelMapper();
        modelMapper.addMappings(new PropertyMap<A, B>() {
            @Override
            protected void configure() {
                map().setDiff(ServiceUtil.getDaysBetween(source.getFrom(), source.getTo()));
            }
        });
        A a = new

[2017-01-26 06:46] chhsiao90 commented on #198
@wrssmi - It seems that PropertyMap only support simple getter/setter method.
The implementation about how a PropertyMap work is based on java reflection and it cannot handle for calculation or converting.

The name ```PropertyMap``` implied that it was only used for mapping,
So I think you should use [converters](http://modelmapper.org/user-manual/converters/) for converting!

[2017-01-26 07:00] wrssmi commented on #198
Thank you for that hint. following is working.
[code]

[2017-01-26 07:04] chhsiao90 commented on #198
Wow, the code that used PropertyMap with converter looks great!
Hadn't used that before.

[2017-01-26 18:15] leo-def opened #199 "Can I merge a DTO object and an Entity ?"
If I have a recovered entity from database and a dto filled by user, can I merge these objects changing in my entity only fields presents in DTO. For exemple if I have a User entity containing name, lastName, age and privilege, and a dto ShortUserDTO containing just name, and age, then I merge them changing only name and age of my persisted user.

[2017-01-27 13:59] ekajani commented on #193
+1

[2017-01-30 04:29] nl101531 commented on #197
I found examples of the official website also has this bug, and the version may be related to it

[2017-01-30 04:30] jhalterman commented on #197
Would be happy to review a pull request to fix this :)

[2017-02-02 11:13] mresetar opened #200 "Conversion from OffsetDateTime to Timestamp"
So have following scenario:
 sourceType is OffsetDateTime and target is field named productVersion which is of java.sql.Timestamp type. When debugging I can see that destinationPath is set to "productVersion.date." and **destionationType** to **int**. Because of this NumberConverter is used to convert those fields NumberFormatException is thrown:

[code]
In mapper I have following line:
map(source

[2017-02-02 17:14] Maze-fr commented on #161
I have the same problem with Tomcat 8.5. My use case :
I use Spring Boot for dev, but I deploy on Tomcat.
When I try to undeploy my app from Tomcat, it is messy (I have to stop the app, and to try twice to unload it) but it finally works : there is a known bug on Tomcat about not unloading libraries properly.
Then, when I deploy my app's WAR again, I have the error message, probably because Tomcat

[2017-02-13 16:31] d0x opened #201 "Support mapAsList, mapAsSet, mapAsXXX"
The guys of [orika](https://github.com/orika-mapper/orika) support a convinient way to model List, Sets, ...
It would be handy if modelmapper supports this as well (instead of creating type tokens).

I'm talking about [this api](https://github.com/orika-mapper/orika/blob/master/core/src/main/java/ma/glasnost/orika/MapperFacade.java#L220).

So instead of:

[code]

You would use:

[code]

which is m

[2017-02-14 14:15] DouglasBrunner commented on #144
I believe I'm facing a similar issue to the original poster.

When I pass an interface to the PropertyMap ModelMapper throws a null pointer exception, however, when I pass in the class which implements the interface I get the expected result.

Maybe I'm misunderstanding the intended usage of the PropertyMap, but it seems like we should be able to program to interfaces so raised the issue here.

He

[2017-02-15 09:42] chhsiao90 commented on #144
@DouglasBrunner -

I think your issue is similar but different to this issue.
The original issue seems had been fixed by #145 .
I'm not sure why this issue keep open!

So I think it would be better to create a new issue and reference to this issue.
To prevent some kind of misleading...

BTW, after investigation, I can point out that this issue related to [MappingEngineImpl#L89](https://github.com/

[2017-02-15 12:13] chhsiao90 opened #202 "Mapping failed when PropertyMap source type is an interface of source"
Original issue is at #144 comment : [144#issuecomment-279717769](https://github.com/jhalterman/modelmapper/issues/144#issuecomment-279717769)
And problem I had addressed at [144#issuecomment-279963373](https://github.com/jhalterman/modelmapper/issues/144#issuecomment-279963373)

Minimum reproducer as following code snippet
the testMapping2 will failed

[code]

[2017-02-16 01:56] chhsiao90 commented on #202
@DouglasBrunner - I think mapping depends on the interface of source is dangerous.
Because source can implement multiple interfaces, and ModelMapper may found multiple PropertyMaps that match the source's interface.

For example,
we had source with type
[code]
And defined PropertyMap for ModelMapper as following
[code]

What should ModelMapper do when it tried map SourceType to DestType?
Use Prope

[2017-02-17 16:15] d0x commented on #201
Another argument is that the `TypeToken` does not give compiler errors, but `.mapAsList` does.

This example shows that we get a ClassCastException on runtime (which is bad).

[code]

[2017-02-22 13:24] PalHebokEPAM opened #203 "Support for destination string mapping"
Our use case demands that our POJOs only have getters as normally they are deserialized from JSON objects and the properties are set via reflection. Currently I would need to define some explicit mappings for these objects. Do you have any plans to support string mapping on the destination side, so something like this could work?
[code]

[2017-02-22 16:02] DouglasBrunner commented on #202
I see what you're saying, but isn't it the case that Java won't allow any ambiguous method signatures when implementing multiple interfaces?

I'll try to create an example this weekend when I have time to better explain what I mean.

[2017-03-14 16:05] awalland opened #204 "Mapping fails with 2 Types with fluent, chained accessors"
hi!

we are using lombok for everything and i discovered a problem when mapping back and forth between two types that use fluent and chained accessors.

the code example below adds 2 `PropertyMap`s, one for Dto -> Entity and one for the other way. there is just 1 mapped property which is mapped explicitly. adding either one of the `PropertyMap`s works while adding both results in the exception bel

[2017-03-17 12:51] hajdukd opened #205 "Invalid assertion inside of model mapper (types for lambda converters not picked up)"
ModelMapper.java

I think there is an error in assertion line 73 (addConverter)
`Assert.notNull("Must declare source type argument <S> and destination type argument <D> for converter");`

Most likely should be:

`Assert.notNull(typeArguments, "Must declare source type argument <S> and destination type argument <D> for converter");`

Currently it also fails to add converters written as lambdas.
typ

[2017-03-17 20:11] rhuankarlus commented on #99
I have the same problem described here.
Why is this issue closed?

MM version: 0.7.5

[2017-03-18 11:48] zifnab87 commented on #182
oh no! all my hopes for using DTO without manual work are gone :(

[2017-03-20 00:16] jhalterman opened #206 "ModelMapper needs a maintainer"
ModelMapper needs a maintainer. If you or someone you know may be interested, please reach out to me: jhalterman at gmail. Thanks!

[2017-03-20 06:49] chhsiao90 commented on #167
@splanard - I think you can try something like this one
[code]

For more detail, please reference the [example](https://gist.github.com/chhsiao90/0d8a2c16188aa1f8d7de16fbe643c4df)
And the document about [Conditional Mapping](http://modelmapper.org/user-manual/property-mapping/#conditional-mapping) and [Converters](http://modelmapper.org/user-manual/property-mapping/#converters)

[2017-03-20 07:06] chhsiao90 commented on #166
Related to #147 too.

[2017-03-20 09:56] chhsiao90 commented on #202
Just found it related to #13 and had a PR #160 for it

[2017-03-21 06:02] chhsiao90 commented on #166
Hi @jdieckmannelm -

The case you provide is common and make sense.
But currently ModelMapper doesn't support this kind of matching strategy.
Please reference [modelmapper#matching-strategies](http://modelmapper.org/user-manual/configuration/#matching-strategies)

The ModelMapper used Standard as the default matching strategy.
It will only compare the destination field token(not including the pare

[2017-03-21 06:03] chhsiao90 commented on #166
Hi @mbm56767 -

For your case, I suggest you used MatchingStrategies.STRICT as the matching strategy.
And see that will fix for your case. Thanks!

[code]

[2017-03-21 06:08] chhsiao90 commented on #147
It's some limit of current implementation of [Matching Strategy](http://modelmapper.org/user-manual/configuration/#matching-strategies) and [Matching Process](http://modelmapper.org/user-manual/how-it-works/#matching-process)

Currently, the only way to solve this kind of problem is to use [PropertyMap](http://modelmapper.org/user-manual/property-mapping/) to define explicit mapping.

[2017-03-21 07:02] chhsiao90 commented on #139
@ruslan-simonenko -
Yeah, make Types.isInstantiable return false if is an interface make sense.
But it may introduce regression for [Providers](http://modelmapper.org/user-manual/property-mapping/#providers)

And for your case, maybe you can try [Providers](http://modelmapper.org/user-manual/property-mapping/#providers) ?

[code]

[2017-03-22 00:05] jhalterman commented on #118
Related to #168.

[2017-03-22 02:48] #198 closed

[2017-03-22 12:57] chhsiao90 commented on #144
I think this might be fixed by #145 so I closed it.
If still have problem, feel free to reopen!

[2017-03-22 12:57] #144 closed

[2017-03-23 02:23] chhsiao90 commented on #197
Resolved by #207

[2017-03-23 02:23] #197 closed

[2017-03-23 02:47] #205 closed

[2017-03-23 02:48] chhsiao90 commented on #205
Good catch, thanks!

[2017-03-23 05:01] chhsiao90 commented on #173
```assert b == b2``` means that ModelMapper must return same reference.

I think [Providers](http://modelmapper.org/user-manual/providers/) might solve your problem.
Something like this.
[code]

[2017-03-23 05:43] chhsiao90 commented on #174
Cannot reproduce it with master branch ModelMapper.
I think it might be fixed by #177 .

Feel free to reopened if still have problem, thank you!

[2017-03-23 05:43] #174 closed

[2017-03-23 06:34] chhsiao90 commented on #134
I think it's fine to use mapper1 to map the ParentSource(null) to ParentTarget that had null child.

[2017-03-24 13:41] chhsiao90 commented on #59
Yeah..
The problem might be caused by [AssignableConverter](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/AssignableConverter.java) in [ConverterStore](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/ConverterStore.java)

Currently, it seems to be hard to disable the converte

[2017-03-26 04:10] chhsiao90 commented on #151
Sorry for the lately reply, I think the behavior is what we expect.

I think convert always happen after construct (via [Provider](http://modelmapper.org/user-manual/providers/) or zero-arg constructor).
Because we are not sure is that converter will construct a object or not.
So it will be safe we construct a destination object before we convert.

Maybe you can try [Provider](http://modelmapper.o

[2017-03-26 05:03] chhsiao90 commented on #187
Sorry for the lately reply, after my investigation, that I found it really related to that ModelMapper needs to know what actually the converter generic type is that you had point out.

My simplest way to solve this problem, is to extends EnumConverter like
[code]

[2017-03-26 06:12] chhsiao90 commented on #201
Hi,
Thanks for the suggestion! I think the API looks really good,
but currently, I'm not planning to introduce these kind of API.

With JAVA 8 lambda is more and more common,
I think we can solve these kind of mapping by
[code]

[2017-03-27 05:42] chhsiao90 commented on #204
@awalland -
Thanks for the reporting!
The problem is about PropertyInfoRegistry caching, that it will try getting a Mutator from cache but getting an Accessor with same hash code.
And I think it's a bug.

When we config lombok Accessor with enabled fluent,
lombok will help us creating two method:
```public String someValue()``` and ```public SomeDto someValue(String someValue)``` that it will had

[2017-03-27 06:24] #204 closed

[2017-03-27 09:59] awalland commented on #204
thank you very much for addressing this so quickly :)

cheers!

[2017-03-27 12:28] chhsiao90 commented on #200
Thanks for the reporting.
Yeah, I think there are some issues over here
- Better NumberConverter handling
- Consider java8 time support (it might be in an extension module outside modelmapper-core because currently we are in java 1.5)
- Consider configurable [ConverterStore](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/ConverterStore.

[2017-03-27 15:28] jhalterman commented on #200
The result of `ConverterStore.getConverters()` can be safely modified to add/remove/replace any of the internal converters, FWIW...

[2017-03-28 03:04] chhsiao90 commented on #200
Yeah, that's what I concerned 😢
Still need think a better way that user can configure converters by without touching any of our internal API.

So currently, the actions I can take safely and quickly might be
- ConverterStore select FULL match ConditionalConverter first => So that user can register their ConditionalConverter and can be select by ModelMapper.
- Improved NumberConverter

[2017-03-28 03:31] chhsiao90 commented on #200
@mresetar -
I had improved how ConverterStore select a ConditionConverter.
After this modification, you can do something like this to convert JSR310 time to number

It's a very roughly example
[code]

[2017-03-28 06:24] chhsiao90 commented on #194
Thanks for the reporting!

I had a PR for this that I proposed ModelMapper should not cache TypeMap unless the destination is full mapped.
I think it might resolve your problem.

I think you cannot avoid caching.

Different destination type would use different TypeMap, I think that's not a big problem.

If there is still some situation not covered, please kindly let me know, thank you 😄

[2017-03-28 06:49] chhsiao90 commented on #181
Thanks for the report.
The only thing you can do in a ```PropertyMap.configure()``` is map(), skip(), using(), when().
You can't do anything else here, ex: if, switch, for, ...

I don't know about what's your use case, but you might try [Converters](http://modelmapper.org/user-manual/property-mapping/#converters) in PropertyMap.

[2017-03-28 06:53] chhsiao90 commented on #179
Yeah, the thing accept in PropertyMap.configure are map with getter/setter or fields, plus some converter, provider, condition.
It's not allowed to use anything other than these.

[2017-03-29 17:57] carofe82 commented on #200
@chhsiao90 @jhalterman
I'm subscribed to the activity of the project and I'm really glad to see the increase of activity. Thanks @chhsiao90 for helping out so much.

Just a quick question. Have you guys considered moving this project to an earlier version of Java? I would think that most of the developers using this library they use it for a web application.
According to this survey from zeroturna

[2017-03-29 18:05] jhalterman commented on #200
@carofe82 I think it would make sense to move to Java 6 or 7. Issue #44 from a while back would be able to benefit from this move. It would also allow us to put proper @Override annotations back into the classes. These are small things, but still nice.

[2017-03-29 23:49] chhsiao90 commented on #200
@carofe82 - It's my pleasure to contribute ModelMapper and help people here 😄

+1 for upgrade to Java 6 or Java 7 (There is no big difference for me between the two version)
And I like Override annotations to prevent us doing wrong thing.

I will plan for that, please stay tuned!

[2017-03-29 23:52] jhalterman commented on #200
FWIW, ModelMapper was originally written for Java 6 but there were numerous people still using Java 5 so I downgraded it (so to speak). The only concern with upgrading is it means people who are stuck on older versions can not use the library which is why I wasn't in a hurry to upgrade. An upgrade to 7 might be safe at this point though.

[2017-03-30 11:44] ervinfetic opened #212 "ModelMapper: Does not map nested collections of List"
I have similar example like below:
[code]

The main issue are setter methods for the lists. If you try with PropertyMap or even with Providers you have to use setter methods and I cannot make them manually because all objects will be regenerated from wsdl each time when I run mvn eclipse:eclipse command.

In case that we have setter methods everything will work properly.

Is there any solution how

[2017-03-30 12:03] chhsiao90 commented on #212
Can you provide more detail about the destination type ```FirstObjectDTO```?
AFAIK, it doesn't matter for source type without setters.

[2017-03-30 12:19] ervinfetic commented on #212
@chhsiao90 FirstObjectDTO is totally the same like FirstObject but they are in different packages, something like below:

package: info.myapp.something_v1_1:
- FirstObject.class
- SecondObject.class
- ThirdObject.class

package: info.myapp.something_v1_2:
- FirstObjectDTO.class
- SecondObjectDTO.class
- ThirdObjectDTO.class

Of course both of them have no setters method for the lists.
Only one thi

[2017-03-30 12:30] chhsiao90 commented on #212
@ervinfetic - Thanks for the information.
I had tried reproduce the problem you mention according to your information, but still cannot reproduce.
I think different package doesn't matter, so my test won't have different package for different class.
And I had all field protected, all getter public, and no setter.
Please see following code snippet. Is that something I misunderstand about your use c

[2017-03-30 12:31] chhsiao90 commented on #212
Or maybe a minimal reproducer for me that would be better 😄

[2017-03-30 15:19] ervinfetic commented on #212
@chhsiao90 You had right my object have a bit different structure. I was wrong in the first example. The new structure is shown below but the other things that I mentions are the same as I described above.

[code]

[code]
At first I had problem with the "newObject" in parent class. It did not work because class NewObject contains also list without setter method. I found following solution for that

[2017-03-30 18:39] xiongtec commented on #87
any update on this issue?

[2017-03-30 18:43] jhalterman commented on #87
No work done in this area, but a path forward would possibly involve swapping out Cglib for Bytebuddy, which supports Android/Dex. Cglib is currently used to produce source and destination proxies that help record property mappings inside a `PropertyMap`. We'd also need to add an optional ASM-dex dependency to parse Dex encoded `PropertyMap` impls. ASM is also used to intepret and record property

[2017-03-31 02:02] chhsiao90 commented on #212
I think the example you provide still incomplete or wrong.
Can you have a simple demo project or minimal runnable reproducer?
That will help us to figure out what the problem is 😄

[2017-03-31 02:33] chhsiao90 opened #213 "ModelMapper Roadmap and looking forward to any advise"
Hi,

I'm new maintainer of ModelMapper and thanks @jhalterman for giving me the chance.
I'm still junior as an OSS project maintainer and still had a lot of things to learn.
So any advise for me or the project is welcome, I will appreciate it 😄

Here is the roadmap that I plan to do recently.

#### Short-term
- To have a minor release to address some bugfix #197 #200 #204 #205

#### Mid-term
- To

[2017-03-31 06:14] chhsiao90 commented on #193
@evser - May I ask you which resolver you had used?
I had tried [typetools](https://github.com/jhalterman/typetools) and [SerializedLambda](https://docs.oracle.com/javase/8/docs/api/java/lang/invoke/SerializedLambda.html).
But all failed to resolve the source type of Converter<S, D>.
It can only resolve destination type, but get unknown type for source.
Thanks!

[2017-04-02 13:46] evser commented on #193
Unforunately I've resolved only returned type of this lambda (second class in Converter generic expression) using TypeTools.
[code]

Result:
**[class net.jodah.typetools.TypeResolver$Unknown, class com.Entity]**

Maybe, it's better to add one more argument for this method?

[code]

[2017-04-02 14:00] chhsiao90 commented on #193
Yeah, that seems to be some limitation of resolving raw types of lambda.
I'm working on some lambda friendly api and I will also look into this issue too.
If there is no solution for resolving raw type of lambda, then I think we the only thing we can do is to introduce these kind of methods.

[2017-04-03 01:06] krisdx commented on #103
Here is a work around - http://stackoverflow.com/a/38986521/4672458

[2017-04-04 00:49] chhsiao90 commented on #197
This had been released in 0.7.8

[2017-04-04 00:51] chhsiao90 commented on #204
This had been released in 0.7.8

[2017-04-04 08:55] evser commented on #193
@chhsiao90

Maybe the following option is also available:
mapper.<DTO, Entity>addConverter(context -> SOMETHING, DTO.class)

What do you think?

[2017-04-04 18:58] jhalterman commented on #193
`ModelMapper.addConverter` is basically an alias for:

[code]

You should be able to use a lambda expression for that second bit, since we already know that we're converting `Source` type to `Dest` type and don't need to extract this info from the lambda:

[code]

[2017-04-04 19:04] jhalterman opened #214 "Consider adding public ModelMapper getOrCreate TypeMap capability"
I've thought about this numerous times, but one of the drawbacks of the current API is it forces you to think about whether you're getting or creating a TypeMap:

[code]

Internally though, we safely do a getOrCreate to lookup a TypeMap if it exists, else create it. It would be convenient, and might make sense, to allow users to do the same thing:

[code]

or

[code]

This might relieve the need f

[2017-04-05 07:30] chhsiao90 commented on #214
I'm not sure which is your intension about the method
- replacement of ```createTypeMap``` and ```getTypeMap```
- additional methods other than ```createTypeMap``` and ```getTypeMap```

I think you might mean the first one as you had point out

I think it will be good api and really convenient that we only need to call ```typeMap``` or ```typeMapFor``` to create or get TypeMap.
But as a replacemen

[2017-04-05 12:23] chhsiao90 commented on #193
@jhalterman - Thanks for the answer and the workaround.
@evser - Sorry for the lately reply 😢 .

Here is my thought, I think ```mapper.<DTO, Entity>addConverter(context -> SOMETHING, DTO.class)``` might solve the problem. Because with ```modelMapper.<DTO, Entity>addConverter(context -> SOMETHING)```, ModelMapper will only miss the source generic type. So the only thing we need to do is to let comp

[2017-04-05 12:46] chhsiao90 commented on #199
Is following code snippet solve your problem?
[code]

[2017-04-05 14:28] jhalterman commented on #214
I would think of `typeMap(Class, Class)` as an additional method for `createTypeMap(Class, Class)` and `getTypeMap(Class, Class)`. We can probably also add `typeMap(Class, Class, String)`.

[2017-04-10 14:49] ervinfetic commented on #212
@chhsiao90  Sorry I was busy last few days. Here you can find just simple example that does not work. In my case example is much more complicated than this one but even this simple for me does not work. Maybe I am doing something in a wrong way. Please take a look.

Here is link of my repo:
https://github.com/ervinfetic/modelmapper-issue-one

I solved this issue with converters like I mentioned ab

[2017-04-10 23:14] chhsiao90 commented on #212
No problem, I will take a look. Thanks for giving the reproducible sample code.

[2017-04-11 16:03] ckkn opened #216 "map(source).setProp(null) issue"
Hi guys I realized there is probably a bug which I would like to discuss with you.
I have at least 10 objects of 10 different classes and they all contain the same class type inside.
Now I thought I would write one mapping for that one class and it shall apply to those 10 other classes.

using(new Converter<SourceBigThing, TargetColorThing>(){
  public TargetColorThing convert(MappingContext<Sourc

[2017-04-11 23:31] chhsiao90 commented on #216
Thanks for opening this report.

I'm not sure I understand your case, I will try describe your case as my understanding.

You had many source class that all contains one same field ```SourceBigThing```
[code]

And you want to define one converter for all of these source class?
Is that my understanding true?

[2017-04-12 04:50] ckkn commented on #216
Hi, you are quite there. I wanted to define same propertymapping sourcebigthing. It included a converter accepting whole sourcebigthing instance. The instance is never of type sourcebigthing.

[2017-04-12 05:07] chhsiao90 commented on #212
@ervinfetic - I think I got the point of the issue.
You had mix style of getter and getter/setter of source type and destination type.
So you will fail to map source to destination no matter what if you enable/disable field access.
I will have a minimum demo code for this and think about that if there is any good approach to for this.

[2017-04-12 05:13] chhsiao90 commented on #216
Got it, I still don't have time to dig into this issue.

I think maybe you can try config [ConverterStore](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/ConverterStore.java) with [ConditionalConverter<SourceBigThing, TargetColorThing>](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/spi/Conditi

[2017-04-12 05:41] ckkn commented on #216
Then I wouldnt be able to use using(..)? The issue is with map(source) it passes the owners class instead of defined type in propertymapping. How is that possibile

[2017-04-12 07:13] pachoyan commented on #212
This configuration should work:
[code]

It enables field mathcing, set the access level as private, and the source naming convention as Mutator to avoid multiple matches with getters.

[2017-04-12 08:27] ervinfetic commented on #212
@chhsiao90 I tried that configuration and it works. My issue is solved. Thanks for the help!

Cheers!

[2017-04-12 08:29] #212 closed

[2017-04-12 08:31] chhsiao90 commented on #212
Nice!
@pachoyan - thanks for your kindly answer, that was really helpful!

[2017-04-12 10:01] chhsiao90 commented on #216
I think you might mean this?
[code]

[2017-04-12 10:50] tavolate opened #217 "Properties are not skipped"
In the last release 0.7.8 the same code working on v0.7.7 doesn't work.

If I try to map a source object into a destination object with some not existing properties in source object, in the destination object the value is set to null even if I configurated to skip these properties

[2017-04-12 11:34] chhsiao90 commented on #217
Thanks for opening the report.
I think it related to b17492f6ee7e1bf61e5b4b1a48a89b84a61ac67f and #197
Can you provide your use case?

[2017-04-12 11:48] chhsiao90 commented on #216
One thing I want to confirm with you,
is that source type
- contains SourceBigThing as field
- extends SourceBigThing

And is that you had only one destination type, or different destination type for different source type?

[2017-04-12 13:16] tavolate commented on #217
private void init() {
       ModelMapper mModelMapper = new ModelMapper();

        Condition<Object, Object> lNotNull = new Condition<Object, Object>() {
            public boolean applies(MappingContext<Object, Object> pContext) {
                return pContext.getSource() != null;
            }
        };
       mModelMapper.getConfiguration().setPropertyCondition(lNotNull);
       mModelMappe

[2017-04-12 17:13] ckkn commented on #216
contains SourceBigThing as a field like here:

class SrcA {
SourceBigThing thing;
...
}
class SrcB {
SourceBigThing thing;
...
}
class SrcC, class SrcD, ....

when I define propertymap and pass the source in map(source).setProp(null) the source is never of type SourceBigThing its SrcA or SrcB or SrcC...

[2017-04-12 23:47] chhsiao90 commented on #217
Thanks for the sample code.
You said destination's id and uuid is not skipped, which source properties is mapped to destination?
I had tried following sample code, but still cannot reproduce your issue.
Please correct me if I'm doing wrong.
[code]

[2017-04-13 08:39] tavolate commented on #217
This test fail with the 0.7.8

    public class ModelMapperTest {
     static class Source {
        private String id;

        public String getId() {
            return id;
        }

        public void setId(String pId) {
            id = pId;
        }
    }

    static class Destination {
        private String id;
        private String uuid;

        public String getId() {
            re

[2017-04-13 11:25] chhsiao90 commented on #217
OK, I had misunderstand by this..

I will take a look!

[2017-04-15 10:05] chhsiao90 commented on #217
@tavolate -
Thanks for your reproducible code and I had figured out the reason.
I would like to know is there any reason that you need to defined a global property condition?
[code]

It will turn the PropertyMap map/skip into this kind of logic
when(condition).skip(...)
-> if condition true skip the property mapping
-> if condition false, it won't skip the destination mapping, so it will invoke th

[2017-04-15 10:17] chhsiao90 commented on #216
Thanks for your clarify. I think this might related to type map inheritance problem.
Can you provide your PropertyMap code snippet?
What's your generic type of PropertyMap for source and destination?
Thanks!

[2017-04-15 10:56] tavolate commented on #217
I use the property condition globally just for simplicity. I don't' want to repeat the condition for every mapping

[2017-04-17 10:30] tavolate commented on #217
The only problem with your solution is I have to know before if a property is null. My common logic is "if some property from the source object is null, these properties must be skipped"

[2017-04-17 23:43] chhsiao90 commented on #217
I think it's not true.
You only need this when you want skip something.
For above example, if you want to map id when it is not null, you can do like this.
[code]

[2017-04-18 08:09] tavolate commented on #217
with your solution, I have to write

`when(alwaysTrue).skip(null, destination.getUuid());`

for every property in the destination object if I want to skip the property when the source property is null

[2017-04-18 08:21] chhsiao90 commented on #217
Yeah...
from ```skip(destination.getUuid())``` to ```when(alwaysTrue).skip(null, destination.getUuid())``` or ```when(alwaysTrue).skip().setUuid(null)```

Or you should prevent from using skip if you config ```nonNull``` property condition into your modelMapper.
Following code I think it works too.
[code]

[2017-04-18 08:39] tavolate commented on #217
Excuse me If I am pedantic but with the old solution, with a global definition,

      Condition<Object, Object> lNotNull = new Condition<Object, Object>() {
          public boolean applies(MappingContext<Object, Object> pContext) {
              return pContext.getSource() != null;
          }
       };

I could manage every mapping even if it isn't explicitly defined. I have about 20 objects wi

[2017-04-18 08:50] chhsiao90 commented on #217
Or maybe you should use Strict [Matching Strategy](http://modelmapper.org/user-manual/configuration/#matching-strategies) and just ignore the properties not exists in source?

[2017-04-18 09:14] tavolate commented on #217
So, Do we have any chance to use a global definition like we were used to using with v0.7.7?

[2017-04-18 09:51] chhsiao90 commented on #217
The logic of #197 is what we expect and the detail had described at [comment](https://github.com/modelmapper/modelmapper/issues/217#issuecomment-294284006).
I don't plan to revert the change because I think it is right.

Did you already have ```skip(destination.getXxx())``` **200** times in your current code base?
So you need to change all these code if you want to upgrade to v0.7.8?

I think the

[2017-04-18 10:05] tavolate commented on #217
We have an open API and our customers are able to valorize or not some properties of the DTO. Whenever the customer does not valorize a property, its value is null. When the property is null I want to modelmapper skips the mapping into the destination property (same name)

A something like this `modelMapper.getConfiguration().setSkipIfNull(true);` will be appreciated.

I don't have 200 times `skip

[2017-04-19 01:56] chhsiao90 commented on #217
OK, thanks!
I'm glad that the skipIfNull might solve your issue and I will had that in next release.

But I'm still a little confused about you use case.

You had said

and said

The issue is about you had doing following actions in the same time
- When you configured a  global property condition
- You had used skip in some of your PropertyMap

And you need modify all the usage of skip to when(alw

[2017-04-19 09:51] tavolate commented on #217
Sorry, you are right. I thought to upgrade to v0.7.8 I had to add 200 times skip.

Thank you!

[2017-04-19 12:16] chhsiao90 commented on #217
I'm not challenge your use case, just still feel a little confused.
I will still apply ```setSkipNull``` feature.
So I will re-open this and close until we apply the feature!

[2017-04-21 14:55] robertfmurdock opened #218 "Problems when deployed as war in an ear file in Websphere"
This seems very similar to the Osgi issues I've read about on here, but I'm having trouble finding a resolution to this myself.

I'm getting a "java.lang.NoClassDefFoundError: org.modelmapper.internal.cglib.proxy.Factory" error when trying to use a model mapper as part of an old struts application deployed into Websphere.

I've attempted to fix this by:
 - adding "import-package" entries to the ma

[2017-04-22 22:35] jedionmelbin commented on #64
I have the same problem but with properties of type date

1) The destination property com.infiniteskills.domain.DTO.DocumentoIdentidadDTO.setDocumentoIdentidadId() matches multiple source property hierarchies:

	com.infiniteskills.domain.model.DocumentoIdentidad.getUsuarioCreacionId()
	com.infiniteskills.domain.model.DocumentoIdentidad.getUsuarioModificaId()

[2017-04-24 01:21] chhsiao90 commented on #64
Thanks for the report.
Could you provide what it look like  of the source class and the destination class?
Or maybe you can provide a minimum reproducer if you cannot provide the source class and destination class.
That will help us to solve your issue, thanks!

[2017-04-24 07:47] user140547 opened #219 "Size of model mapper JAR in 0.7.8 vs 0.7.5"
When downloading the ModelMapper JAR from http://modelmapper.org/downloads/ I get a JAR which is about 500 KB. (0.7.5)

However, 0.7.8,  has almost 2,5 MB. See https://mvnrepository.com/artifact/org.modelmapper/modelmapper/0.7.8
It seems that in latter version (0.7.8), there are some org.apache.tools packages which are not included in the "regular" download. Are those packages really needed?

[2017-04-24 09:05] chhsiao90 commented on #219
Thanks for the report, good catch!
I didn't notice that the jar size had changed.
And it seems start from v0.7.7, I will take a look!

[2017-04-24 09:38] chhsiao90 commented on #219
It's https://github.com/modelmapper/modelmapper/commit/5933cf1215d5ac35cdce6ec83edf3787140ebde7 to introduce the dependency and might related to [cglib/cglib/pull/87](https://github.com/cglib/cglib/pull/87) .
I think we can exclude the ant dependency in our pom.xml.
Will fix in next release.

And thanks for your report!

[2017-04-24 09:48] chhsiao90 commented on #218
Thanks for the report.
Currently, I don't have WebSphere to have a test on it.
Can you provide a complete stack trace and maybe I can figure what's the problem with that? Thanks!

[2017-04-24 13:13] robertfmurdock commented on #218
`Caused by: java.lang.reflect.InvocationTargetException
                at sun.reflect.GeneratedMethodAccessor664.invoke(Unknown Source)
                at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:55)
                at java.lang.reflect.Method.invoke(Method.java:613)
                at org.modelmapper.internal.cglib.core.ReflectUtils.defineClass(ReflectUti

[2017-04-24 15:44] chhsiao90 commented on #218
Thanks for the stacktrace!
I guess that the problem might relate to class loader and class loading.
When cglib want to load a class with reflection, it used an unexpected class loader so it cannot find the class.

Is that ModelMapper and the source type/destination type of the PropertyMap defined in different class loader?

[2017-04-24 15:49] robertfmurdock commented on #218
It looks to me like the org.modelmapper.internal.cglib.proxy.Factory class can't be loaded for some reason, and therefore all sorts of downstream problems occur. AFAIK the model mapper and source/destination types are all defined in the same class loader for the same EAR file.

[2017-04-24 16:10] chhsiao90 commented on #218
OK.
Maybe you can try
[code]
To see that WebSphere loading the classes correctly or not.
I expect all of these three lines code will be fine to load the class.
If not, what's the result for each line of code? And I think... yeah,  you are right about that WebSphere cannot load the class org.modelmapper.internal.cglib.proxy.Factory or package org.modelmapper.internal.cglib.proxy for some reason.
Le

[2017-04-26 02:31] #219 closed

[2017-04-26 14:03] robertfmurdock commented on #218
Sorry I haven't gotten back to this - the current setup we have means actually testing this means going through a third party to do the build and that machine has been low availability the last few days. Legacy code... sigh. I'll let you know when I get more information.

[2017-04-27 02:17] #13 closed

[2017-04-27 07:22] chhsiao90 commented on #218
Sure! Please take your time.
I will also try by myself when I have time.

[2017-04-27 19:56] johnluetke opened #220 "Mapping to an array of Object throws a NullPointerException"
Proof of Concept code at the bottom of the post.

When a custom PropertyMap has been defined for a given Source and Destination, and that Destination has a setter that accepts an array of Objects (`Object[]`), a NullPointerException is thrown.

The NPE is thrown in `org.modelmapper.internal.util.Primitive` when processing the map. `Primitives.primitiveFor` is called once, to process the array, and

[2017-04-28 02:10] chhsiao90 commented on #220
Nice catch! Thanks for the report.
Currently, The PropertyMap seems not support non-primitive array type mapping.
I will have a fix for that.

[2017-04-28 02:20] #220 closed

[2017-04-28 15:01] johnluetke commented on #220
Thanks, I was actually in the middle of developing a fix for it myself, but I prefer your approach

[2017-05-02 11:28] deep121 opened #223 "Fields Mapping dependency on getter and setter name"
i am mapping fields between two different objects . Fields name is same in both classes  . But getter and setter method name is different . So , In this case mapping is not working for these fields.
Example
Class A
{
private String identifier;
 public String getId()
    {
        return identifier;
    }
public void setId(String aInIdentifier)
    {
        identifier = aInIdentifier;
    }
}

Cla

[2017-05-03 04:34] chhsiao90 commented on #223
It's desired behavior. The default ModelMapper mapping operation is by
getter/setter.

deep121 <notifications@github.com> 於 2017年5月2日週二 下午8:33 寫道：

[2017-05-03 06:05] deep121 commented on #223
Hi,
I understand that default operation is on basis of getter and setter .In
below example , getter and setter are present for field (identifier) in
both classes .As per your reply , Mapping should work.Please correct me if
i am wrong.
.
Example
 Class A

 Class B

But , In my case it is not working.
But ,it looks like there is particular format for defining getter/setter
name .Please Comment on s

[2017-05-03 10:40] jerdehaas opened #224 "Explicit mappings defined in a PropertyMap will NOT override any implicit mappings for the same destination properties."
I think there is a bug.
I have a deep object mapping via a property mapper.

public class EmployerMap extends PropertyMap<benelux.santander.mysantander.myaccount.adapter.model.Employer, Employer> {

	protected void configure() {
		map().setName(this.source.getProperties().getEmployerName().getParts().getEmployerName());

Unfortunallay on the source there is also a name attribute

benelux.santander

[2017-05-04 18:05] birdfriend opened #225 "support annotations"
Hi,

Any plans to support annotations to define mapping? thanks.

[2017-05-04 18:10] jhalterman commented on #225
@birdfriend The drawback of annotations is that they require string references, which aren't typesafe or refactoring safe:

[code]

The above hypothetical annotation-based mapping is problematic due to a type mismatch, but you wouldn't know that until runtime. That's part of the premise of ModelMapper, that unlike other libraries, you map real getters and setters and fields to each other. So probl

[2017-05-04 18:14] deep121 commented on #225
@Jonanthan Is there any constraint on name of setter and getter for mapping
field

On 04-May-2017 11:40 PM, "Jonathan Halterman" <notifications@github.com>
wrote:

[2017-05-04 18:50] jhalterman commented on #225
@deep121 There's no limitation per se, but by default ModelMapper is only configured to recognize JavaBeans named properties, ex: getFoo, setFoo, isFoo, etc. This is via the JavaBeans NamingConvention and NameTokenizer which are [configured](http://modelmapper.org/user-manual/configuration/) by default. These are used in the [matching process](http://modelmapper.org/user-manual/how-it-works/#match

[2017-05-07 23:38] chhsiao90 commented on #224
Sorry for the lately reply, I had been busy last week.
First, I think the implicit mapping is before explicit mapping, so the explicit mapping will override the implicit mapping.
Second, I think disable the implicit mapping should work.

I will take a look for your case and thanks for the report.

[2017-05-07 23:40] chhsiao90 commented on #223
Sorry for the lately reply, I had been busy last week.
I will get you an example code that will work for reference.

[2017-05-08 02:29] chhsiao90 commented on #224
@jerdehaas - I had a test according to your description about your use case.
And it seems that it didn't have the issue you had described.
Is that I'm doing something wrong about use case?
It will be great If you can attach the code that had the issue or a minimum reproducer.
I will appreciate it.
Thanks!

[code]

[2017-05-08 02:48] chhsiao90 commented on #223
@deep121 - Here is my code, please take a look!

[code]

[2017-05-08 08:46] jerdehaas commented on #224
I have a hierarchy in my mapping.
Here is my adjusted test it fails:

import static org.assertj.core.api.Assertions.assertThat;

import org.junit.Before;
import org.junit.Test;
import org.modelmapper.ModelMapper;
import org.modelmapper.PropertyMap;

public class GH224 {
	static class Source {
		private String name;
		private Properties properties;

		public String getName() {
			return name;
		}

[2017-05-08 11:01] jerdehaas commented on #224
I manage to reproduce the problem only when there is a src and dst class called Employer.

I made this unit test, but is needs an external Employer.class i added those below.

import static org.assertj.core.api.Assertions.assertThat;

import org.junit.Before;
import org.junit.Test;
import org.modelmapper.ModelMapper;
import org.modelmapper.PropertyMap;

import benelux.santander.mysantander.myaccou

[2017-05-08 11:02] chhsiao90 commented on #224
Thanks for the reproducer! I will take a look later.

jerdehaas <notifications@github.com> 於 2017年5月8日週一 下午7:01 寫道：

[2017-05-09 03:21] chhsiao90 commented on #224
@jerdehaas

I can reproduce your issue with your code.
At first, I thought it might be a bug. But after some deeply survey, I think it's an expected behavior for ModelMapper.
I will explain what's going on with your use case, why I think it's not a bug, and what you can do with this use case.

#### What's going on with your use case
After you add a custom PropertyMap for Source and Destination tha

[2017-05-09 05:46] chhsiao90 commented on #225
I agreed with @jhalterman and we don't have a plan to support annotation based mapping.
My thought is that the annotations will introduce unneeded dependency between source class and destination class.

But if you had any idea that annotations can bring us some benefits, please kindly let us know, thanks.

[2017-05-09 06:09] chhsiao90 commented on #130
Closed by #209

[2017-05-09 06:09] #130 closed

[2017-05-09 06:09] chhsiao90 commented on #132
Closed by #209

[2017-05-09 06:09] #132 closed

[2017-05-09 06:09] chhsiao90 commented on #170
Closed by #209

[2017-05-09 06:09] #170 closed

[2017-05-09 06:09] chhsiao90 commented on #202
Closed by #209

[2017-05-09 06:09] #202 closed

[2017-05-09 06:20] chhsiao90 commented on #182
Hi, I think this issue is a little different to the problem that #209 want to solve.
But I'm not sure I'm fully understand about the scenario.
If somebody can provide a more completed code for me, I think I can help with this, thanks!

[2017-05-09 07:02] #168 closed

[2017-05-09 07:45] chhsiao90 commented on #118
Fixed by #210

[2017-05-09 07:45] #118 closed

[2017-05-09 07:45] chhsiao90 commented on #133
Fixed by #210

[2017-05-09 07:45] #133 closed

[2017-05-09 07:46] chhsiao90 commented on #137
Fixed by #210

[2017-05-09 07:46] #137 closed

[2017-05-09 07:46] chhsiao90 commented on #186
Fixed by #210

[2017-05-09 07:46] #186 closed

[2017-05-09 07:46] chhsiao90 commented on #188
Fixed by #210

[2017-05-09 07:46] #188 closed

[2017-05-09 08:13] chhsiao90 opened #228 "Lambda expression mapping didn't support source-directly-mapping"
PropertyMap supports mapping source directly to a destination property.
But ExpressionMap or expression mapping didn't support that.
I think it would be better to support this feature!

[2017-05-09 08:46] chhsiao90 commented on #171
This is similar to #224 and please reference my [comment](https://github.com/modelmapper/modelmapper/issues/224#issuecomment-300050678).

I will close this issue for now (As there is a similar issue and this issue had been pending for a long time). But please feel free to reopen it 😄

[2017-05-09 09:15] chhsiao90 commented on #171
Sorry, it seems different to #217 or #224 after investigation...

[2017-05-09 11:08] jerdehaas commented on #224
Are you sure about that, as from a functional point of view, I would expect the following behaviour:

- When a type mapping is registered with a custom converter (it should only convert properties within that class that are not registered to convert, source or destination based.

modelMapper.createTypeMap(benelux.santander.mysantander.myaccount.adapter.model.Employer.class, GH224.Employer.class).a

[2017-05-09 12:44] kevindaub commented on #182
I believe that's exactly what I want. We want to be able to reuse other
property maps whether that's via inheritance or via this include method.

Basically, so I don't have to enter the same properties again.

On Tue, May 9, 2017 at 2:20 AM Chun-Han, Hsiao <notifications@github.com>
wrote:

--
Sincerely,
Kevin Daub

Email: daub815@gmail.com
Mobile: 717.572.4880

[2017-05-09 13:26] chhsiao90 commented on #224
This might make sense too. I will take a look is it possible to change current codebase to fit this requirement.

I was wrong with my previous [comment](https://github.com/modelmapper/modelmapper/issues/224#issuecomment-299743959)
It depends, when you call createTypeMap before addMappings, the implicit mappings will happen before explicit mappings.
Otherwise, when you call addMappings directly wit

[2017-05-09 15:48] jerdehaas commented on #224
Thanks i look at it tomorrow

[2017-05-12 16:08] GiritharanR opened #230 "Map the source attributes only when the destination attributes are null"
Model mapper to map the non null values of a destination. Is it possible?

It will help us to combine the Destination from two differnt sources.

[code]

[2017-05-13 12:30] corzar71 commented on #181
Hi, thanks. It's what I did at the end.

[2017-05-13 12:30] #181 closed

[2017-05-13 12:55] corzar71 opened #231 "Use converter to map the main object"
Hello, I've an issue mapping a particular structure.
Basically my goal is to obtain a flat object from a hierarchical one. The problem is that I can't use a direct mapping because there are some condition to be evaluated and then I'm forced to use a Converter. Unfortunately Converters can be used only to map properties and not to map the whole object. How can I obtain the whole object?
Example:

[

[2017-05-13 13:16] corzar71 commented on #231
Further info. If I map in this way

[code]
I have the following errors:

if I map in this way:
`			using(myConverter).map(source.getTBBs(), destination);
`
I have the following error

[2017-05-13 13:24] corzar71 commented on #230
You can use a custom PropertyMap to skip fields for every map you don't want by using the skip() method.

[2017-05-14 10:59] corzar71 commented on #231
I solved by using a workaround but it's really ugly.
I created a circular reference in the TbA class
[code]
and I used the converter in this way:

It works but as I said it's very ugly. I hope you can give me the right tip to solve it by using the initial structure of TbA.

[2017-05-14 12:21] chhsiao90 commented on #231
@corzar71 - Thanks for the report. I think the problem you want to ask is that you want to define a PropertyMap to mapping a field of destination directly, but ModelMapper was not allowed you to do this. Am I correct? I will take a look that if we can support for this.

[2017-05-14 12:43] chhsiao90 commented on #230
@GiritharanR - Yeah, we had considered to introduce a configurable flag ```skipNull``` to skip the mapping action if the value is null. I had implement that at one of my [branch](https://github.com/chhsiao90/modelmapper/tree/skip-null) with [commit](https://github.com/chhsiao90/modelmapper/commit/756bfd7c0400235c8d14b0d242beaaf2b58cd0ff).

I think this might solve your problem, but I need more uni

[2017-05-14 15:11] krasnopogonnik commented on #179
new ModelMapper().createTypeMap(TestClass.class, TestClass.class).setPostConverter(new Converter<TestClass, TestClass>() {
		      public TestClass convert(MappingContext<TestClass, TestClass> context) {
		    	  context.getDestination().getStrings().addAll(context.getSource().getStrings());
		          return context.getDestination();
		        }
		      });

[2017-05-15 03:28] #214 closed

[2017-05-15 03:34] chhsiao90 commented on #179
@krasnopogonnik - Sorry, can you describe the problem more? Thanks!

[2017-05-15 07:12] krasnopogonnik commented on #179
I have 2 classes generated by wsdl.
`public class ClassA {
	private TypeA propertyA;

	public void setPropertyA(TypeA value) {
        this.propertyA = value;
    }

	...

	private List<TypeB> propertyB;

	public List<TypeB> getPropertyB {
		if (propertyB == null) {
            propertyB = new ArrayList<TypeB>();
        }
        return this.propertyB;
	}
}

public class ClassB {
	private TypeA p

[2017-05-15 08:40] chhsiao90 commented on #179
It seems that there is not setter for ClassB.propertyB. So you need enable field matching.
Please try
[code]

[2017-05-15 09:20] chhsiao90 commented on #231
I'm not fully know about your use case,
I will give you my suggestion base on what I know about your case.

I suggest that you should forget about mapping, just use converter.
[code]

Or maybe you can try using converter for each property of TbADTO
[code]

[2017-05-15 10:36] krasnopogonnik commented on #179
In fact, I'm using the Modelmapper with all mappings globally as
Spring Bean. And I can not allow to map all private fields. But I do not doubt that your option is working.
And I apologize for my English.

[2017-05-15 11:39] corzar71 commented on #231
Hi @chhsiao90 I answer you below:

yes. Actually to map the destination directly, not really its field.

I thought to that solution as well but, first of all I should create many similar converters, and it's not really the best, and anyway, if I use many converters, I'm not able to distinguish which collection object I have to assign to each property. Instead If I do everything in the same context

[2017-05-16 05:06] jungrammer opened #234 "Field Conversion Error"
So have following scenario:

Below are two classes to convert.

1.
`
        @Data
        class A {
                private String testGooGo;
        }
`

2.
`
        @Data
        class B {
                private String testGooGo;
        }
`

If you run the following code in both classes,
Conversion does not work normally.

`
        ModelMapper modelMapper = new ModelMapper();

        A a =

[2017-05-16 07:18] chhsiao90 commented on #234
Thanks for the report.
I think this was really a bug that ModelMapper didn't think the source's testGooGo and the destination's testGooGo match.

The workaround before I fixed this please use PropertyMap if you are urgent with this case.
[code]

[2017-05-16 08:11] chhsiao90 commented on #231
After some investigation, I think it's dangerous to support mapping to destination directly and it violates the design of ModelMapper, because ModelMapper always mappings based on destination's property.

So I think the ways you can fix it are addressed at my previous [comment](https://github.com/modelmapper/modelmapper/issues/231#issuecomment-301421745) by just using ```modelMapper,addConverter``

[2017-05-16 08:18] chhsiao90 commented on #179
OK, maybe you can try this so that the typeMap could have itself customize config.
[code]

[2017-05-16 12:38] krasnopogonnik commented on #179
Thank you. You help me save dozens of lines of code.

[2017-05-16 20:23] corzar71 commented on #231
Ok, I'll try to implement the first suggestion because the second cannot fit my needs.
Thanks for support
KR

[2017-05-16 20:23] #231 closed

[2017-05-17 03:48] chhsiao90 commented on #231
@corzar71 - Thanks for your understanding :-)

[2017-05-17 09:00] #171 closed

[2017-05-17 09:20] #234 closed

[2017-05-17 19:19] corzar71 commented on #231
Hi @chhsiao90 I used your suggestion
[code]
and it worked like a charme! Actually it was just what I needed but I didn't know I could use a converter directly in the model mapper by  the`addConverter` method. Maybe it would be better to add it in the documentation.
Many thanks again for your support!

[2017-05-19 09:25] zyong2004 opened #236 "java.lang.ClassCastException@2b158f20"
public class DTOUtils {

	public static final Logger log = LoggerFactory.getLogger(DTOUtils.class);

	public static final ModelMapper INSTANCE = new ModelMapper();

	static {
		INSTANCE.addConverter(new DateTimeToDateConverter());
		INSTANCE.getConfiguration().setMatchingStrategy(MatchingStrategies.STRICT);
	}

	public static <S, T> T map(S source, Class<T> targetClass) {

		return INSTANCE.map(so

[2017-05-19 09:56] zyong2004 commented on #236
1) Error mapping xxx.DetailDTO to com.xianglin.xlnodecore.common.dal.model.V2BankimportRawDetail

1 error
        at org.modelmapper.internal.Errors.throwMappingExceptionIfErrorsExist(Errors.java:374) ~[modelmapper-0.7.4.jar:na]
        at org.modelmapper.internal.MappingEngineImpl.map(MappingEngineImpl.java:69) ~[modelmapper-0.7.4.jar:na]
        at org.modelmapper.ModelMapper.mapInternal(ModelMa

[2017-05-19 11:45] chhsiao90 commented on #236
Thanks for the report.
I guess it had been fixed by #211 and release to v0.7.8.
I think you can try our latest release and see that it would happen again!

[2017-05-22 06:19] zyong2004 commented on #236
hello chhsiao90   ,swtich to 0.7.8 ,happened same problem。

[2017-05-22 06:21] chhsiao90 commented on #236
Could you provide the stacktrace on running ModelMapper v0.7.8? Thanks!

[2017-05-22 06:48] zyong2004 commented on #236
are you need this?

1) Failed to get value from com.xxx.CustomerVo.getComments()

1 error
	at org.modelmapper.internal.Errors.toMappingException(Errors.java:258)
	at org.modelmapper.internal.PropertyInfoImpl$MethodAccessor.getValue(PropertyInfoImpl.java:100)
	at org.modelmapper.internal.MappingEngineImpl.resolveSourceValue(MappingEngineImpl.java:192)
	at org.modelmapper.internal.MappingEngineImpl.

[2017-05-22 06:49] chhsiao90 commented on #236
Thanks! I will take a look!

[2017-05-22 07:31] zyong2004 commented on #236
I guess the cause of the error is the problem of this class   TypeMapStore
 public <S, D> TypeMap<S, D> getOrCreate(S source, Class<S> sourceType, Class<D> destinationType,
      String typeMapName, PropertyMap<S, D> propertyMap, Converter<S, D> converter,
      MappingEngineImpl engine) {
    synchronized (lock) {
      TypePair<S, D> typePair = TypePair.of(sourceType, destinationType, typeMapNam

[2017-05-22 10:13] JensRantil commented on #228
Is this part of #193?

[2017-05-22 10:46] JensRantil commented on #193
Here are two tests. The first one passes, the second one fails:
[code]

[2017-05-22 11:29] chhsiao90 commented on #228
No, it's a follow up issue for lambda friendly api (#215) for next release.

[2017-05-22 11:37] chhsiao90 commented on #193
Yeah, we still had problem on resolving argument type of lambda expression.
I think it's a restriction from java. Please reference https://github.com/jhalterman/typetools/issues/40 and https://github.com/jhalterman/typetools/issues/14.
So I don't think there is any solution at this moment...

[2017-05-22 12:39] chhsiao90 commented on #236
Can you provide the source code of BaseVo, CustomVo, BankCityVo and Customer or maybe a minimum reproducer?

It sounds reasonable, but I still can't find that there is any race condition at MappingEngineImpl, TypeMapStore, TypeMapImpl, or ModelMapper.

[2017-05-23 01:24] zyong2004 commented on #236
These are simple classes that contain several properties   ex.  String  comments,Date updateDate,String creator   and so on . .           and BaseVo is their parent class

[2017-05-24 02:21] zyong2004 commented on #236
Perhaps  the typePair hashcode is same  ,i don't know why happen this problem..
pool-1-thread-230 11typepair =com.xxx.BankCityVo to com.xxx.Customer hashcode===-411800310

pool-1-thread-230 11typepair =com.xxx.CustomerVo to com.xxx.Customer hashcode===-411800310

[2017-05-24 03:35] chhsiao90 commented on #236
Same hash code is weird, but I don't think that would be a problem.
Because when we try to get a value from a map, it will always check the ```equality``` of the key, not only the ```hash code```.

[2017-05-24 03:39] chhsiao90 commented on #236
BTW, I think I really need your source code or a minimum reproducer to find this bug. If you can provide one of this, I will appreciate it!

[2017-05-24 20:01] johnluetke opened #237 "Types.isInstantiable returns true for java.util.List"
When a mapping destination is a list of objects, the check in MappingEngine.typeMap to whether or not the destination can be created returns true. Obviously, this is due to `java.util.List` being an interface.

a) Should an additional check be performed in `Types.isInstantiable` to ensure the class is, in fact instantiable?

b) In the specific use case of `java.util.List` (and maybe the Collection

[2017-05-25 01:37] zyong2004 commented on #236
``public class ThreadDTO {
	static final ModelMapper INSTANCE = new ModelMapper();
	static {
		INSTANCE.getConfiguration().setMatchingStrategy(MatchingStrategies.STRICT);
	}

	public static void main(String[] args) throws InterruptedException {
		ExecutorService service = Executors.newFixedThreadPool(10);

		for (int i = 0; i < 10000; i++) {
			if (i % 2 == 0) {
				service.execute(new ThreadRun(S

[2017-05-25 01:45] chhsiao90 commented on #236
@zyong2004 - Thanks! I will try it.

[2017-05-25 03:14] chhsiao90 commented on #237
Thanks for the report.
There are two types about Collection mapping.

##### One is Source[Collection] -> Destination[Collection]
And we already had a predefined [CollectionConverter](https://github.com/modelmapper/modelmapper/blob/master/core/src/main/java/org/modelmapper/internal/converter/CollectionConverter.java) for that, so you don't need to care about the initiating of a Collection.

##### A

[2017-05-25 03:16] chhsiao90 commented on #237
I think maybe my previous comment misunderstand about your issue.
Is that your use case had an exception occur that ModelMapper try initiate a List?

[2017-05-25 20:15] johnluetke commented on #237
Yes, I had an exception with ModelMapper trying to instantiate a list.

I'm working on getting a reproduceable code sample

[2017-05-27 02:49] wyzssw opened #238 "modelmapper does not support nested mapping"
[code]

Why dose modelmapper not support nested mapping,
and btw,I don't like programmably mapping ,I perfer to annotation mapping just like jackson annotation @JsonProperty.

 Programmably mapping is low efficiency,if mapping depend on configuration but not  name-mapping
  automatic， what‘s differency between modelmapper and manual set/get

[2017-05-27 03:10] chhsiao90 commented on #236
@zyong2004 - I had tried many times with following code, but I still cannot reproduce the problem.
Can you reproduce this problem with following code? Which java version had you used? Thanks!

[code]

[2017-05-27 03:39] chhsiao90 commented on #238
@wyzssw - Please reference the following code, the problem is not ModelMapper cannot map nested property. The problem is that the ```pojo.s``` is null, so ModelMapper will keep ```destination.pojo``` to be null.

[code]

[2017-05-27 06:07] wyzssw commented on #238
I see, it works for me，thank you 😊

[2017-05-30 05:30] #238 closed

[2017-05-31 02:30] zyong2004 commented on #236
@chhsiao90 JDK  java version "1.7.0_79"

[2017-05-31 15:33] chhsiao90 commented on #236
@zyong2004 - OK, BTW, can you reproduce the issue with my unit test at [comment](https://github.com/modelmapper/modelmapper/issues/236#issuecomment-304423150)?

[2017-06-01 02:28] jdhenckel opened #239 "destination property setId() matches multiple source property hierarchies"
I don't know how to fix this.  I am using ModelMapper with all default settings. I tried STRICT and the problem goes away, but that causes other problems, so I cannot use STRICT.  Any advice?

The failure is on

    PostFocusAreaApproverDto dto = ....
    Test entity = modelMapper.map(dto, Test.class);

in which

    public class Test {

        private int id;
        private String createdByLanI

[2017-06-01 02:42] jdhenckel commented on #239
actual error is

org.modelmapper.ConfigurationException: ModelMapper configuration errors:

The destination property spacetool.dto.Test.setId() matches multiple source property hierarchies:

	spacetool.dto.PostFocusAreaApproverDto.getFocusAreaId()
	spacetool.dto.PostFocusAreaApproverDto.getContactLanId()

[2017-06-01 04:13] jdhenckel commented on #239
I found a workaround.  If I add a dummy method

    public int getId() { return 0; }

to the PostFocusAreaApproverDto then the error goes away.

[2017-06-02 16:52] chhsiao90 commented on #239
@jdhenckel - Thanks for the report and sorry for the lately reply, I had been busy recently...

Maybe you can try PropertyMap to skip the id field mapping, and please let me know that it works or not, thanks!
[code]

[2017-06-03 01:01] chhsiao90 commented on #234
@jungrammer - This had been release at modelmapper v1.0.0!

[2017-06-03 01:02] chhsiao90 commented on #171
This had been release at modelmapper v1.0.0!

[2017-06-03 01:04] chhsiao90 commented on #182
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 01:04] chhsiao90 commented on #13
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 01:05] chhsiao90 commented on #130
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 01:05] chhsiao90 commented on #132
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 01:05] chhsiao90 commented on #170
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 01:05] chhsiao90 commented on #202
The TypeMap inheritance had been release on ModelMapper v1.0.0, please give it a try!

[2017-06-03 16:11] chhsiao90 commented on #220
This had been released by v1.0.0!

[2017-06-03 16:12] chhsiao90 commented on #219
This had been release by v1.0.0!

[2017-06-05 07:59] zyong2004 commented on #236
it's strange problem,recently did not encounter this problem,i will continue to pay attention on this.  thank you

[2017-06-06 16:26] lsantos opened #240 "java.util.Map properties not listed in the propertyMapping array"
I am using the modelmapper jooq extension, and I can't get hstore columns to get mapped to a java bean.

By debugging the code, I see the record object returned by my dslContext fetches the hstore column properly, I also have a HstoreBinding class that is responsible to implement the binding to java.util.Map<String, String> field. In the return of the method typeMap.getMappings() I do not see the

[2017-06-07 13:50] maxbax opened #241 "MappingException on CollectionConverter with 1.0.0 version"
Hi, I'm trying to use the last version (1.0.0) and when my app starts I receive this exception:

1) Converter org.modelmapper.internal.converter.CollectionConverter@57872c9 failed to convert java.util.List to io.realm.RealmList.

The previous version doesn't present that error.
Other stacktrace error details:

at android.os.AsyncTask$2.call(AsyncTask.java:304)
at java.util.concurrent.FutureTask.ru

[2017-06-07 15:53] chhsiao90 commented on #240
@lsantos - Thanks for the report. I would like to know which modelmapper version you used! We had a broken change of ValueReader at v1.0.0. And I want to make sure that the problem is related to the broken change or not. Thanks.

[2017-06-07 15:54] chhsiao90 commented on #241
@maxbax - Thanks for the report. Can you provide a minimum reproducer or sample code? I think I need this to figure out what's happen with your case, thanks!

[2017-06-07 16:56] lsantos commented on #240
@chhsiao90 - not a problem. I am using version 0.7.6.

[2017-06-07 20:20] carofe82 opened #242 "`NullPointerException` when using `skip` on setters with long primitive type on 1.0.0"
[code]

Exception:
[code]

It is trying to call the `setLongPrimitive` setter with the value `null`. It is assuming that the default value for that property is `null`.

[2017-06-08 03:38] chhsiao90 commented on #242
@carofe82 - Thanks for the report, I think that's a bug, I will fix it!

[2017-06-08 13:52] lsantos commented on #240
@chhsiao90 I did some more debugging yesterday, in the version that I am using the RecordValueReader is doing its job, the accessors are getting populated.

I am sharing our project model mapper configuration:

 ModelMapper modelMapper = new ModelMapper();
        modelMapper.getConfiguration().addValueReader(new RecordValueReader());
        modelMapper.getConfiguration().setSourceNameTokenizer(U

[2017-06-08 23:30] jdhenckel commented on #239
This is a pretty good solution to my problem

  modelMapper.getConfiguration().setAmbiguityIgnored(true)

and the error goes away

[2017-06-09 06:17] chhsiao90 commented on #240
Can you provide what's the property name of the source and what's the property name of the destination? Thanks

[2017-06-09 09:22] marhaus commented on #151
If there is a `Converter` available, you will _always_ get an instance from it, according to the Javadoc:

So `typeMap()` does not need to create its own object if it has a `Converter`, and since it might not even be able to it's a really bad idea to even try. The object would just get discarded anyway, if indeed successfully created.

[2017-06-09 15:32] lsantos commented on #240
Sure, it is merchant_details for the source, and merchantDetails for the destination.

When debugging yesterday, I noticed that the PropertyNameInfo object that the class StandardMatchingStrategy uses had the value of the java.util.Map key in its source properties field, something like this:

PropertyNameInfoImpl[sourceProperties=[merchant_details, MY_MAP_KEY], destinationProperties=[MerchantProfi

[2017-06-09 16:03] chhsiao90 commented on #240
Where's the MY_MAP_KEY comes from? That's really weird! Could you provide more detail or a minimum reproducer? Thanks!

[2017-06-09 16:11] lsantos commented on #240
It's actually the keys that we have in the postgres hstore db column, e.g:

PropertyNameInfoImpl[sourceProperties=[merchant_details, SERVICE_PROVIDER_MONERIS_STOREID], destinationProperties=[MerchantProfileDTO.merchantDetails]]

Somehow, the db column value gets populated in the sourceProperties class attribute.

I will try to isolate the issue in a small project.

[2017-06-09 16:33] lsantos commented on #240
Another weird thing that I am seeing is that classes that belong to the java sdk are being used to find matches against my java DTOs.

[2017-06-12 10:52] asinghi commented on #239
@jdhenckel This is working, but it's not a genuine solution.
I have an entity which has Id, emailId, subscriptionId. While mapping Dto to domain, this error is occuring.

[2017-06-13 22:54] johnluetke commented on #241
I am also having a smiliar issue with converting Collections after upgrading to 1.0.0.

[code]

To clarify, the conversion fails when trying to map a ```List<?>``` to ```Object[]```. I reported a similar issue in #220

A custom PropertyMap is not producing the error.

```MappingengineImpl:343``` is throwing a *NullPointerException* because the ```intermediateDest``` value is null.

It appears to b

[2017-06-13 22:59] #237 closed

[2017-06-14 10:26] magdenkov opened #243 "Occasionally model mapper, does not map value (Once in few times)"
Please see example
https://github.com/magdenkov/protobuf-modelmapper-problem

Thank a lot!
Or if you can give some idea where can be problem, i will try to create pull request

[2017-06-14 11:47] chhsiao90 commented on #243
Thanks for the report and the reproducible code, I will take a look!

[2017-06-14 14:16] lsantos commented on #240
Hi @chhsiao90,

You can close this issue as issue https://github.com/modelmapper/modelmapper/issues/118 fixed my problem.

[2017-06-15 01:16] chhsiao90 commented on #240
Nice!

[2017-06-15 01:16] #240 closed

[2017-06-18 05:53] chhsiao90 commented on #243
@magdenkov - sorry for the lately reply. I had took a look of your code. Here is my finding.

I failed tests with
- Always failed [TestMappingWithNULLValue#convertProtoBufGeneratedWithNullToDto](https://github.com/magdenkov/protobuf-modelmapper-problem/blob/master/src/test/java/TestMappingWithNULLValue.java#L27)
- Occasionally failed [TestMappingWithTrueValue#convertDtoWithTrueToProtoBufGenerated]

[2017-06-18 05:57] chhsiao90 commented on #242
I think #244 will resolve this bug.

[2017-06-18 06:50] chhsiao90 commented on #241
@johnluetke - Thanks for the comment.
I still cannot figure out what caused the exception to be throw and I think this issue is different to #220.
If you could provide any reproducible code or something about source type and destination type, to let me know what is the case about, I will appreciate it!

And it seems that you had figured out a solution for this bug, it will be great to have a PR wi

[2017-06-18 10:06] magdenkov commented on #243
@chhsiao90  Thank you for investiagtion.
Actually, my results are the same as your , just made a missprint in README.

1) Also we found another mistery case....
Some times does not map values that starts with "w"
[Like in this test that i ve added](https://github.com/magdenkov/protobuf-modelmapper-problem/blob/master/src/test/java/NotMappingValuesStartsWithW.java#L22)

2) regarding null values wor

[2017-06-18 10:39] magdenkov commented on #243
for 3-d case i've found work around)

[2017-06-18 11:03] magdenkov commented on #243
So with third case helped just adding new converter for builder. [Converter](https://github.com/magdenkov/protobuf-modelmapper-problem/blob/master/src/main/java/com/vach/sample/ModelMapperFactory.java#L47)

[2017-06-18 17:13] ehmkah opened #245 "Why are examples not a module of parent?"
I wanted to write a small example for mapping inheritance in the example folder. Why is examples not a module of the parent?

Now examples uses 0.6.5.2 of modelmapper which does not match to 1.0.0 which is the current version.

[2017-06-18 17:17] jhalterman commented on #245
Would be happy to take an inheritance example if you want to contribute.

The reason examples is not a module of the parent is because that would cause the examples to be included as part of the release to maven central (by default). I think there's a way of excluding modules from being part of a release, I just haven't looked into it.

[2017-06-18 17:25] ehmkah commented on #245
Ui, that was a fast answer :-)

Do you really see a problem if the examples are uploaded to maven central? Because than
a) there would always be a working example for a specific version of modelmapper
b) it's easier to understand if the project is checked out

[2017-06-18 17:39] ehmkah commented on #245
Anyway - I prepared a pull-request which you can take if you want. Or decline it.

I am going to write the examples for inheritance anyway.

[2017-06-18 19:21] ehmkah commented on #182
@chhsiao90 - maybe I understood the documentation from http://modelmapper.org/user-manual/type-map-inheritance/ not very well, but for the issue is still not working :-(

I implemented an example in my fork of modelmapper repository. implhttps://github.com/ehmkah/modelmapper/blob/feature/182/examples/src/main/java/org/modelmapper/inheritance/InheritanceExample1.java Can you see what I do wrong the

[2017-06-18 23:37] chhsiao90 commented on #245
I'm both fine to include or not include the example into a submodule of modelmapper. I'm not sure that is there any disadvantage to have it to be release to maven central. I take a look some java popular OSS project, and it seems that they all include the example into maven release, like [netty](http://central.maven.org/maven2/io/netty/netty-example/) and [okhttp3](http://central.maven.org/maven2/

[2017-06-19 04:20] chhsiao90 commented on #182
@ehmkah -
First, you need a setter on your destination object ```CcDTO```.
And second, please try following code
[code]

And I agreed that our docs still need to improve about this and maybe we should have some examples for this as you said.

[2017-06-19 04:23] jhalterman commented on #245
I just remembered where I had done this before:

https://github.com/atomix/atomix/blob/master/examples/pom.xml#L59-L76

That allows the examples to be a module while being skipped for javadocs and the release, so we should be able to include it and do something like that.

[2017-06-19 08:18] ehmkah commented on #182
I made the changes you suggested and now it seams to work. :-) Interested in a pullrequest for the example?

[2017-06-19 08:20] chhsiao90 commented on #182
Do you mean you to have a PR for the example? Sure! PR is welcome~

[2017-06-19 08:47] ehmkah commented on #182
pull request has been opened. Any comments are welcome

[2017-06-19 09:29] sadimusi opened #248 "Assigning converters to collection entries"
I'm trying to find a way to assign a `Converter`, which converts elements of one `Collection` to elements of another, to a specific property.

Given the following minimal data objects:
[code]
And the converter from your documentation:
[code]

How can I get all the items in `A.lowerCaseList` to be converted by `toUppercase`, while the ones in `someOtherList` remain unchanged? Surely there needs to

[2017-06-19 13:25] ehmkah commented on #245
If I added the lines you mentioned to example/pom.xml would he pull-request gets a better chance of beeing accepted?

[2017-06-19 16:01] chhsiao90 commented on #245
I think currently the PR looks great. But we still need discussion to make the decision that should example be deployed to maven central or not. Both options looks good to me, because I don't know the advantage/disadvantage between these two option.

But you can add the lines into your PR and I will have a review and merge it. If we decide to deploy example to maven central, then we can remove it

[2017-06-19 16:07] jhalterman commented on #245
AFAIK, there's no point in deploying examples to maven central since they're only useful as source code, not binaries. We can still switch them to being modules and just exclude from releases though as shown in the link above.

[2017-06-19 16:09] chhsiao90 commented on #245
@ehmkah - Let's do it!

[2017-06-19 17:06] chhsiao90 commented on #248
@sadimusi - Thanks for the report. It looks like ModelMapper is not covered for your case... Unless you used an ugly ```Converter<List<String>, List<String>>```.
Sadly, I have no idea about how to improve it at this moment...
If you had any idea for how we can improve please let me know. And feel free to keep this PR opened, hope that somebody would some idea about solve this issue!

[2017-06-19 17:39] ehmkah commented on #245
updated the pull-request with the provided maven-configuration. Thanks for your support.

Unfortunately the fomatting has been destroyed :-( It has now IntelliJ default

[2017-06-20 05:15] johnluetke commented on #241
I can do that. Thanks for the invitation to do so. I'll open a pull request
once I have it ready.

On Sat, Jun 17, 2017 at 11:50 PM, Chun-Han, Hsiao <notifications@github.com>
wrote:

[2017-06-20 07:54] sadimusi commented on #248
Well, there are a few options:

The first thing I tried, but did not work as expected, looked like this:
[code]
ModelMapper could detect that the provided `Converter` in this case does not map the top-level objects, but the items they contain.

Another approach, which requires more explicit declaration by the application, would be to provide some static function which converts a simple `Converter<

[2017-06-20 08:00] chhsiao90 commented on #248
@sadimusi - The second one approach make sense to me, and the API looks great! So we will have an util class Converters that provide some converter decorators. That is really GOOD idea. Are you interested at having a PR for this?

[2017-06-20 08:13] sadimusi commented on #248
Unfortunately I won't have time to actively work on open-source projects for the rest of the month, but after that I might be able to take this on.

[2017-06-21 11:05] chhsiao90 commented on #245
Had been fixed by #246
@ehmkah - thanks for your contribution!

[2017-06-21 11:05] #245 closed

[2017-06-21 12:49] tomorrow10 opened #249 "NullPointerException when Mapping object with collection to existing object with collection"
I have a problem mapping object with collection to another existing object with collection.

I have a pojo Agent class which has property of type Set<String> that I want to map to domain Agent class with property Set<Role>. I have a converter for String -> Role. When i call `modelMaper.map(pojoAgent, DomainAgent.class)`, everything works fine.

However, when I call `modelMaper.map(pojoAgent, domai

[2017-06-21 20:13] ehmkah opened #250 "Properties are not mapped?"
I do not know why properties of the subclasses are not mapped automatically. I prepared a small example https://github.com/ehmkah/modelmapper/tree/feature/feature/182/2/examples/src/main/java/org/modelmapper/inheritance

Do I have to map every property for each own or is there some kind of automatic matching?

[2017-06-22 11:11] chhsiao90 commented on #250
Yeah, this is an issue, and will be a little complicated...
I will provide more detail later about how ModelMapper determine a TypeMap when doing mapping.
Think that it need some major change to apply this functionality.

[2017-06-22 12:52] ehmkah commented on #250
Bad luck. If you have small tasks to reach your goal just send them. Maybe we can try to fix them in our https://www.meetup.com/Hackergarten-Bern/ we are always happy to fix things.

[2017-06-22 18:22] chhsiao90 commented on #249
@tomorrow10 - Thanks for the report. The exception stacktrace looks really weird, I will take a look!

[2017-06-23 07:53] magdenkov commented on #243
BTW @chhsiao90  What do you think, about making ModelMapper a little bit more smart, so it can choose setter not only by name but also by type? in cases when there are 2 or more setters. This will be kind of feature request?

[2017-06-26 15:18] #249 closed

[2017-06-29 04:05] gbsmit03 commented on #194
I see that this is stated as resolved in #210 but this issue is still opened here. I'm running into this issue in v1.0.0.

[2017-06-30 01:15] chhsiao90 commented on #194
@gbsmit03 - I can run the code successfully. Can you provide your use case and the exception stacktrace? Thanks

[2017-06-30 13:46] gbsmit03 commented on #194
_note. I had to update the pom.xml at https://github.com/gbsmit03/modelmappertester/tree/master . I let the my IDE resolve my dependencies and it pick up one of my internal jars._

@chhsiao90

I have a simple POJO with getters and setters
[code]

The use case, is when I give ModelMapper a source that is a `Map<>` and the map contains all the fields that the destination object has it works fine. Th

[2017-07-01 04:35] #194 closed

[2017-07-01 04:37] chhsiao90 commented on #194
@gbsmit03 - Thanks for the report, that's really a bug! Had been fixed by #253

[2017-07-01 18:45] gbsmit03 commented on #194
thanks for the fix @chhsiao90.

[2017-07-02 20:30] jdhenckel commented on #239
@asinghi I made a[ post to SO]([url](https://stackoverflow.com/questions/44534172/how-to-customize-modelmapper)) about this

[2017-07-05 14:40] johnluetke commented on #239
You should follow @chhsiao90's advice and create a PropertyMap for your source and destination DTOs. Using configuration options like STRICT and setAmbiguityIgnored will introduce other issues, as you have discovered.

[2017-07-06 12:31] jackpf opened #254 "Issues with spring-boot-devtools"
Hi,

There seems to be a problem when adding custom mappers and using spring boot dev tools.

I have added my mapper like so:

[code]

But when devtools restarts the spring context, I get the following:

[code]

I've tried adding this to spring-devtools.properties:

[code]

But that gives me loads of the following errors:

[code]

Is there a correct way to get the two working together?

Cheers

[2017-07-06 15:14] chhsiao90 commented on #254
Can you provide the code of ```SubscriberRqToSubscriberDtoMapper```? Thanks!

[2017-07-06 15:45] jackpf commented on #254
Hi,

Sure:

[code]

Although it does seem to do it with any/all that I add!

[2017-07-07 15:04] chhsiao90 commented on #254
@jackpf - Hi, I can reproduce your issue. But still don't have any idea...
I guessed it's a problem about CGLIB + SpringBoot DevTools Restart, but when I tried a scenario to verify and it works fine. I need to take more time to find out the root cause.

[2017-07-07 15:33] jackpf commented on #254
Yeah, sounds like that's the problem.

Although restart.include.modelmapper=/modelmapper-(.*).jar is supposed to completely restart the library instead of keeping it loaded in the classpath.

Is it worth raising an issue with spring boot devtools?

[2017-07-07 15:35] chhsiao90 commented on #254
@jackpf - Yeah, you are right about adding modelmapper.jar to be included when restart. Are you put it into your ```classpath:META-INF/spring-devtools.properties``` as [Customizing the restart classloader](https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html#using-boot-devtools-customizing-classload) said.
Because I can work after config like this, please checkou

[2017-07-07 18:44] chhsiao90 commented on #201
I will close this issue at this moment... If anybody had some different idea about this issue, please kindly let me know, thanks!

[2017-07-07 18:44] #201 closed

[2017-07-07 18:47] chhsiao90 commented on #196
@fedotxxl  - Yeah, our example code seams to be a little outdated! PR are welcome if you have time :wink:

[2017-07-07 18:49] chhsiao90 commented on #193
Currently, I think for this issue, we only can do with ```modelMapper.typeMap(Src.class, Dest.class).addConverter(ctx -> ...)```. So I will just close this issue, and feel free to leave comment if you have any solution or idea, thanks!

[2017-07-07 18:49] #193 closed

[2017-07-07 19:44] jackpf commented on #254
Hmm, strange!
I have my properties file in the same location.

I'll do some investigation and get back to you - maybe I have some other libraries/config that are causing the problems.

Cheers for looking into this.

[2017-07-08 01:21] chhsiao90 commented on #192
@tuonglx - Sorry for the lately reply...
I think self reference is always complicated and not easy to handle.
Maybe you can try our [explicit mappinp](http://modelmapper.org/user-manual/property-mapping/).

If you are using ModelMapper v1.0.0 with java 8, then you can do this.
[code]

Or for old school style, you can try this
[code]

And thanks for the report! I will close this issue, and feel fre

[2017-07-08 01:21] #192 closed

[2017-07-08 01:22] #217 closed

[2017-07-08 07:45] chhsiao90 commented on #242
@carofe82 - #244 had been release with v1.1.0, please have a try! thanks.

[2017-07-08 07:45] #242 closed

[2017-07-08 07:46] chhsiao90 commented on #217
@tavolate - we had #255 to be released with v1.1.0. Please have a try and see it can fix your problem, thanks!

[2017-07-08 07:47] chhsiao90 commented on #194
@gbsmit03 - this had been release to v1.1.0, please have a try, thanks!

[2017-07-08 07:48] chhsiao90 commented on #249
@tomorrow10 - This had been fixed by v1.1.0, please see that it fixed your problem, thanks!

[2017-07-08 07:49] chhsiao90 commented on #230
@GiritharanR - we had the skipNull feature to be released with v1.1.0, please take a try!

[2017-07-08 07:49] #230 closed

[2017-07-08 16:14] carofe82 commented on #242
Thank you! I'll give it a try this week.

[2017-07-10 07:52] tomorrow10 commented on #249
@chhsiao90 hi, i tested it and it seems to b working correctly now

[2017-07-10 10:52] jackpf commented on #254
Hi,

So it seems this only happens when one of the DTOs is in another module.
See here: https://github.com/jackpf/modelmapper-gh254

That project should fail, however if you use the RequestFromSamePackage (uncomment in Gh254Application.java, and use the propertyMapFromSamePackage in Config.java), it should work.

Is this a potential bug? I've managed to get it to work in my project by extending th

[2017-07-10 13:51] jackpf commented on #254
Yeah it looked something like that

[2017-07-10 23:52] chhsiao90 commented on #254
ok, then I think it might be an issue for spring-boot-devtools + cglib, I will try to create a minimum reproducible code.

[2017-07-13 06:24] XabierGoros opened #256 "Status with Kotlin"
Hello,

What's the library status with Kotlin?

Thanks a lot

[2017-07-14 19:41] tobiasrdm opened #257 "Add mapList methods to ModelMapper"
Add mapList methods to ModelMapper to allow iterate by each element of the source list and map it to destination type, generating one list of fully mapped instances of destination type.

[2017-07-17 19:44] palmeirense1099 opened #259 "Skipping Properties documentation error"
The 'Skipping Properties' documentation says the "null value is unused". But that is not the case. This assumes that you are mapping from a source object with values to a new destination object without values (nulls). But what if you are mapping between two objects with values? In that case it DOES use the null and wipes out the destination value.

The way I found around this was to use the follow

[2017-07-17 19:56] ffradegrada commented on #140
@jhalterman i ended in this issue because i was looking for something else, but your answer fix perfectly my doubts! I think that model mapper documentation is poor, but it's an amazing tool.

Thanks!

[2017-07-17 19:58] jhalterman commented on #140
@ffradegrada The docs could certainly use improvements. Would love to hear suggestions if you have any. The docs repository is also on github so pull requests are welcome!

https://github.com/modelmapper/modelmapper.github.io

[2017-07-18 11:06] ikettu opened #260 "Can not map classes with properties of type EnumSet"
[EnumSetMappingTest.zip](https://github.com/modelmapper/modelmapper/files/1155640/EnumSetMappingTest.zip)
Trying to map classes with similar EnumSets fails with exception. Attached test works on ModelMapper version 0.7.6 but not 1.1.0

I have tried modify converter and tried to configure provider but have not had any success.

Test:
[code]

[2017-07-20 19:12] #257 closed

[2017-07-23 02:14] chhsiao90 commented on #256
I'm not familiar with Kotlin. But I think it might be just like Android, we cannot full support Kotlin/Android.

I guessed the thing we can support on Kotlin/Android is [implicit mapping](http://modelmapper.org/getting-started/#mapping), and the thing we cannot support is [explicit mapping](ehttp://modelmapper.org/getting-started/#xplicit-mapping).

[2017-07-23 02:18] chhsiao90 commented on #259
AFAIK, ```skip().setField1(source.getField1())``` is same as ```skip().setField1(null)```
The value on the destination's setter doesn't matter when we want to skip a destination property.
We always need pass a value as a parameter when we call the destination's setter. So that's why ```null``` is here.

[2017-07-23 02:54] chhsiao90 commented on #260
It looks like 5933cf1215d5ac35cdce6ec83edf3787140ebde7 break the test after I used git bisect to determine the bad commit. I will take a look what's happen.

[2017-07-23 03:30] chhsiao90 commented on #260
@ikettu - I think it's some restriction with the usage of cglib please check the commit https://github.com/cglib/cglib/commit/c070390c71810f3137b4ef27e1827f2784f1ee2f.

We used some proxy methodology for generating explicit mapping, and we used cglib for our methodology. And cglib think that some members that match 1. package-private 2. in BootstrapClassloader should not be proxied. So with the re

[2017-07-24 06:21] ikettu commented on #260
Using Set instead of EnumSet is not really workaround here when you have existing entities and DTO's already. Any way to get around this by using just providers/converters ??

But in my opinion, since EnumSet is part of Java, mapper should handle it correctly.

[2017-07-24 10:02] chhsiao90 commented on #260
Got it, that make sense, I will try to find out a better solution.

[2017-08-02 06:19] #173 closed

[2017-08-02 06:20] dongxurr123 commented on #173
@chhsiao90  thanks~~

[2017-08-04 06:41] alexspring123 commented on #99
I have the same problem，who fix it？

[2017-08-11 08:10] enobil commented on #254
Same issue. Any updates? I can provide a reproducible code if this issue is actively maintained, is it?

[2017-08-11 22:14] kibertoad commented on #1
What is the way to achieve this with validate?..

[2017-08-11 22:46] jhalterman commented on #1
I think the idea behind this issue was that we would automatically run validate before the first `ModelMapper.map` attempt for some `TypeMap `which would cause the `map` attempt to fail if some destination properties are unmapped. Each time the TypeMap changes, we'd need to flag it for validation again the next time `ModelMapper.map` is called.

[2017-08-11 23:05] kibertoad commented on #1
That's a good idea, actually. Need help to implement that?

[2017-08-11 23:07] jhalterman commented on #1
I'll leave it to @chhsiao90 to consider implementation since he owns the project now. I just wanted to at least share what I was (probably) thinking when I wrote this :)

[2017-08-12 00:49] chhsiao90 commented on #1
Recently I'm a little busy at my side project, I'm not sure that I have time to pick this up. PR is welcome😄 .

Is that we can describe this issue with ```Adds a configuration flag, maybe called validateEveryTime, and when we enabled this flag, the modelMapper will validate the map and the destination every time when a mapping action happened.```

[2017-08-12 00:51] jhalterman commented on #1
I hope the implementation doesn't need to validate every time, just after the TypeMap changes, if that makes sense? Maybe `validateBeforeMap` for the configuration name?

[2017-08-12 01:07] chhsiao90 commented on #1
Got it, that makes sense!

[2017-08-14 18:46] kibertoad opened #261 "Clarify thread safety in ModelMapper javadoc"
Currently it is unclear whether it is safe to use model mapper singleton. There seems to be some sort of state that is used to at least perform post-mapping validation; is that a show-stopper for reusing same model mapper instance across multiple threads?

[2017-08-14 18:47] kibertoad commented on #261
It is already in documentation - http://modelmapper.org/user-manual/faq/

Should be nice to have same info in javadoc.

[2017-08-14 18:54] jhalterman commented on #261
Definitely use as a singleton. Recommended!

Agree that the ModelMapper, TypeMap, etc., classes/interfaces could have a simple note at the top in the Javadoc that mentions "threadsafe".

[2017-08-23 06:17] SomeDude1234 opened #262 "Map own java class to and from enum issue"
Hi,

I'm having an issue with the following:
We have an own java class and we have to map several enums to and from this class.

For a boolean I'm using the abstractconverter without problem, but when I use Enum the converter is not used (I think he keeps using the default enumconverter from modelmapper).
Only thing that works is for each enum, create a converter but that's a hell of a job.
How ca

[2017-08-24 06:44] philbayer opened #263 "ModelMapper double mapping a value"
I have two objects, an RO and a DTO, and I am mapping from the RO to the DTO with ModelMapper.
The RO has a field called driverPaymentAccountId.
The DTO has a field called driverPaymentAccountId and also a field called driverPaymentId.

ModelMapper is writing the field from the RO to both fields in the DTO.

This does not seem like normal behavior:  first, driverPaymentAccountId is not the same as

[2017-08-24 12:15] panosmitronikas opened #264 "Class Loader problem when used as a module in Wildfly"
We are using ModelMapper as a Wildfly module.
When we redeploy a project that had already used modelmapper before, then we get class cast exceptions of the form:

java.lang.ClassCastException: com.our.path.OurClass$$EnhancerByModelMapper$$e29376df cannot be cast to com.our.path.OurClass

A restart of Wildfly fixes the problems.

It appears that ModelMapper cashes some objects we use in typeMaps an

[2017-08-26 10:10] chhsiao90 commented on #264
Is it a problem about hot re-deployment? I'm not familiar with Wildfly.
But with your given information, I guessed that your model classes had been reloaded (in different classloader), but modelmapper don't. So maybe you can try when the project reload, also reload the modelmapper.

[2017-08-26 10:19] chhsiao90 commented on #263
Yeah, that's some restriction or flaw for ModelMapper about field name matching. Currently, ModelMapper's behavior is to map each destination property to a matched source property, so it didn't know about that some source property had been mapped to a destination property.

I think  there is always a better way or more clear way to implement the matching strategy, but it takes a lot of afford, and

[2017-08-26 10:21] chhsiao90 commented on #262
Can you provide your source code or minimum reproducer that the custom enum->myClass not working? AFAIK, custom converter always have high priority than predefined converter. Thanks!

[2017-08-26 13:03] philbayer commented on #263
For the time being, I have added an extra field to the source object (which
will always be null) in order to ensure the other field doesn't get mapped
to the wrong value.  This is not ideal of course, and I believe it warrants
a solution.

It sounds to me like modelMapper is not actually creating a Map to store
the values of mapped source and destination fields.  Otherwise, a simple
query of the m

[2017-08-28 06:08] SomeDude1234 commented on #262
public class EnumToMyObjectConverter extends AbstractConverter<Enum, String> {

    @Override
    protected String convert(Enum aEnum) {
        if(aEnum != null) {
            return aEnum.name();
        }
        return "";
    }
}

I add converters:
modelMapper.addConverter(new EnumToMyObjectConverter());

Enum sample
public enum Day {
    SUNDAY, MONDAY, TUESDAY, WEDNESDAY,
    THURSDAY, FRID

[2017-08-28 07:48] panosmitronikas commented on #264
Thanks for your fast reply

Yes indeed it appears to be a classloader problem. We are going around it for now by not using modelmapper as a module (in this case modelmapper also reloads in each re-deployment) but we were wondering if there is a way that we can force modelmapper to recreate these cashed classes when there is such an exception or if there is a way to tell modelmapper to recreate its

[2017-08-31 11:16] Vadus opened #265 "ModelMapper should support Builder Pattern"
By default the ModelMapper passes values from a source bean to a target bean by getter and setter methods. However, if immutable DTOs, instead of POJOs, should be created ModelMapper should support the Builder pattern.

For instance: We want to map from a mutable Source (e.g. Entity) to a immutable Target DTO

`
class Source {

    private Long a;
    private String b;

    public Long getA() {

[2017-09-02 04:28] chhsiao90 commented on #262
Hi @SomeDude1234
You should try ```AbstractConverter<Day, String>``` instead of ```AbstractConverter<Enum, String>```, because ModelMapper will select a converter or type map by ```<Day, String>``` instead of ```<Enum, String>```.

[2017-09-03 17:09] SomeDude1234 commented on #262
@chhsiao90
That's my problem: I have multiple enum types and I don't want to make a converter for each enum!
I see there is a default enumconverter so I believe it should be possible to override this one somehow

[2017-09-05 08:20] dharaoza commented on #64
I have the same problem can you please help me to solve.
The destination property com.measureone.vo.OrgApplicationPerson.setPersonParty()/com.measureone.vo.Party.setModifiedByPersonParty() matches multiple source property hierarchies:

	com.measureone.dto.UserDTO.getModifiedByPersonPartyName()
	com.measureone.dto.UserDTO.getModifiedByPersonPartyId()

[2017-09-05 08:37] dharaoza commented on #239
I have the same problem can you please help to solve.
The destination property com.measureone.vo.OrgApplicationPerson.setPersonParty()/com.measureone.vo.Party.setModifiedByPersonParty() matches multiple source property hierarchies:

	com.measureone.dto.UserDTO.getModifiedByPersonPartyName()
	com.measureone.dto.UserDTO.getModifiedByPersonPartyId()

[2017-09-05 23:37] chhsiao90 commented on #262
@SomeDude1234
Please try adding your own ConditionConverter to ModelMapper's own converter store.

[code]

[2017-09-06 00:51] chhsiao90 commented on #239
I guessed that we need to improve our matching strategy that it looks like it didn't fulfill some situation, and make confused...

Currently, for similar situation maybe you can try
- Use explicit mapping and skip the destination properties
- Use setAmbiguityIgnored
- Use Strict Matching Strategy

[2017-09-06 06:34] SomeDude1234 commented on #262
@chhsiao90
Works better but sourceType.isAssignableFrom(Enum.class) is never true (cause it's my enum that is passed, not the enum). Quick fix is sourceType.getGenericSuperclass().getTypeName().startsWith("java.lang.Enum")  but that's a bit dirty imo :)

[2017-09-12 17:30] ninaolo opened #267 "Combining skip() and setPropertyCondition() doesn't skip in 1.1.0 but it does in 0.7.5"
When combining `skip()` with `setPropertyCondition()` the `skip()` no longer seems to work.

An example:

[code]

This test fails and throws a NPE ("BAD"). When removing the `setPropertyCondition(...)` line, the test is green. It seems like this problem was introduced when we switched from `0.7.5` to `1.1.0`. I tried switching back to `0.7.5`, and then the above `test()` is green.

Below is the st

[2017-09-13 14:09] dmtrvld opened #268 "Cann't map marker object"
I have object(B) without fields, next object aggregate this object(A).
And when I try map this object(A) (Has instance) when object(B) is null,

org/modelmapper/internal/MappingEngineImpl.java:292
[code]
Object A also will be null?

[2017-09-14 02:54] wyzssw opened #269 "modelmapper can not map string -> list if add propertyMap"
I can produce it by following code

[code]

Exceeption is
[code]

[2017-09-14 15:11] #268 closed

[2017-09-15 03:13] rajeshmepco commented on #99
I too have the same problem. Is there any solution to this?

[2017-09-19 12:37] jelgh commented on #267
+1

[2017-09-19 20:44] Shinryuken opened #270 "Data Projection to a Jaxb generated structure"
Hi, i was making some tests with modelmapper and i noticed the loose matching strategy, i have a jaxb generated model as destination and a simple flat object as source (it contains all the leaf fields of the destination model). I'm not able to map the nested fields on the destination, looks like that the collections and wrapper objects (multioccurence xml elements: contains only a collection with

[2017-09-21 09:43] lovabill commented on #242
Same for primitive int. Thank you.

[2017-10-02 12:28] zegl opened #271 "Validation passes even when there is no setter"
In a scenario where you're trying to map class `A` to `A` (for demo purposes):

I would expect `new ModelMapper().typeMap(A.class, A.class).validate();` to throw an exception because there is no setter corresponding to `getProperty()`.

Is this working as intended? Is there a way to get `.validate()` to not work in this case?

[code]

I have created a simple application that demonstrates the issue

[2017-10-06 10:26] idntfy commented on #243
any update on this? faced the same issue

[2017-10-06 10:33] idntfy commented on #265
You can just map to builder instance, in our project we do it for our protobuf-generated sources and it works fine.

Like

[code]

Pretty generic, and obviates the need to have a super-smart pattern-recognition logic in ModelMapper.

[2017-10-09 09:17] chhsiao90 commented on #271
Hi @zegl - Thanks for the report.

The validate method is used to validate ```destination's properties must be mapped by a source property```.
For your case, A doesn't have any setter, so ModelMapper think that the TypeMap is valid.

For another case as an example, if we got an another class B that have no field/getter/setter.
[code]
What do you think the expected behavior ```new ModelMapper().typ

[2017-10-09 10:13] chhsiao90 commented on #270
Hi @Shinryuken -
Thanks for your report.
I think list is list, object is object, to map each other is dangerous, I don't think it's a good practice.
And ModelMapper can recognize the list type and map, but only if that the source type and destination type are all iterable, you can reference [CollectionMapping3](https://github.com/modelmapper/modelmapper/blob/master/core/src/test/java/org/modelmapp

[2017-10-09 10:18] chhsiao90 commented on #269
```PropertyMap.configure``` only accept getter/setter, using(converter), when(condition), with(provider). Other things written in the method will probably break the ModelMapper.

Please try ```using(strToStringConverter).map(source.getSrc()).setList(null)``` in the ```configure()``` method, thanks.

[2017-10-09 11:19] #267 closed

[2017-10-09 11:20] #260 closed

[2017-10-09 11:23] chhsiao90 commented on #267
Fixed by #272 and will be released in next version

[2017-10-09 11:23] chhsiao90 commented on #260
Fixed by #266 and will be released in next version.

[2017-10-09 11:35] jelgh commented on #267
Thanks, any estimate on when that will be @chhsiao90 ?

[2017-10-09 12:17] chhsiao90 commented on #243
Hi, sorry... I don't have any update on this issue...
I know this issue is very important but I still don't have time to look at this issue...
I will take a look at this issue when I have time...

If anyone interested at this one, PR is welcome! Thanks!

[2017-10-09 12:19] chhsiao90 commented on #267
I will have a release this weekend!

[2017-10-09 15:38] wyzssw commented on #269
I get it,Thanks

[2017-10-09 20:13] kobbikobb commented on #243
Tried TestMappingWithNULLValue.convertDtoWithNullToProtoBufGenerated 10.000 times, no error...
Tried NotMappingValuesStartsWithW.mapping test 1000 times, no error...

[2017-10-12 04:19] chhsiao90 commented on #243
Hi @kobbikobb  - Comment the line here https://github.com/magdenkov/protobuf-modelmapper-problem/blob/master/src/main/java/com/vach/sample/ModelMapperFactory.java#L22 and the test will fail.

[2017-10-12 10:34] Shinryuken commented on #270
Hi chhsiao90,

thanks for your suggestions, i will take a look at them.

Shin

[2017-10-13 22:21] anticlockwise commented on #265
@idntfy it doesn't work for nested properties though...

[2017-10-13 22:30] anticlockwise commented on #265
I have tried supplying a provider that provides an instance of Builder for the model class, but there were errors when modelmapper tries to validate the constructed Builder against the destination type, which is the Model class... If I can somehow bypass the validation logic...

[2017-10-17 02:20] chhsiao90 commented on #260
The bugfix had been released with ModelMapper v1.1.1, please take a try, thanks!

[2017-10-21 19:00] smalam119 opened #273 "Issues when using firebase"
I am using Swift 3 (may not upgrade to 4 for some reason) and ModelMapper 6.0.0. Everything was going fine until I try to add firebase. After adding firebase and model mapper is throwing some error. e.g.
**/Users/sayedmahmudulalam/insuree_user/Pods/ModelMapper/Sources/NSURL+Convertible.swift:13:24: Invalid redeclaration of 'fromMap'**
**/Users/sayedmahmudulalam/insuree_user/Pods/ModelMapper/Source

[2017-10-21 19:42] #273 closed

[2017-10-22 21:21] tommus opened #274 "NPE after adding custom mapping with PropertyMap"
Does this library support Android?

I am creating an application and decided to use [modelmapper](https://github.com/modelmapper/modelmapper) (great work BTW!).

Until now, I had no problems with using mapper (simple POJOs, conventional mapping) but since yesterday I am trying to add custom mapping definition for my model from Firebase. Once I did this - I cannot resolve the issue with NPE excepti

[2017-10-23 01:52] chhsiao90 commented on #274
Hi, thanks for the report!

ModelMapper currently doesn't support Android well (explicit mapping). Please reference #87 for more detail. And I guessed that it throw NullPointerException instead of a more meaningful exception is caused by the bugfix of #260 (I think I can take a look for this part).

Support Android/Kotlin is a huge work I'm not sure that I had time to implement that..

[2017-10-27 10:01] mrshawn191 opened #276 "How to convert list of enums to int array?"
How to convert list of enums to int array?

Do I need a converter, how would that look?

Thanks in advance.

[2017-10-29 00:10] kobbikobb commented on #276
private enum Color {
        GREEN(0),
        BLUE(1),
        BLACK(2);

        private final int value;

        Color(int value) {
            this.value = value;
        }

        public int getValue() {
            return value;
        }
    }

    @Test
    public void shouldMapEnumArrayToIntArray() {
        ModelMapper modelMapper = new ModelMapper();
        Converter<Color, Integer>

[2017-10-30 23:34] JuricaJaman commented on #269
can u provide full example??

[2017-10-30 23:55] JuricaJaman commented on #269
got it working not sure why it works like that , spend few hours to make it work with split string

[2017-11-01 10:42] wyzssw commented on #269
@JuricaJaman
[code]

[2017-11-01 11:22] JuricaJaman commented on #269
@wyzssw thanks, got it the same :)

[2017-11-02 13:05] mrshawn191 commented on #276
thank you for the help

[2017-11-02 14:05] wudong opened #277 "Best practise of using ModelMapper"
So we have many classes to map; they scatter across many packages in their own domain.

I want to use ModelMapper reduce code clustering to but not sure what's the best practise of using it. My main question so far is:

Should a single instance of ModelMapper exists in the whole application, which will then contain many mapping definition from different places?

Or is it ok to have a ModelMapper c

[2017-11-02 20:17] kobbikobb commented on #276
Np

[2017-11-03 22:30] #276 closed

[2017-11-08 07:28] SomeDude1234 opened #278 "Map<String, List<SomeObject>>: not mapped"
Hello,

I need to map an Object that contains a Map<String, List<OtherObject>> to my own classes.
But the List with OtherObject seems not to be mapped to my classes but to the same classes resulting in a classcastexception. Is this a bug or am I missing some config setting?

Sample code:
`public class MapWithListBug {

    private ModelMapper modelMapper;

    @Before
    public void init() {

[2017-11-13 14:13] jdhenckel commented on #239
I would really help if you can provide a helper function such as this:  AddTwoWayMapping(Foo.class, Bar.class, Foo:getVehicleId, Bar:getVIN);   The one thing that automapper is missing is a simple "one liner" to add a two way mapping between certain fields in certain classes.  If this is possible, can you please post some sample code on this thread?

[2017-11-15 00:57] d0x opened #279 "Map multiple properties into one"
Is it possible to enhance the api so that the user can define a list of source properties which are mapped to a single destination property? Or maybe an Converter API that takes the full source object instead of a single field?

I have an usecase which is similar to concatenating a `firstname` and `lastname` into a `fullname`.

The only way to do this over `PropertyMap`s and a `Converter` feels ha

[2017-11-19 11:39] fssrepository commented on #265
builder pattern is cumbersome, i used most of the time in test code, and i realized that it's very painful to change. In test i would use json load and jackson. In real code most of the time we are not getting the information from the client, transforming and saving. (No real use of builder pattern)

[2017-11-19 11:41] fssrepository opened #280 "merge functionality - feature request"
ModelMapper is making a good job on transformation between dto and entity.

Can i use ModelMapper for merge?

We have a list of dto objects, which has unique string based identifiers, entity also has that, but the dtos
do not contain the primary key of the table naturally.

I would like to update the entity from the updated dto. It can be standardized also, instead of making similar boilerplate co

[2017-11-23 16:06] christoph-lucas opened #281 "Registered PropertyMap not used for mapping"
We observed the following strange behaviour: Consider the following source types

[code]

that we want to map onto the following target types:

[code]
Since there is a naming difference in the address types, we have to create a corresponding `PropertyMap`:

[code]

Then this map needs to be registered with `ModelMapper`. How exactly this is done has a strong influence on the outcome. We would expe

[2017-11-25 09:52] rieonke opened #282 "Feature Request: Allow mapper to map instance to abstract class"
hello,
I want to map a object to a abstract class (eg, interface) instead of concrete class.
[code]
then, map the `Account ` to interface `IAccount` by creating a dynamic proxy object to implement it.

Do we need this ?

I think it's very useful. cause we use interfaces to pass some immutable variables btw tiers, such as DTO, we deserialize a JSON to an `interface` to initialize DTO by create a dy

[2017-11-26 08:53] bstrandjev opened #283 "Implicit property mapping based on naming overrides explicit"
After I create the issue I will add code to demonstrate the issue

[2017-11-26 09:02] bstrandjev commented on #283
[This commit](https://github.com/bstrandjev/modelmapper/commit/75d6590773b6656076a9d4c71473c31a77b9f221) features a test demonstrating the issue. It also includes my proposal for logic to fix it.

However, with these changes ProviderTest2#shouldMapWithPropertyProviderViaPropertyMap fails.

I do not entirely understand how providers should work and thus can not figure out the correct logic to addre

[2017-11-26 09:07] bstrandjev commented on #283
The issue in the test is that the `unverifiedRequester` field in the `Requester` class, matches the by name and the name of the mapped property in this explicit mapping:

`map(source.getRequester()).setRequester(null);`

And thus results in all requester properties being null in the resulting object (in the test the `unverifiedRequester` is never initialized and thus remains `null`)

[2017-11-29 08:58] chhsiao90 commented on #281
It's expected behavior.

When you setup the TypeMap<Person, PersonDTO> before adding AddressMap,
modelmapper will create a TypeMap contains three mappings.
- firstName -> firstName
- lastName -> lastName
- address.number -> address.number
So there is no help to add AddressMap after the TypeMap<Person, PersonDTO> created.

For another case, if you setup the TYpeMap<Person, PersonDTO> after adding t

[2017-11-29 09:02] chhsiao90 commented on #280
I think we can merge properties into one entity/dto, but it still had some restriction.
Maybe you can try this
[code]
You might also need to set PropertyCondition to prevent the entity field to be overwrite with null value
[code]

[2017-11-29 13:28] christoph-lucas commented on #281
@chhsiao90: Thank you very much for your reply. Yet, I am not sure I completely understand. It would be great if you could help me with the following questions:

- So registering the `AddressMap` after creating the type map for `Person` (example 1) has no effect at all? That means, a configuration like that is actually wrong. Wouldn't it be better to inform the programmer by throwing an exception

[2017-11-30 02:57] chhsiao90 commented on #277
I think it's okay to maintain multiple ModelMapper instances.

[2017-11-30 03:31] jhalterman commented on #277
Agree - nothing wrong with having multiple ModelMapper instances. Only thing to note is each instance will maintain its own TypeMaps, which are the definition of how one type maps to another. If each of your ModelMapper instances map the same types, then there's probably no point to having multiple instances. If you need to vary the configuration for mapping between two types, you can also use a n

[2017-11-30 06:57] julianosam commented on #199
The following is not working for me. Can you please help me understand why? Notice the AssociateName is supposed to be immutable. Could this be the issue here? Thanks!

[code]

Here's my entity and dto classes:

[code]

[2017-12-07 12:51] mdzhigarov opened #284 "OSGi Import-Package list is wrong in the dependency-reduced pom"
This is the complete list of import packages in the jar that is generated from the dependency-reduced pom:

[code]

As you can see, asm and objenesis are part of the required packages.
But in fact they are shaded into the modelmapper jar so they must be excluded

[2017-12-07 15:05] mdzhigarov commented on #284
Additionally, it seems that the Shade plugin is embedding classes from asm, objenesis and typetools into some internal modelmapper package, i.e:
org.modelmapper.internal.typetools instead of net.jodah.typetools

Instantiating the ModelMapper then fails with java.lang.NoClassDefFoundError: net/jodah/typetools/TypeResolver, since such class is not available on the runtime since it was shaded under a

[2017-12-07 15:14] jhalterman commented on #284
Are you up for sending a PR for this?

[2017-12-07 20:53] rhanton opened #285 "ModelMapper struggles with Java types BigInteger & BigDecimal"
It looks like there was a fix for this in https://github.com/modelmapper/modelmapper/issues/46, but that code is not present in master anymore for some reason. Can someone work on merging that fix back in?